<p id="notice"><%= notice %></p>

<h1>Organisational Units</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Geographic region</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @organisational_units.each do |organisational_unit| %>
      <tr>
        <td><%= organisational_unit.name %></td>
        <td><%= organisational_unit.geographic_region %></td>
        <td><%= organisational_unit.country %></td>
        <td><%= link_to 'Show', organisational_unit %></td>
        <td><%= link_to 'Edit', edit_organisational_unit_path(organisational_unit) %></td>
        <td><%= link_to 'Destroy', organisational_unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organisational Unit', new_organisational_unit_path %>
