
<div class="bg-body-color py-3"></div>
<div class="row">
  <div class="col-md-12">
    <div class="card border-0 text-center position-relative overflow-hidden">
      <%= form_tag organisation_journey_path("invite_user/#{@region_operator.lower_name}/#{@country_operator.lower_alpha2}"), remote: true do %>
        <div class="card-body px-sm-5 p-3">
          <div class="d-flex justify-content-between my-3">
            <%= link_to organisation_journey_path("country_setup/#{@region_operator.lower_name}"), class: 'text-capitalize text-dark text-decoration-none' do %>
            <span><i class="fa fa-arrow-left" aria-hidden="true"></i></span>  
              <span class="ml-2 text-black">Back</span>
            <% end %>
            <%= button_tag type: 'submit', class: 'wait-loader text-capitalize text-dark text-decoration-none border-0 bg-transparent' do %>
              <span class="mr-2">Next</span>
              <span><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
            <% end %>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <i class="flag <%= @country_operator.lower_alpha2 %>"></i>
            <h1 class="text-dark font-30 text-black"><%= @country_operator.name %></h1>
          </div>
          <p class="font-13 font-xxl-14 mx-auto font-500 my-4 text-black">Please tell us about the institution types that operate in this country.
          </p>
          <div class="h-600">
            <div class="w-sm-75 w-100 mx-auto px-sm-0 px-2">
              <% institution_units = @country_unit.children %>
              <% @all_institutions.each do |institution| %>
                <% selected_institution_units = institution_units.where(institution_id: institution.id) %>
                <div class="form-group mb-4 institution-block">
                  <label class="d-flex justify-content-between align-items-center custom-checkbox px-0 pb-4 border-bottom" for="<%= "institution-#{institution.name}" %>">
                    <span class="text-uppercase font-14 font-400 text-capitalize text-left"><%= institution.name %></span>
                    <%= check_box_tag "institutions[#{institution.id}][name]", institution.name, institution_units&.pluck(:institution_id)&.include?(institution.id), class: 'form-control w-auto', id: "institution-#{institution.name}", 'data-toggle': 'collapse', 'data-target': "#institution-collapse-#{institution.id}" %>
                    <span class="checkmark position-relative"></span>
                  </label>
                  <div id="institution-collapse-<%= institution.id %>" class="collapse div1 <%= institution_units&.pluck(:institution_id)&.include?(institution.id) ? 'show' : '' %>">
                    <div id="institution-<%= institution.id %>">
                      <% if selected_institution_units.present? %>
                        <% selected_institution_units.each_with_index do |selected_institution_unit, index| %>
                          <%= render 'organisation/journeys/partials/institution', institution: institution, selected_institution_unit: selected_institution_unit, index: index %>
                        <% end %>
                      <% else %>
                        <%= render 'organisation/journeys/partials/institution', institution: institution, selected_institution_unit: nil, index: 0 %>
                      <% end %>
                    </div>
                    <%= link_to 'javascript:void(0);', 'data-institution': institution.id, 'data-target': organisation_build_institution_path, class: 'build-institution d-flex align-items-center text-left text-black mt-4' do %>
                      <i class="fa fa-plus-circle font-16"></i>
                      <span class="ml-1 font-12">
                        Add another <%= institution.name %> brand
                      </span>
                    <% end %>
                  </div>
                </div>
              <% end %>

              <div class="text-left mb-2">
                <i class="fa fa-plus-circle"></i>
                <span class="font-12 text-capitalize">add another</span>
              </div>
            </div>
          </div>
        </div>
        <div class="bottom-btns border-top py-3 bg-white">
          <div class="w-65 mx-auto">
            <div class="row w-100 mx-auto my-3">
              <div class="col-md-4 col-sm pr-md-1 px-auto mb-sm-0 mb-3">
                <%= link_to 'save & exit', 'javascript:void(0);', class: 'text-capitalize text-decoration-none border font-500 font-12 w-100 py-2 text-black rounded border-0 w-100 d-block bg-body-color wait-loader', id: 'journey-save-exit-institutions' %>
              </div>
              <div class="col-md-8 col-sm pl-md-1 px-auto">
                <%= submit_tag 'Next', class: 'text-capitalize dark-btn font-500 font-12 w-100 py-2 rounded border-0 wait-loader', id: 'journey-submit-institutions' %>
              </div>
            </div>
            <div class="horizondatl-eclipse">
              <span class="active-circle"><i class="fa fa-circle font-12" aria-hidden="true"></i></span>
              <span class="active-circle"><i class="fa fa-circle text-secondary font-12" aria-hidden="true"></i></span>
              <span class="active-circle"><i class="fa fa-circle text-secondary font-12" aria-hidden="true"></i></span>
            </div>
          </div>
        </div>
      <% end %> 
    </div>
  </div>
</div>
