<%= form_tag organisation_journey_path('product-channel'), remote: true do %>
  <div class="card-body w-75 mx-auto font-14 mt-4 border">
    <div class="row">
      <div class="col-sm-12">
        <p class="font-14 body-bg-color p-2">
          <strong>Question:</strong> Thank you for confirming the countries that you operate in. We now need to know what type of Banking institutions operate in each country, for each region. Please complete the tick boxes below.
        </p>
      </div>
      <div class="col-sm-12 mt-3">
        <div class="regions">
          <% organisational_unit.children.each do |regional_unit| %>
            <div class="region p-2">
              <%= "#{regional_unit.region} - #{regional_unit.children.size} Countries Selected" %>
            </div>
            <div class="countries p-2">
              <% regional_unit.children.each do |country_unit| %>
                <div class="country pb-2 d-flex justify-content-between align-items-center">
                  <span>
                    <%= Unit.find_country_by_code(country_unit.country).name %>
                  </span>
                  <div class="faded-popover-wrapper">
                    <div class="faded-popover-title">
                      Click to select Institutions
                      <i class="fa fa-expand"></i>
                    </div>
                    <div class="faded-popover-content d-none">
                      <div class="d-flex justify-content-between align-items-center px-2 mb-3">
                        <span class="faded-popover-close bg-white btn py-1 px-1 font-11 font-600">Confirm</span>
                        <i class="fa fa-times-circle-o close-i faded-popover-close"></i>
                      </div>
                      <% institution_units = country_unit.children %>
                      <% @institutions.each do |institution| %>
                        <div class="form-check d-flex align-items-center mr-2 form-group check-field">
                          <label class="form-check-label text-capitalize font-13 custom-checkbox" for="<%= "#{country_unit.country}-institution-#{institution.id}" %>">
                            <%= institution.name %>
                            <%= check_box_tag "institutions[#{country_unit.id}[#{institution.id}]]", institution.name, institution_units.pluck(:institution_id).include?(institution.id), class: 'form-check-input mt-0 shadow-none', id: "#{country_unit.country}-institution-#{institution.id}" %>
                            <span class="checkmark shadow-sm rounded"></span>
                          </label>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="w-75 mx-auto mt-4">
    <div class="progress custom-progress">
      <div class="progress-bar progress-bar" role="progressbar" style="width: 60%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="d-flex justify-content-between font-12">
      <span>Step 4</span>
      <span>60%</span>
    </div>
  </div>
  <div class="card-body w-75 d-flex p-0 mx-auto justify-content-between my-4">
    <%= link_to 'Back', organisation_journey_path('country-unit'), class: 'btn dark-btn text-capitalize w-25 rounded-0' %>
    <%= submit_tag 'Next', class: 'btn primary-btn text-capitalize w-25 rounded-0' %>
  </div>
<% end %>
