<div class="bg-body-color py-3"></div>
<div class="row">
  <div class="col-md-12">
    <div class="card border-0 text-center">
      <div class="card-body px-5">
        <%= form_tag organisation_journey_path("country_setup/#{@region_operator.lower_name}/#{@country_operator.lower_alpha2}"), remote: true do %>
          <% index= 0 %>
          <div class="d-flex justify-content-between my-3">
            <%= link_to organisation_journey_path("institutions/#{@region_operator.lower_name}/#{@country_operator.lower_alpha2}"), class: 'text-capitalize text-dark text-decoration-none' do %>
              <span><i class="fa fa-arrow-left" aria-hidden="true"></i></span>
              <span class="ml-2 text-black">Back</span>
            <% end %>
            <%= link_to organisation_journey_path("country_setup/#{@region_operator.lower_name}"), class: 'text-capitalize text-dark text-decoration-none' do %>
              <span class="mr-2 text-secondary">Next</span>
              <span><i class="fa fa-arrow-right text-secondary" aria-hidden="true"></i></span>
            <% end %>
          </div>
          <h2 class="text-capitalize font-300">Invite administrator</h2>
          <p class="font-12 font-xxl-14 p-3 bg-body-color my-4">As a part of the onboarding wizard, we recommend that firms federate administration responsibilities to the various business unit and entities across their organisation</p>
          <p class="font-12 font-xxl-14">Please provide the details for users in this region. Users can be set up as a <strong>"Super User"</strong> or <strong>"Standard User"</strong>. Super user can add new, update and amend existing business service & supplier records. Standard Users can only view existing records.</p>
          <ul class="nav nav-tabs d-flex justify-content-even mt-5 custom-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active border-0 p-0 pb-2 bg-transparent text-black" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Name & Email Addresses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link border-0 p-0 pb-2 bg-transparent text-black" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Add Many At Once</a>
            </li>
          </ul>
          <div class="tab-content py-4" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <div id="user-invitation">
                <%= render 'organisation/journeys/partials/user_invitation', index: index %>
              </div>
              <div class="row mb-4 mt-2 no-gutters">
                <div class="col-md-12 text-left px-1">
                  <%= link_to 'javascript:void(0);', 'data-target': organisation_build_user_invitation_path, class: 'build-user-invitation d-flex align-items-center text-left text-black mt-4' do %>
                    <i class="fa fa-plus-circle font-16"></i>
                    <span class="ml-1 font-12">
                      Add another
                    </span>
                  <% end %>
                </div>
              </div>
              <div class="row no-gutters">
                <div class="col-md-12 px-1">
                  <%= text_area_tag 'users[single][message]', nil, class: 'form-control font-12', placeholder: 'Add a personalised invite message', cols: '30', rows: '4' %>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <div class="row mb-4">
                <div class="col-md-9">
                  <%= text_area_tag 'users[multiple][csv]', nil, class: 'form-control font-12', placeholder: 'Email Addresses (Seperate emails with a comma)', cols: '30', rows: '4' %>
                </div>
                <div class="form-group col-md-3">
                  <%= select_tag 'users[multiple][permission]', options_for_select(Manager.permissions.map { |k, v| [k.titleize, k] }),prompt: 'Permissions', multiple: false, class: 'form-control w-100 font-12 shadow-none' %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <%= text_area_tag 'users[multiple][message]', nil, class: 'form-control font-12', placeholder: 'Add a personalised invite message', cols: '30', rows: '4' %>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-md-12 text-left">
                <%= submit_tag 'Send Invitation', class: 'btn dark-btn border-0 py-2 font-12 font-600 px-4 wait-loader'%>
              </div>
            </div>
          </div>
        <% end %> 
      </div>
    </div>
  </div>
</div>
