<%= form_tag organisation_journey_path('invite-user'), remote: true do %>
  <div class="card-body w-75 mx-auto font-14 mt-4 border">
    <div class="row">
      <div class="col-sm-12">
        <p class="font-14 body-bg-color p-2">
          <strong>Question:</strong> : Thank you for confirming the types of financial institutions that your firm operates. We now need to know the types of products that your firm provides to customers as well as the channels that those products are delivered through.
        </p>
      </div>
      <div class="col-sm-12 mt-3">
        <div class="regions">
          <% organisational_unit.children.each do |regional_unit| %>
            <div class="region p-2">
              <%= regional_unit.region %>
            </div>
            <div class="countries p-2">
              <% regional_unit.children.each do |country_unit| %>
                <div class="country pb-2 bg-secondary-green text-white p-2 mb-2">
                  <%= Unit.find_country_by_code(country_unit.country).name %>
                </div>
                <div class="institutions ml-3">
                  <% country_unit.children.each do |institution_unit| %>
                    <div class="institution pb-2 d-flex justify-content-between align-items-center">
                      <%= institution_unit.name %>
                      <div class="faded-popover-wrapper">
                        <div class="faded-popover-title">
                          <span>Click to select Products & Channels</span>
                          <i class="fa fa-expand"></i>
                        </div>
                        <div class="faded-popover-content d-none">
                          <div class="d-flex justify-content-between align-items-center px-2 mb-3">
                            <span class="faded-popover-close bg-white btn py-1 px-1 font-11 font-600">Confirm</span>
                            <i class="fa fa-times-circle-o close-i faded-popover-close"></i>
                          </div>
                          <% unit_products = institution_unit.unit_products %>
                          <% @products.each do |product| %>
                            <div class="accordion-wrapper">
                              <div class="accordion-title d-flex justify-content-between mb-1">
                                <div class="form-check d-flex align-items-center mr-2 mb-0 form-group pl-0">
                                  <label class="form-check-label text-capitalize font-13 custom-checkbox" for="<%= "#{institution_unit.id}-product-#{product.id}" %>">
                                    <%= product.name %>
                                    <%= check_box_tag "products[#{institution_unit.id}[#{product.id}]]", product.name, unit_products.pluck(:product_id).include?(product.id), class: 'form-check-input mt-0 shadow-none', id: "#{institution_unit.id}-product-#{product.id}" %>
                                    <span class="checkmark shadow-sm rounded"></span>
                                  </label>
                                </div>
                                <div class="accordion-arrow">
                                  <a class="text-white" href="javascript:void(0);">
                                    <i class="fa fa-angle-down fa-2x"></i>
                                  </a>
                                </div>
                              </div>
                              <div class="accordion-content d-none">
                                <% unit_product_channels = unit_products.select { |up| up.product_id == product.id }.first&.unit_product_channels || [] %>
                                <% @channels.each do |channel| %>
                                  <div class="form-check d-flex align-items-center mr-2 form-group check-field">
                                    <%= check_box_tag "channels[#{institution_unit.id}[#{product.id}[#{channel.id}]]]", channel.name, unit_product_channels.pluck(:channel_id).include?(channel.id), class: 'form-check-input mt-0 shadow-none', id: "#{institution_unit.id}-product-#{product.id}-channel-#{channel.id}" %>
                                    <label class="form-check-label text-capitalize font-13" for="<%= "#{institution_unit.id}-product-#{product.id}-channel-#{channel.id}" %>">
                                      <%= channel.name %>
                                    </label>
                                  </div>
                                <% end %>
                              </div>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="w-75 mx-auto mt-4">
    <div class="progress custom-progress">
      <div class="progress-bar progress-bar" role="progressbar" style="width: 80%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="d-flex justify-content-between font-12">
      <span>Step 5</span>
      <span>80%</span>
    </div>
  </div>
  <div class="card-body w-75 d-flex p-0 mx-auto justify-content-between my-4">
    <%= link_to 'Back', organisation_journey_path('institution-unit'), class: 'btn dark-btn text-capitalize w-25 rounded-0' %>
    <%= submit_tag 'Next', class: 'btn primary-btn text-capitalize w-25 rounded-0' %>
  </div>
<% end %>
