<div class="row">
  <div class="col-md-12">
    <div class="card border-0 text-center">
      <div class="card-body px-5">
        <%= image_pack_tag 'media/images/onboarding.png' %>
        <h1 class="text-dark font-30 text-black">Welcome to OpRes</h1>
        <p class="font-13 w-75 mx-auto font-500 my-5 text-black font-xxl-14">In order to create the best experience for you, we need to ask a few simple
          questions. this will allow us to configure the application and data model so it fits your business and operational resilience targets.
        </p>
        <button class="text-capitalize dark-btn btn font-500 font-12 w-25 py-2 mb-5">Lets get started</button>
      </div>
      <div class="horizondatl-eclipse">
        <span class="active-circle"><i class="fa fa-circle font-12" aria-hidden="true"></i></span>
        <span class="active-circle"><i class="fa fa-circle text-secondary font-12" aria-hidden="true"></i></span>
        <span class="active-circle"><i class="fa fa-circle text-secondary font-12" aria-hidden="true"></i></span>
      </div>
    </div>
  </div>
</div>
<div class="bg-body-color py-3"></div>
<div class="row">
  <div class="col-md-12">
    <div class="card border-0 text-center">
      <div class="card-body px-5">
        <div class="d-flex justify-content-between my-3">
          <a href="" class="text-capitalize text-dark text-decoration-none ">
            <span><i class="fa fa-arrow-left" aria-hidden="true"></i></span>
            <span class="ml-2 ">Back</span>
          </a>
          <a href="" class="text-capitalize text-dark text-decoration-none">
            <span class="mr-2">Next</span>
            <span><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
          </a>
        </div>
        <h1 class="text-dark font-30 text-black">Organisation Name</h1>
        <div class="w-50 mx-auto">
          <p class="font-13 font-xxl-14 mx-auto font-500 my-4 text-black">This should be legal trading name. As an example "Acme Banking Holdings PLC"
          </p>
          <div class="form-group">
            <input type='text' class="form-control" placeholder="Organisation name" />
          </div>
          <button class="text-capitalize dark-btn btn font-500 font-12 w-100 py-2 mb-5">Next</button>
        </div>
        <div class="horizondatl-eclipse">
          <span class="active-circle"><i class="fa fa-circle font-12" aria-hidden="true"></i></span>
          <span class="active-circle"><i class="fa fa-circle text-secondary font-12" aria-hidden="true"></i></span>
          <span class="active-circle"><i class="fa fa-circle text-secondary font-12" aria-hidden="true"></i></span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-body-color py-3"></div>
<div class="row">
  <div class="col-md-12">
    <div class="card border-0 text-center">
      <div class="card-body px-5">
        <div class="d-flex justify-content-between my-3">
          <a href="" class="text-capitalize text-dark text-decoration-none ">
            <span><i class="fa fa-arrow-left" aria-hidden="true"></i></span>
            <span class="ml-2 text-black">Back</span>
          </a>
          <a href="" class="text-capitalize text-dark text-decoration-none">
            <span class="mr-2 text-secondary">Next</span>
            <span><i class="fa fa-arrow-right text-secondary" aria-hidden="true"></i></span>
          </a>
        </div>
        <h1 class="text-dark font-30 text-black">Operating Regions</h1>
        <div class="w-50 mx-auto">
          <p class="font-13 font-xxl-14 mx-auto font-500 mt-4 text-black">Please tell us the regions that your organisation operates in?
          </p>
          <span class="font-11 font-xxl-12 mb-4 d-block font-500">(You can select more than one region. If you forget to add a region, this can be updated later on).</span>
          <div class="form-group mb-4">
            <label for="ch-1" class="d-flex justify-content-between align-items-center custom-checkbox px-0 pb-4 border-bottom">
              <span class="text-uppercase font-14 font-400">EMEA</span>
              <input type='checkbox' class="form-control w-auto" id='ch-1' placeholder="Organisation name" />
              <span class="checkmark position-relative"></span>
            </label>
          </div>
          <div class="form-group mb-4">
            <label for="ch-2" class="d-flex justify-content-between align-items-center custom-checkbox px-0 pb-4 border-bottom">
              <span class="text-uppercase font-14 font-400">LATAM</span>
              <input type='checkbox' class="form-control w-auto" id='ch-2' placeholder="Organisation name" />
              <span class="checkmark position-relative"></span>
            </label>
          </div>
          <div class="form-group mb-4">
            <label for="ch-3" class="d-flex justify-content-between align-items-center custom-checkbox px-0 pb-4 border-bottom">
              <span class="text-uppercase font-14 font-400">amers</span>
              <input type='checkbox' class="form-control w-auto" id='ch-3' placeholder="Organisation name" />
              <span class="checkmark position-relative"></span>
            </label>
          </div>
          <div class="form-group mb-4">
            <label for="ch-4" class="d-flex justify-content-between align-items-center custom-checkbox px-0 pb-3">
              <span class="text-uppercase font-14 font-400">apac</span>
              <input type='checkbox' class="form-control w-auto" id='ch-4' placeholder="Organisation name" />
              <span class="checkmark position-relative"></span>
            </label>
          </div>
          <button class="text-capitalize dark-btn btn font-500 font-12 w-100 py-2 mb-5">Next</button>
        </div>
        <div class="horizondatl-eclipse">
          <span class="active-circle"><i class="fa fa-circle font-12" aria-hidden="true"></i></span>
          <span class="active-circle"><i class="fa fa-circle text-secondary font-12" aria-hidden="true"></i></span>
          <span class="active-circle"><i class="fa fa-circle text-secondary font-12" aria-hidden="true"></i></span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-body-color py-3"></div>
<div class="row">
  <div class="col-md-12">
    <div class="card border-0">
      <div class="card-body px-5">
        <div class="text-left w-15">
          <%= image_pack_tag 'media/images/logo.png', class: 'w-100' %>
        </div>
        <h1 class="text-capitalize font-300 font-40 mt-4">Account Setup</h1>
        <p class="font-12 font-xxl-14 font-500 my-4">Please complete the onboarding process for your operating regions. This allow us to create the optimal data model for your  organisation.</p>
        <div class="black-selection bg-black py-3 px-4 rounded d-flex">
          <div class="row align-items-center flex-1">
            <div class="col-md-7">
              <div class="left-side d-flex align-items-center">
                <div class="info-white font-11 font-600">i</div>
                <div class="d-flex flex-column ml-4">
                  <p class="text-capitalize font-13 font-xxl-14 text-white font-500">organisation details</p>
                  <span class="text-light-grey font-12 font-xxl-13">ABC Bank, EMEA, LATAM</span>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="right-side d-flex justify-content-between">
                <a href="" class="font-13 font-xxl-14 text-green">
                  <i class="fa fa-check"></i>
                  <span class="text-capitalize ml-2">completed</span>
                </a>
                <a href="" class="font-13 font-xxl-14 text-white">
                  <span class="text-capitalize mr-2">edit</span>
                  <i class="fa fa-angle-right font-16"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="white-selection bg-white py-3 px-4 rounded d-flex border mt-2">
          <div class="row align-items-center flex-1">
            <div class="col-md-7">
              <div class="left-side d-flex align-items-center">
                <i class="fa fa-map-marker"></i>
                <div class="d-flex flex-column ml-4">
                  <p class="text-capitalize font-13 font-xxl-14 text-black font-500">EMEA details</p>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="right-side d-flex justify-content-between">
                <a href="" class="font-13 font-xxl-14 text-dark-yellow">
                  <i class="fa fa-check invisible"></i>
                  <span class="text-capitalize ml-2">In progress</span>
                </a>
                <a href="" class="font-13 font-xxl-14 text-black">
                  <span class="text-capitalize mr-2">resume</span>
                  <i class="fa fa-angle-right font-16"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="white-selection bg-white py-3 px-4 rounded d-flex border mt-2">
          <div class="row align-items-center flex-1">
            <div class="col-md-7">
              <div class="left-side d-flex align-items-center">
                <i class="fa fa-map-marker"></i>
                <div class="d-flex flex-column ml-4">
                  <p class="text-capitalize font-13 font-xxl-14 text-black font-500">LATAM details</p>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="right-side d-flex justify-content-between">
                <a href="" class="font-13 font-xxl-14 text-red">
                  <i class="fa fa-check invisible"></i>
                  <span class="text-capitalize ml-2">in complete</span>
                </a>
                <a href="" class="font-13 font-xxl-14 text-black">
                  <span class="text-capitalize mr-2">get started</span>
                  <i class="fa fa-angle-right font-16"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <a href="" class="btn dark-btn mt-5 font-600 px-4 font-12 font-xxl-14 text-capitalize">Save & Complete setup</a>
      </div>
    </div>
  </div>
</div>
<div class="bg-body-color py-3"></div>
<div class="row">
  <div class="col-md-12">
    <div class="card border-0 text-center">
      <div class="card-body px-5">
        <div class="d-flex justify-content-between my-3">
          <a href="" class="text-capitalize text-dark text-decoration-none ">
            <span><i class="fa fa-arrow-left" aria-hidden="true"></i></span>
            <span class="ml-2 text-black">Back</span>
          </a>
          <a href="" class="text-capitalize text-dark text-decoration-none">
            <span class="mr-2 text-secondary">Next</span>
            <span><i class="fa fa-arrow-right text-secondary" aria-hidden="true"></i></span>
          </a>
        </div>
        <h1 class="text-dark font-30 text-black">EMEA Countries</h1>
        <div class="w-50 mx-auto">
          <p class="font-13 font-xxl-14 mx-auto font-500 mt-4 text-black">Please tell us which countries you operates in across EMEA.
          </p>
          <div class="form-group">
            <div class="search-field my-4">
              <i class="fa fa-search"></i>
              <input type="text" class="bg-body-color form-control font-12 border-0 shadow-none" placeholder="Search countries">
            </div>
          </div>
          <div class="text-right mb-4">
            <a href="" class="text-decoration-none text-capitalize font-12 text-black font-600 font-xxl-14">select all</a>
          </div>
          <div class="form-group mb-4">
            <label for="ch-1" class="d-flex justify-content-between align-items-center custom-checkbox px-0 pb-4 border-bottom">
              <span class="text-uppercase font-14 font-400">EMEA</span>
              <input type='checkbox' class="form-control w-auto" id='ch-1' placeholder="Organisation name" />
              <span class="checkmark position-relative"></span>
            </label>
          </div>
          <div class="form-group mb-4">
            <label for="ch-2" class="d-flex justify-content-between align-items-center custom-checkbox px-0 pb-4 border-bottom">
              <span class="text-uppercase font-14 font-400">LATAM</span>
              <input type='checkbox' class="form-control w-auto" id='ch-2' placeholder="Organisation name" />
              <span class="checkmark position-relative"></span>
            </label>
          </div>
          <div class="form-group mb-4">
            <label for="ch-3" class="d-flex justify-content-between align-items-center custom-checkbox px-0 pb-4 border-bottom">
              <span class="text-uppercase font-14 font-400">amers</span>
              <input type='checkbox' class="form-control w-auto" id='ch-3' placeholder="Organisation name" />
              <span class="checkmark position-relative"></span>
            </label>
          </div>
          <div class="form-group mb-4">
            <label for="ch-4" class="d-flex justify-content-between align-items-center custom-checkbox px-0 pb-3">
              <span class="text-uppercase font-14 font-400">apac</span>
              <input type='checkbox' class="form-control w-auto" id='ch-4' placeholder="Organisation name" />
              <span class="checkmark position-relative"></span>
            </label>
          </div>
          <div class="row">
            <div class="col-md-4 pr-1">
              <button class="text-capitalize btn-outline-secondary border btn font-500 font-12 w-100 py-2 mb-5 text-black">save & exit</button>
            </div>
            <div class="col-md-8 pl-1">
              <button class="text-capitalize dark-btn btn font-500 font-12 w-100 py-2 mb-5">Next</button>
            </div>
          </div>
        </div>
        <div class="horizondatl-eclipse">
          <span class="active-circle"><i class="fa fa-circle font-12" aria-hidden="true"></i></span>
          <span class="active-circle"><i class="fa fa-circle text-secondary font-12" aria-hidden="true"></i></span>
          <span class="active-circle"><i class="fa fa-circle text-secondary font-12" aria-hidden="true"></i></span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-body-color py-3"></div>
<div class="row">
  <div class="col-md-12">
    <div class="card border-0">
      <div class="card-body px-5">
        <div class="text-left w-15">
          <%= image_pack_tag 'media/images/logo.png', class: 'w-100' %>
        </div>
        <h1 class="text-capitalize font-300 font-40 mt-4">EMEA Countries Setup</h1>
        <p class="font-12 font-xxl-14 font-500 my-4">Please complete the onboarding process for your operating regions. This allow us to create the optimal data model for your  organisation.</p>
        <div class="black-selection bg-black py-3 px-4 rounded d-flex">
          <div class="row align-items-center flex-1">
            <div class="col-md-7">
              <div class="left-side d-flex align-items-center">
                <div class="info-white font-11 font-600">i</div>
                <div class="d-flex flex-column ml-4">
                  <p class="text-capitalize font-13 font-xxl-14 text-white font-500">organisation details</p>
                  <span class="text-light-grey font-12 font-xxl-13">ABC Bank, EMEA, LATAM</span>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="right-side d-flex justify-content-between">
                <a href="" class="font-13 font-xxl-14 text-green">
                  <i class="fa fa-check"></i>
                  <span class="text-capitalize ml-2">completed</span>
                </a>
                <a href="" class="font-13 font-xxl-14 text-white">
                  <span class="text-capitalize mr-2">edit</span>
                  <i class="fa fa-angle-right font-16"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="white-selection bg-white py-3 px-4 rounded d-flex border mt-2">
          <div class="row align-items-center flex-1">
            <div class="col-md-7">
              <div class="left-side d-flex align-items-center">
                <i class="flag germany"></i>
                <div class="d-flex flex-column ml-4">
                  <p class="text-capitalize font-13 font-xxl-14 text-black font-500">Germany</p>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="right-side d-flex justify-content-between">
                <a href="" class="font-13 font-xxl-14 text-dark-yellow">
                  <i class="fa fa-check invisible"></i>
                  <span class="text-capitalize ml-2">In progress</span>
                </a>
                <a href="" class="font-13 font-xxl-14 text-black">
                  <span class="text-capitalize mr-2">resume</span>
                  <i class="fa fa-angle-right font-16"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="white-selection bg-white py-3 px-4 rounded d-flex border mt-2">
          <div class="row align-items-center flex-1">
            <div class="col-md-7">
              <div class="left-side d-flex align-items-center">
                <i class="flag ireland"></i>
                <div class="d-flex flex-column ml-4">
                  <p class="text-capitalize font-13 font-xxl-14 text-black font-500">Ireland</p>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="right-side d-flex justify-content-between">
                <a href="" class="font-13 font-xxl-14 text-red">
                  <i class="fa fa-check invisible"></i>
                  <span class="text-capitalize ml-2">in complete</span>
                </a>
                <a href="" class="font-13 font-xxl-14 text-black">
                  <span class="text-capitalize mr-2">get started</span>
                  <i class="fa fa-angle-right font-16"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="white-selection bg-white py-3 px-4 rounded d-flex border mt-2">
          <div class="row align-items-center flex-1">
            <div class="col-md-7">
              <div class="left-side d-flex align-items-center">
                <i class="flag poland"></i>
                <div class="d-flex flex-column ml-4">
                  <p class="text-capitalize font-13 font-xxl-14 text-black font-500">poland</p>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="right-side d-flex justify-content-between">
                <a href="" class="font-13 font-xxl-14 text-red">
                  <i class="fa fa-check invisible"></i>
                  <span class="text-capitalize ml-2">in complete</span>
                </a>
                <a href="" class="font-13 font-xxl-14 text-black">
                  <span class="text-capitalize mr-2">get started</span>
                  <i class="fa fa-angle-right font-16"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <a href="" class="btn dark-btn mt-5 font-600 px-4 font-12 font-xxl-14 text-capitalize">Save & return to region dashboard</a>
      </div>
    </div>
  </div>
</div>
<div class="bg-body-color py-3"></div>
<div class="row">
  <div class="col-md-12">
    <div class="card border-0 text-center position-relative overflow-hidden">
      <div class="card-body px-5 ">
        <div class="d-flex justify-content-between my-3">
          <a href="" class="text-capitalize text-dark text-decoration-none ">
            <span><i class="fa fa-arrow-left" aria-hidden="true"></i></span>
            <span class="ml-2 text-black">Back</span>
          </a>
          <a href="" class="text-capitalize text-dark text-decoration-none">
            <span class="mr-2 text-secondary">Next</span>
            <span><i class="fa fa-arrow-right text-secondary" aria-hidden="true"></i></span>
          </a>
        </div>
        <div class="d-flex align-items-center justify-content-center">
          <i class="germany flag"></i>
          <h1 class="text-dark font-30 text-black">Germany</h1>
        </div>
        <p class="font-13 font-xxl-14 mx-auto font-500 my-4 text-black">Please tell us about the institution types that operate in this country.
        </p>
        <div class="h-522">
          <div class="w-65 mx-auto">
            <div class="form-group mb-4">
              <label for="ch-21" class="d-flex justify-content-between align-items-center custom-checkbox px-0 pb-4 border-bottom">
                <span class="text-uppercase font-14 font-400 text-capitalize">retail bank</span>
                <input type='checkbox' class="form-control w-auto" id='ch-21' placeholder="Organisation name" data-toggle='collapse' data-target='#collapsediv1'/>
                <span class="checkmark position-relative"></span>
              </label>
              <div id='collapsediv1' class='collapse div1'>
                <div class="card">
                  <div class="card-body">
                    <div class="form-group">
                      <input type="text" class='form-control font-12' placeholder="Retail Bank Brand Name">
                    </div>
                    <div class="d-flex justify-content-between text-left">
                      <div class="products flex-1">
                        <span class="text-capitalize text-light-grey font-11">Products</span>
                        <div class="form-group my-3">
                          <label for="ch33" class="custom-checkbox d-flex pl-4">
                            <span class="font-12 text-black text-capitalize">Current Account</span>
                            <input type="checkbox" class="form-control" id='ch33'/>
                            <span class="transparent-checkmark"></span>
                          </label>                        
                        </div>
                        <div class="form-group my-3">
                          <label for="ch34" class="custom-checkbox d-flex pl-4">
                            <span class="font-12 text-black text-capitalize">mortages</span>
                            <input type="checkbox" class="form-control" id='ch34'/>
                            <span class="transparent-checkmark"></span>
                          </label>                        
                        </div>
                        <div class="form-group my-3">
                          <label for="ch32" class="custom-checkbox d-flex pl-4">
                            <span class="font-12 text-black text-capitalize">loan</span>
                            <input type="checkbox" class="form-control" id='ch32'/>
                            <span class="transparent-checkmark"></span>
                          </label>                        
                        </div>
                        <div class="form-group my-3">
                          <label for="ch35" class="custom-checkbox d-flex pl-4">
                            <span class="font-12 text-black text-capitalize">credit card</span>
                            <input type="checkbox" class="form-control" id='ch35'/>
                            <span class="transparent-checkmark"></span>
                          </label>                        
                        </div>
                        <div class="form-group my-3">
                          <label for="ch36" class="custom-checkbox d-flex pl-4">
                            <span class="font-12 text-black text-capitalize">saving accounts</span>
                            <input type="checkbox" class="form-control" id='ch36'/>
                            <span class="transparent-checkmark"></span>
                          </label>                        
                        </div>
                      </div>
                      <div class="channels flex-1">
                        <span class="text-capitalize text-light-grey font-11">Channels</span>
                        <a href="" class="text-black d-flex my-2 pt-2 align-items-center" data-toggle="modal" data-target="#exampleModal">
                          <i class="fa fa-plus-circle"></i>
                          <span class="font-12 text-capitalize font-600 ml-2">add more</span>
                        </a>
                        <a href="" class="text-black d-flex my-2 pt-2 align-items-center">
                          <i class="fa fa-plus-circle"></i>
                          <span class="font-12 text-capitalize font-600 ml-2">add more</span>
                        </a>
                        <a href="" class="text-black d-flex my-2 pt-2 align-items-center">
                          <i class="fa fa-plus-circle"></i>
                          <span class="font-12 text-capitalize font-600 ml-2">add more</span>
                        </a>
                        <a href="" class="text-black d-flex my-2 pt-2 align-items-center">
                          <i class="fa fa-plus-circle"></i>
                          <span class="font-12 text-capitalize font-600 ml-2">add more</span>
                        </a>
                        <a href="" class="text-black d-flex my-2 pt-2 align-items-center">
                          <i class="fa fa-plus-circle"></i>
                          <span class="font-12 text-capitalize font-600 ml-2">add more</span>
                        </a>
                      </div>
                    </div>
                    <a href="#" class="d-flex align-items-center text-left text-black">
                      <span><i class="fa fa-plus-circle font-16"></i></span>
                      <span class="font-12 ml-1">Add another product</span>
                    </a>
                  </div>
                </div>
                <a href="#" class="d-flex align-items-center text-left text-black mt-4">
                  <i class="fa fa-plus-circle font-16"></i>
                  <span class="ml-1 font-12">Add another retail bank brand</span>
                </a>
              </div>
            </div>
            <div class="form-group mb-4">
              <label for="ch-28" class="d-flex justify-content-between align-items-center custom-checkbox px-0 pb-4 border-bottom">
                <span class="text-capitalize font-14 font-400">union bank</span>
                <input type='checkbox' class="form-control w-auto" id='ch-28' placeholder="Organisation name" data-toggle='collapse' data-target='#collapsediv2' />
                <span class="checkmark position-relative"></span>
              </label>
              <div id='collapsediv2' class='collapse div1'>
                <div class="card">
                  <div class="card-body">
                    <div class="form-group">
                      <input type="text" class='form-control font-12' placeholder="Retail Bank Brand Name">
                    </div>
                    <div class="d-flex justify-content-between text-left">
                      <div class="products flex-1">
                        <span class="text-capitalize text-light-grey font-11">Products</span>
                        <div class="form-group my-3">
                          <label for="ch33" class="custom-checkbox d-flex pl-4">
                            <span class="font-12 text-black text-capitalize">Current Account</span>
                            <input type="checkbox" class="form-control" id='ch33'/>
                            <span class="transparent-checkmark"></span>
                          </label>                        
                        </div>
                        <div class="form-group my-3">
                          <label for="ch34" class="custom-checkbox d-flex pl-4">
                            <span class="font-12 text-black text-capitalize">mortages</span>
                            <input type="checkbox" class="form-control" id='ch34'/>
                            <span class="transparent-checkmark"></span>
                          </label>                        
                        </div>
                        <div class="form-group my-3">
                          <label for="ch32" class="custom-checkbox d-flex pl-4">
                            <span class="font-12 text-black text-capitalize">loan</span>
                            <input type="checkbox" class="form-control" id='ch32'/>
                            <span class="transparent-checkmark"></span>
                          </label>                        
                        </div>
                        <div class="form-group my-3">
                          <label for="ch35" class="custom-checkbox d-flex pl-4">
                            <span class="font-12 text-black text-capitalize">credit card</span>
                            <input type="checkbox" class="form-control" id='ch35'/>
                            <span class="transparent-checkmark"></span>
                          </label>                        
                        </div>
                        <div class="form-group my-3">
                          <label for="ch36" class="custom-checkbox d-flex pl-4">
                            <span class="font-12 text-black text-capitalize">saving accounts</span>
                            <input type="checkbox" class="form-control" id='ch36'/>
                            <span class="transparent-checkmark"></span>
                          </label>                        
                        </div>
                      </div>
                      <div class="channels flex-1">
                        <span class="text-capitalize text-light-grey font-11">Channels</span>
                        <a href="" class="text-black d-flex my-2 pt-2 align-items-center">
                          <i class="fa fa-plus-circle"></i>
                          <span class="font-12 text-capitalize font-600 ml-2">add more</span>
                        </a>
                        <a href="" class="text-black d-flex my-2 pt-2 align-items-center">
                          <i class="fa fa-plus-circle"></i>
                          <span class="font-12 text-capitalize font-600 ml-2">add more</span>
                        </a>
                        <a href="" class="text-black d-flex my-2 pt-2 align-items-center">
                          <i class="fa fa-plus-circle"></i>
                          <span class="font-12 text-capitalize font-600 ml-2">add more</span>
                        </a>
                        <a href="" class="text-black d-flex my-2 pt-2 align-items-center">
                          <i class="fa fa-plus-circle"></i>
                          <span class="font-12 text-capitalize font-600 ml-2">add more</span>
                        </a>
                        <a href="" class="text-black d-flex my-2 pt-2 align-items-center">
                          <i class="fa fa-plus-circle"></i>
                          <span class="font-12 text-capitalize font-600 ml-2">add more</span>
                        </a>
                      </div>
                    </div>
                    <a href="#" class="d-flex align-items-center text-left text-black">
                      <span><i class="fa fa-plus-circle font-16"></i></span>
                      <span class="font-12 ml-1">Add another product</span>
                    </a>
                  </div>
                </div>
                <a href="#" class="d-flex align-items-center text-left text-black mt-4">
                  <i class="fa fa-plus-circle font-16"></i>
                  <span class="ml-1 font-12">Add another retail bank brand</span>
                </a>
              </div>
            </div>
            <div class="form-group mb-4">
              <label for="ch-23" class="d-flex justify-content-between align-items-center custom-checkbox px-0 pb-4 border-bottom">
                <span class="text-capitalize font-14 font-400">investment bank</span>
                <input type='checkbox' class="form-control w-auto" id='ch-23' placeholder="Organisation name" />
                <span class="checkmark position-relative"></span>
              </label>
            </div>
            <div class="form-group mb-4">
              <label for="ch-24" class="d-flex justify-content-between align-items-center custom-checkbox px-0 pb-4 border-bottom">
                <span class="text-capitalize font-14 font-400 text-capitalize">wealth management</span>
                <input type='checkbox' class="form-control w-auto" id='ch-24' placeholder="Organisation name" />
                <span class="checkmark position-relative"></span>
              </label>
            </div>
            <div class="form-group mb-4">
              <label for="ch-25" class="d-flex justify-content-between align-items-center custom-checkbox px-0 pb-4 border-bottom">
                <span class="text-uppercase font-14 font-400 text-capitalize">commercial bank</span>
                <input type='checkbox' class="form-control w-auto" id='ch-25' placeholder="Organisation name" />
                <span class="checkmark position-relative"></span>
              </label>
            </div>
            <div class="text-left mb-2">
              <i class="fa fa-plus-circle"></i>
              <span class="font-12 text-capitalize">add another</span>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-btns border-top py-3 bg-white">
        <div class="w-65 mx-auto">
          <div class="row w-100 mx-auto">
            <div class="col-md-4 pr-1">
              <button class="text-capitalize btn-outline-secondary border btn font-500 font-12 w-100 py-2 mb-5 text-black">save & exit</button>
            </div>
            <div class="col-md-8 pl-1">
              <button class="text-capitalize dark-btn btn font-500 font-12 w-100 py-2 mb-5">Next</button>
            </div>
          </div>
          <div class="horizondatl-eclipse">
            <span class="active-circle"><i class="fa fa-circle font-12" aria-hidden="true"></i></span>
            <span class="active-circle"><i class="fa fa-circle text-secondary font-12" aria-hidden="true"></i></span>
            <span class="active-circle"><i class="fa fa-circle text-secondary font-12" aria-hidden="true"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-body-color py-3"></div>
<div class="row">
  <div class="col-md-12">
    <div class="card border-0 text-center">
      <div class="card-body px-5">
        <div class="d-flex justify-content-between my-3">
          <a href="" class="text-capitalize text-dark text-decoration-none ">
            <span><i class="fa fa-arrow-left" aria-hidden="true"></i></span>
            <span class="ml-2 text-black">Back</span>
          </a>
          <a href="" class="text-capitalize text-dark text-decoration-none">
            <span class="mr-2 text-secondary">Next</span>
            <span><i class="fa fa-arrow-right text-secondary" aria-hidden="true"></i></span>
          </a>
        </div>
        <h2 class="text-capitalize font-300">Invite administrator</h2>
        <p class="font-12 font-xxl-14 p-3 bg-body-color my-4">As a part of the onboarding wizard, we recommend that firms federate administration responsibilities to the various business unit and entities across their organisation</p>
        <p class="font-12 font-xxl-14">Please provide the details for users in this region. Users can be set up as a <strong>"Super User"</strong> or <strong>"Standard User"</strong>. Super user can add new, update and amend existing business service & supplier records. Standard Users can only view existing records.</p>
        <ul class="nav nav-tabs d-flex justify-content-even mt-5 custom-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active border-0 p-0 pb-2 bg-transparent text-black" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Name & Email Addresses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link border-0 p-0 pb-2 bg-transparent text-black" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Add Many At Once</a>
          </li>
        </ul>
        <div class="tab-content py-4" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row no-gutters">
              <div class="form-group col-md-3 px-1 mb-2">
                <input type="text" class="form-control font-12 text-black py-3 shadow-none" placeholder="First Name"/>
              </div>
              <div class="form-group col-md-3 px-1 mb-2">
                <input type="text" class="form-control font-12 py-3 shadow-none" placeholder="Last Name"/>
              </div>
              <div class="form-group col-md-3 px-1 mb-2">
                <input type="text" class="form-control font-12 py-3 shadow-none" placeholder="Email"/>
              </div>
              <div class="form-group col-md-3 px-1 mb-2">
                <select class="form-control w-100 font-12 shadow-none">
                  <option value="">Permissions</option>
                  <option value="">Super User</option>
                  <option value="">Standar User</option>
                </select>
              </div>
            </div>
            <div class="row no-gutters">
              <div class="form-group col-md-3 px-1">
                <input type="text" class="form-control font-12" placeholder="First Name"/>
              </div>
              <div class="form-group col-md-3 px-1">
                <input type="text" class="form-control font-12" placeholder="Last Name"/>
              </div>
              <div class="form-group col-md-3 px-1">
                <input type="text" class="form-control font-12" placeholder="Email"/>
              </div>
              <div class="form-group col-md-3 px-1">
                <select class="form-control w-100 font-12 shadow-none">
                  <option value="">Permissions</option>
                  <option value="">Super User</option>
                  <option value="">Standar User</option>
                </select>
              </div>
            </div>
            <div class="row mb-4 mt-2 no-gutters">
              <div class="col-md-12 text-left px-1">
                <a href="#" class="text-black d-flex align-items-center">
                  <i class='fa fa-plus-circle font-16'></i>
                  <span class="text-capitalize font-12 ml-2">Add Another</span>
                </a>
              </div>
            </div>
            <div class="row no-gutters">
              <div class="col-md-12 px-1">
                <textarea class="form-control font-12" name="" id="" cols="30" rows="4" placeholder="Add a personalised invite message"></textarea>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row mb-4">
              <div class="col-md-9">
                <textarea class="form-control font-12" name="" id="" cols="30" rows="4" placeholder="Email Addresses (Seperate emails withg a comma)"></textarea>
              </div>
              <div class="form-group col-md-3">
                <select class="form-control w-100 font-12 shadow-none">
                  <option value="">Permissions</option>
                  <option value="">Super User</option>
                  <option value="">Standar User</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <textarea class="form-control font-12" name="" id="" cols="30" rows="4" placeholder="Add a personalised invite message"></textarea>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-md-12 text-left">
              <button class="btn dark-btn border-0 py-2 font-12 font-600 px-4">Send Invitation</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-body-color py-3"></div>
<div class="row">
  <div class="col-md-12">
    <div class="card border-0 text-center">
      <div class="card-body px-5">
        <div class="w-25 mx-auto">
          <%= image_pack_tag 'media/images/logo.png', class: 'w-100' %>
        </div>
        <div class="w-50 mx-auto">
          <%= image_pack_tag 'media/images/thank-wizard.png', class: 'w-100' %>
        </div>
        <h1 class="text-dark font-30 text-black text-capitalize">setting up your account</h1>
        <p class="font-13 w-75 mx-auto font-400 mt-3 mb-5 text-black font-xxl-14">we're generating your organisation structure and dashboards. Bare with us, this might take a few minutes.
        </p>
        <div class="d-flex justify-content-center pb-5">
          <i class="fa fa-spinner font-40 text-light-grey"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content w-75 mx-auto">
      <div class="modal-header border-0 pb-0">
        <button type="button" class="close pb-1" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5 class="text-capitalize font-300 mb-4">Add Channels</h5>
        <div class="form-group my-3">
          <label for="ch39" class="custom-checkbox d-flex pl-4">
            <span class="font-14 text-black text-capitalize ml-2">web</span>
            <input type="checkbox" class="form-control" id="ch39">
            <span class="transparent-checkmark"></span>
          </label>                        
        </div>
        <div class="form-group my-3">
          <label for="ch79" class="custom-checkbox d-flex pl-4">
            <span class="font-14 text-black text-capitalize ml-2">mobile</span>
            <input type="checkbox" class="form-control" id="ch79">
            <span class="transparent-checkmark"></span>
          </label>                        
        </div>
        <div class="form-group my-3">
          <label for="ch69" class="custom-checkbox d-flex pl-4">
            <span class="font-14 text-black text-capitalize ml-2">ATM</span>
            <input type="checkbox" class="form-control" id="ch69">
            <span class="transparent-checkmark"></span>
          </label>                        
        </div>
        <div class="form-group my-3">
          <label for="ch59" class="custom-checkbox d-flex pl-4">
            <span class="font-14 text-black text-capitalize ml-2">branch</span>
            <input type="checkbox" class="form-control" id="ch59">
            <span class="transparent-checkmark"></span>
          </label>                        
        </div>
        <div class="form-group my-3">
          <label for="ch49" class="custom-checkbox d-flex pl-4">
            <span class="font-14 text-black text-capitalize ml-2">telephony</span>
            <input type="checkbox" class="form-control" id="ch49">
            <span class="transparent-checkmark"></span>
          </label>                        
        </div>
      </div>
      <div class="modal-footer border-0">
        <button type="button" class="btn border-0 w-100 black-btn py-2 ">Save</button>
      </div>
    </div>
  </div>
</div>
