<div class="card border-0 shadow">
  <div class="card-body">

    <%= form_for ['admin', channel] do |f| %>
      <%= render 'layouts/partials/form_errors', instance: channel %>

      <div class="row">
        <div class="form-group col-md-6">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control', placeholder: 'Channel Name', required: true %>
        </div>

        <div class="form-group col-md-6">
          <%= f.label :description %>
          <%= f.text_field :description, class: 'form-control', placeholder: 'Channel Description', required: true %>
        </div>
      </div>

      <div class="row d-flex align-items-center">
        <div class="form-check col-md-6 pl-5">
          <%= f.check_box :active, { class: 'form-check-input' }, true, false %>
          <%= f.label :active, class: 'form-check-label' %>
        </div>

        <div class="form-group col-md-6 text-right mb-0">
          <%= f.submit class: 'btn primary-btn' %>
          <%= link_to 'Cancel', admin_channels_path, class: 'btn dark-btn' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
