<%= form_for channel, url: new_or_create ? admin_channels_path : admin_channel_path, method: new_or_create ? :post : :patch do |f| %>
  <%= render 'layouts/partials/shared/form_errors', instance: channel %>

  <div class="row">
    <div class="form-group col-md-12">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'fw-100 form-control font-12 h-auto py-3 shadow-none', placeholder: 'Channel Name', required: true %>
    </div>

    <div class="form-group col-md-12">
      <%= f.label :description %>
      <%= f.text_field :description, class: 'w-100 form-control font-12 h-auto py-3 shadow-none', placeholder: 'Channel Description', required: true %>
    </div>
  </div>

  <div class="row d-flex align-items-center">
    <div class="form-group col-md-12 text-right mb-0">
      <%= f.submit class: 'btn btn-md font-600 text-capitalize font-12 ml-auto dark-btn w-25' %>
    </div>
  </div>
<% end %>
