<div class="bsl-container">
  <div class="card shadow">
    <div class="d-flex justify-content-between align-items-center py-3 px-4">
      <h5>Unit Admin</h5>
      <%= link_to new_organisation_unit_admin_path, class: 'btn btn-md font-600 text-capitalize font-12 ml-auto dark-btn ml-2' do %>
        <i class="fa fa-plus-circle mr-1" aria-hidden="true"></i>
        Add New
      <% end %>
    </div>
    <div class="table-responsive">
      <% if @unit_admins.present? %>
        <table class="table custom-table font-14 m-0">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @unit_admins.each do |unit_admin| %>
              <tr>
                <td class="text-dark"><%= unit_admin.name %></td>
                <td><%= unit_admin.email %></td>
                <td>
                  <%= link_to 'View', organisation_unit_admin_path(unit_admin), class: 'btn dark-btn btn-sm' %>
                  <%= link_to 'Edit', edit_organisation_unit_admin_path(unit_admin), class: 'btn dark-btn btn-sm' %>
                  <%= link_to 'Delete', organisation_unit_admin_path(unit_admin), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn dark-btn btn-sm' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <div class="alert alert-primary m-0" role="alert">
          No Unit Admins are created yet!
        </div>
      <% end %>
    </div>
  </div>
</div>
