<h3 class="mb-4">
  Institution
</h3>

<table class="table">
  <tbody>
    <tr>
      <th scope="row">Name</th>
      <td><%= @institution.name %></td>
    </tr>
    <tr>
      <th scope="row">Description</th>
      <td><%= @institution.description %></td>
    </tr>
    <tr>
      <th scope="row">Active</th>
      <td><%= @institution.active ? 'Yes' : 'No' %></td>
    </tr>
    <tr>
      <th scope="row">Products</th>
      <td><%= @institution.product_list %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Back', admin_institutions_path, class: 'btn btn-primary' %>
