<div class="tab-pane fade" id="internal-sla-tab" role="tabpanel" aria-labelledby="internal_sla">
  <h5 class="font-600 text-capitalize">internal service level target</h5>
  <div class="mt-5">
  <%= form.fields_for :sla do |internal_sla|%>
    <div class="input-fields mb-5 pb-5 border-bottom">
      <div class="row align-items-center">
        <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
          <p class="text-capitalize font-14 font-600">service level agreement target</p>
        </div>
        <div class="col-sm-7 order-3 order-sm-2">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text px-3 bg-white font-12">%</div>
            </div>
            <%= internal_sla.text_field :service_level_agreement, placeholder: 'Enter Target', id: 'inlineFormInputGroup', class: 'form-control form-control font-12 h-auto py-3 shadow-none' %>
          </div>
        </div>
        <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
          <i class="fa fa-info-circle font-18" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row align-items-center mt-3">
        <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
          <p class="text-capitalize font-14 font-600">service level object target</p>
        </div>
        <div class="col-sm-7 order-3 order-sm-2">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text px-3 bg-white font-12">%</div>
            </div>
            <%= internal_sla.text_field :service_level_objective, placeholder: 'Enter Target', id: 'inlineFormInputGroup', class: 'form-control form-control font-12 h-auto py-3 shadow-none' %>
          </div>
        </div>
        <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
          <i class="fa fa-info-circle font-18" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row align-items-center mt-3">
        <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
          <p class="text-capitalize font-14 font-600">recovery point object target</p>
        </div>
        <div class="col-sm-7 order-3 order-sm-2">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text px-3 bg-white font-12">Minutes</div>
            </div>
            <%= internal_sla.text_field :recovery_point_objective, placeholder: 'Enter Target', id: 'inlineFormInputGroup', class: 'form-control form-control font-12 h-auto py-3 shadow-none' %>
          </div>
        </div>
        <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
          <i class="fa fa-info-circle font-18" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="checkboxes-field mb-5 pb-5 border-bottom">
      <div class="row align-items-center">
        <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0 align-self-start">
          <p class="text-capitalize font-14 font-600 text-capitalize">required support hours</p>
        </div>
        <div class="col-sm-7 order-3 order-sm-2 mt-sm-0 mt-3">
          <div class="checkbox-container d-flex justify-content-start flex-wrap">
            <% Sla.support_hours.each do |key, val| %>
              <div class="form-check d-flex align-items-center form-group mr-2">
                <%= internal_sla.check_box :support_hours, {:id => "support-hours#{key}",:multiple => false}, val, nil %>
                <%= internal_sla.label key, class: 'mb-0 ml-2 font-12', for: "support-hours#{key}" %><br />
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-sm-1 text-right order-2 flex-sm-half align-self-start">
          <i class="fa fa-info-circle font-18" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
