<div class="tab-pane fade" id="supplier-sla-target-tab" role="tabpanel" aria-labelledby="supplier_sla">
  <h5 class="font-600 text-capitalize">incident SLA Requirements</h5>
  <%= form.fields_for :sla do |supplier_sla|%>
    <div class="mt-5">
      <div class="input-fields mb-5 pb-5 border-bottom">
        <div class="row align-items-center">
          <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
            <p class="text-capitalize font-14 font-600">supplier incident notification severity 1</p>
          </div>
          <div class="col-sm-7 order-3 order-sm-2">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text px-3 bg-white font-12">Minutes</div>
              </div>
              <%= supplier_sla.number_field :severity1, placeholder:'Enter Target', class: 'form-control form-control font-12 h-auto py-3 shadow-none', id: 'inlineFormInputGroup'%>
            </div>
          </div>
          <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
            <div class="info" data-toggle="tooltip" data-placement="top" title="Please input the incident notification timeframe for this business service" aria-hidden="true">i</div>
          </div>
        </div>
        <div class="row align-items-center mt-3">
          <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
            <p class="text-capitalize font-14 font-600">supplier incident notification severity 2</p>
          </div>
          <div class="col-sm-7 order-3 order-sm-2">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text px-3 bg-white font-12">Minutes</div>
              </div>
              <%= supplier_sla.number_field :severity2, placeholder:'Enter Target', class: 'form-control form-control font-12 h-auto py-3 shadow-none', id: 'inlineFormInputGroup'%>
            </div>
          </div>
          <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
            <div class="info" data-toggle="tooltip" data-placement="top" title="Please input the incident notification timeframe for this business service" aria-hidden="true">i</div>
          </div>
        </div>
        <div class="row align-items-center mt-3">
          <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
            <p class="text-capitalize font-14 font-600">supplier incident notification severity 3</p>
          </div>
          <div class="col-sm-7 order-3 order-sm-2">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text px-3 bg-white font-12">Minutes</div>
              </div>
              <%= supplier_sla.number_field :severity3, placeholder:'Enter Target', class: 'form-control form-control font-12 h-auto py-3 shadow-none', id: 'inlineFormInputGroup'%>
            </div>
          </div>
          <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
            <div class="info" data-toggle="tooltip" data-placement="top" title="Please input the incident notification timeframe for this business service" aria-hidden="true">i</div>
          </div>
        </div>
        <div class="row align-items-center mt-3">
          <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
            <p class="text-capitalize font-14 font-600">supplier incident notification severity 4</p>
          </div>
          <div class="col-sm-7 order-3 order-sm-2">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text px-3 bg-white font-12">Minutes</div>
              </div>
              <%= supplier_sla.number_field :severity4, placeholder:'Enter Target', class: 'form-control form-control font-12 h-auto py-3 shadow-none', id: 'inlineFormInputGroup'%>
            </div>
          </div>
          <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
            <div class="info" data-toggle="tooltip" data-placement="top" title="Please input the incident notification timeframe for this business service" aria-hidden="true">i</div>
          </div>
        </div>
        <div class="row align-items-center mt-3">
          <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
            <p class="text-capitalize font-14 font-600">Supplier incident restoration of service serverity 1</p>
          </div>
          <div class="col-sm-7 order-3 order-sm-2">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text px-3 bg-white font-12">Minutes</div>
              </div>
              <%= supplier_sla.number_field :severity1_restoration, placeholder:'Enter Target', class: 'form-control form-control font-12 h-auto py-3 shadow-none', id: 'inlineFormInputGroup'%>
            </div>
          </div>
          <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
            <div class="info" data-toggle="tooltip" data-placement="top" title="Please input the incident notification timeframe for this business service" aria-hidden="true">i</div>
          </div>
        </div>
        <div class="row align-items-center mt-3">
          <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
            <p class="text-capitalize font-14 font-600">Supplier incident restoration of service serverity 2</p>
          </div>
          <div class="col-sm-7 order-3 order-sm-2">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text px-3 bg-white font-12">Minutes</div>
              </div>
              <%= supplier_sla.number_field :severity2_restoration, placeholder:'Enter Target', class: 'form-control form-control font-12 h-auto py-3 shadow-none', id: 'inlineFormInputGroup'%>
            </div>
          </div>
          <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
            <div class="info" data-toggle="tooltip" data-placement="top" title="Please input the incident notification timeframe for this business service" aria-hidden="true">i</div>
          </div>
        </div>
        <div class="row align-items-center mt-3">
          <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
            <p class="text-capitalize font-14 font-600">Supplier incident restoration of service serverity 3</p>
          </div>
          <div class="col-sm-7 order-3 order-sm-2">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text px-3 bg-white font-12">Minutes</div>
              </div>
              <%= supplier_sla.number_field :severity3_restoration, placeholder:'Enter Target', class: 'form-control form-control font-12 h-auto py-3 shadow-none', id: 'inlineFormInputGroup'%>
            </div>
          </div>
          <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
            <div class="info" data-toggle="tooltip" data-placement="top" title="Please input the incident notification timeframe for this business service" aria-hidden="true">i</div>
          </div>
        </div>
        <div class="row align-items-center mt-3">
          <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
            <p class="text-capitalize font-14 font-600">Supplier incident restoration of service serverity 4</p>
          </div>
          <div class="col-sm-7 order-3 order-sm-2">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text px-3 bg-white font-12">Minutes</div>
              </div>
              <%= supplier_sla.number_field :severity4_restoration, placeholder:'Enter Target', class: 'form-control form-control font-12 h-auto py-3 shadow-none', id: 'inlineFormInputGroup'%>
            </div>
          </div>
          <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
            <div class="info" data-toggle="tooltip" data-placement="top" title="Please input the incident notification timeframe for this business service" aria-hidden="true">i</div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
