<div class="modal fade add-supplier-modal my-5 py-5" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header border-0 p-4">
        <h5 class="modal-title text-capitalize font-16" id="exampleModalLabel">add supplier to step 1</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_for @supplier, url: organisation_suppliers_path do |form| %>
        <div class="modal-body p-4">
          <div class="row align-items-center mb-3">
            <div class="col-sm-12 order-3 order-sm-2">
              <select class="form-control w-100 font-12 h-auto py-3 shadow-none">
                <option value="">Please Select</option>
                <optgroup label="Option group 1">
                  <option value="">Option 1</option>
                  <option value="">Option 2</option>
                  <option value="">Option 3</option>
                </optgroup>
                <optgroup label="Option group 2">
                  <option value="">Option 4</option>
                  <option value="">Option 5</option>
                  <option value="">Option 6</option>
                </optgroup>
              </select>
            </div>
          </div>

          <div class="row align-items-center mb-3">
            <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
              <p class="text-capitalize font-14 font-600">supplier name</p>
            </div>
            <div class="col-sm-7 order-3 order-sm-2">
              <%= form.text_field :name, class: "w-100 form-control font-12 h-auto py-3 shadow-none", placeholder: "Enter Name" %>
            </div>
            <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
              <div class="info" data-toggle="tooltip" data-placement="top" title="supplier name" aria-hidden="true">i</div>
            </div>
          </div>
          <div class="row align-items-center mb-3">
            <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
              <p class="text-capitalize font-14 font-600">supplier type</p>
            </div>
            <div class="col-sm-7 order-3 order-sm-2">
              <%= form.select :party_type, options_for_select(Supplier.party_types.map { |k, v| [k] }, {}), { include_blank: 'Select Supplier Type' }, { class: 'form-control w-100 font-12 h-auto py-3 shadow-none' } %>
              <!-- <input type="text" placeholder="Enter Name" class="w-100 form-control font-12 h-auto py-3 shadow-none"> -->
            </div>
            <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
              <div class="info" data-toggle="tooltip" data-placement="top" title="supplier type" aria-hidden="true">i</div>
            </div>
          </div>
          <div class="row align-items-center mb-3">
            <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
              <p class="text-capitalize font-14 font-600">supplier status</p>
            </div>
            <div class="col-sm-7 order-3 order-sm-2">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                      Default radio
                    </label>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                      Default checked radio
                    </label>
                  </div>
                </div> 
              </div>
               <!--  <li class="nav-item flex-1">
                  <a class="nav-link border-0 rounded-0 py-3 text-center" id="#" data-toggle="tab" href="#" role="tab" aria-controls="profile" aria-selected="false">Important</a>
                </li> -->
            </div>
            <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
              <div class="info" data-toggle="tooltip" data-placement="top" title="supplier status" aria-hidden="true">i</div>
            </div>
          </div>
          <div class="row align-items-center mb-3">
            <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
              <p class="text-capitalize font-14 font-600">region</p>
            </div>
            <div class="col-sm-7 order-3 order-sm-2">
              <%= render '/organisation/units/partials/drop_down', param_name: 'supplier[region]', options: managing_unit.regional_dropdown, val: {}, prompt_message: "Select your region" %>
            </div>
            <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
              <div class="info" data-toggle="tooltip" data-placement="top" title="region" aria-hidden="true">i</div>
            </div>
          </div>
          <div class="row align-items-center mb-3">
            <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
              <p class="text-capitalize font-14 font-600">country</p>
            </div>
            <div class="col-sm-7 order-3 order-sm-2" id="countries-dropdown-2">
              <%= render 'organisation/units/partials/drop_down', param_name: 'supplier[unit_id]', options: managing_unit.country_dropdown, val: {}, prompt_message: "Select your country" %>
            </div>
            <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
              <div class="info" data-toggle="tooltip" data-placement="top" title="country" aria-hidden="true">i</div>
            </div>
          </div>
        </div>
        <div class="modal-footer border-0">
          <%= form.submit 'add supplier', class: "btn btn-lg dark-btn text-capitalize font-12 font-600" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
