<div class="card mt-5 border-0 shadow-sm mx-1 rounded-50" id="dashboard-segmentation-option">
  <div class="card-body pb-0">
    <div class="d-flex align-items-center px-1">
      <i class="fa fa-sliders font-18"></i>
      <h5 class="text-capitalize ml-2 font-600 mt-1">segmentation options</h5>
    </div>
    <%= form_tag path, method: :get, remote: true do %>
      <div class="row no-gutters mt-3">
        <div class="col-lg px-1 col-md-4 col-sm-6" id="segmentation-regions">
          <%= render 'organisation/dashboard/partials/regions_option_render', regions: organisational_regions %>
        </div>
        <div class="col-lg px-1 col-md-4 col-sm-6" id="segmentation-subregions">
          <%= render 'organisation/dashboard/partials/subregions_option_render', countries: organisational_countries %>
        </div>
        <div class="col-lg px-1 col-md-4 col-sm-6" id="segmentation-countries">
          <%= render 'organisation/dashboard/partials/countries_option_render', countries: organisational_countries %>
        </div>
        <div class="col-lg px-1 col-md-4 col-sm-6" id="segmentation-institutions">
          <%= render 'organisation/dashboard/partials/institutions_option_render', institutions: organisational_institutions %>
        </div>
        <!-- <div class="col-lg px-1 col-md-4 col-sm-6">
          <div class="dropdown custom-dropdown">
            <button class="border-0 mb-3 p-3 bg-body-color dropdown-toggle w-100 shadow-none" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="d-flex flex-column align-items-start">
                <h6 class="text-capitalize font-12 font-xxl-14 mb-1">
                  <span class="font-600 text-capitalize">entities .</span>
                  <span class="text-light-grey font-600 entities-count">0</span>
                </h6>
                <span class="text-capitalize font-12 font-xxl-14 text-light-grey font-600">View all</span>
              </span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div class="form-group dropdown-item pl-3 m-0">
                <label for="entity-all" class="custom-checkbox d-flex m-0">
                  <span class="font-12 text-black text-capitalize">View All</span>
                  <%#= check_box_tag 'filters[entity_ids][]', 'all', false, id: "entity-all", class: 'form-control entities', onclick: 'RailsUJS.fire(this.form, "submit")' %>
                  <span class="transparent-checkmark"></span>
                </label>
              </div>
              <%# institution_products.each do |product| %>
                <div class="form-group dropdown-item pl-3 m-0">
                  <label for="entity<%#= product.id %>" class="custom-checkbox d-flex m-0">
                    <span class="font-12 text-black text-capitalize">
                      <%#= product.name %>
                    </span>
                    <%#= check_box_tag 'filters[entity_ids][]', product.id, false, id: "entity#{product.id}", class: 'form-control entities', onclick: 'RailsUJS.fire(this.form, "submit")' %>
                    <span class="transparent-checkmark"></span>
                  </label>
                </div>
              <%# end %>
            </div>
          </div>
        </div> -->
        <div class="col-lg px-1 col-md-4 col-sm-6" id="institution-products">
          <%= render 'organisation/dashboard/partials/products_option_render', products: organisational_products %>
        </div>
      </div>
    <% end %>
  </div>
</div>
