<ul class="nav nav-tabs border-0 active-green my-4">
  <li class="nav-item mr-3">
    <%= link_to 'IaaS', critical_important_system_organisation_dashboard_break_downs_path(cm_model:"iaas"), class:"#{@i_active} nav-link text-capitalize font-12 font-xxl-14 border-0 p-0 pb-2 text-light-grey font-500", remote: true %>
  </li>
  <li class="nav-item mr-3">
    <%= link_to 'SaaS', critical_important_system_organisation_dashboard_break_downs_path(cm_model:'saas'), class:"#{@s_active} nav-link text-capitalize font-12 font-xxl-14 border-0 p-0 pb-2 text-light-grey font-500", remote: true %>
  </li>
  <li class="nav-item mr-3">
     <%= link_to 'PaaS', critical_important_system_organisation_dashboard_break_downs_path(cm_model:"paas"), class:"#{@p_active} nav-link text-capitalize font-12 font-xxl-14 border-0 p-0 pb-2 text-light-grey font-500", remote: true %>
  </li>
</ul>
<div class="form-group">
  <div class="my-4">
    <label for="" class="text-light-grey font-12 font-xxl-14 font-500">The following business services contain critical steps and are consuming IaaS/SaaS/PaaS technology components in the public cloud.</label>
    <div class="table-search-field">
      <i class="fa fa-search text-dark font-14" aria-hidden="true"></i>
      <%= text_field_tag 'supplier[name]', nil, placeholder: 'Search Suppliers...', class: 'w-100 form-control border-0 shadow-none font-xxl-14 search-supplier-name pl-4' %>
      <span for="" class="m-0 font-13 empty-input-field font-600 text-danger">Clear</span>
    </div>
  </div>
</div>
<div class="tab-pane fade active show">
  <div class="table-responsive">
    <table class="table bg-white">
      <thead>
        <tr class="border-top-0">
          <th class="text-capitalize font-12 text-light-grey border-0">
            supplier name
          </th>
          <th class="text-capitalize font-12 text-light-grey border-0">
            party type
          </th>
          <th class="text-capitalize font-12 text-light-grey border-0">
            hosting provider
          </th>
          <th class="text-capitalize font-12 text-light-grey border-0">
            total business service
          </th>
          <th class="text-capitalize font-12 text-light-grey border-0">
            total critical steps
          </th>
          <th class="border-0"></th>
        </tr>
      </thead>
      <tbody>
        <% @suppliers&.each do |s|%>
        <tr>
          <td class="text-uppercase font-12 font-xxl-14 font-700 py-4"><%= s.name%>
          </td>
          <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
          <%= s.party_type %>
          </td>
          <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
            <div class="d-flex align-items-center">
              <div class="w-25px w-xxl-40px">
                <%= image_pack_tag 'media/images/aws.png', class: 'img-fluid' %>
              </div>
              <span class="ml-1"><%= s.cloud_hosting_provider.name %></span>
            </div>
          </td>
          <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
            <%= s.bsls_count %>
          </td>
          <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
           <%= s.critical_supplier_steps.count %>
          </td>
          <td class="text-capitalize font-12 text-primary font-xxl-14 font-500 py-4" type="button" class="btn white-btn text-capitalize" ><%= link_to "Breakdown", breakdown_organisation_dashboard_break_downs_path(id: s.id), remote: true %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <nav aria-label="Page navigation example">
      <%#= paginate @suppliers['iaas'], params: {controller: 'suppliers', action: 'search_and_filter'}, remote: true %>
  </nav>
</div>
