<div class="card border-0 shadow-sm rounded-50 mb-4">
  <div class="card-body px-0">
    <div class="box">
      <div class="d-flex align-items-start align-items-md-center justify-content-between flex-column flex-md-row mb-4 px-4">
        <h5 class="text-capitalize text-left font-600 mb-3 mb-md-0">Cloud Service Provider Dashboard</h5>
        <div class="icon-btn text-right d-flex align-items-center flex-1 justify-content-md-end justify-content-between w-100">
        </div>
      </div>
      <div class="row directory">
        <% @data[:chp_obj].each do |chp| %>
          <div class="col-lg-3 directory-box">
            <ul class="first-level list-unstyled px-3">
              <li>
                <a href="#" class="w-100">
                  <%= image_tag chp.logo, class: 'img-fluid ml-2' %>
                  <span class="font-12 font-400 ml-1"><%= chp.short_name %></span>
                </a>
                <ul class="second-level list-unstyled pl-4">
                  <% @data[:chp_model_supplier].each do |cm, number| %>
                  <li>
                    <a href="#" class="w-100">
                      <span class="font-12 font-400"><%= cm&.humanize %></span>
                    </a>
                    <ul class="third-level list-unstyled pl-4">
                      <% if @data[:chp_suppliers][chp.short_name].present? %>
                        <% @data[:chp_suppliers][chp.short_name][cm]&.first(3)&.each do |supplier| %>
                          <li>
                            <a href="#">
                              <span class="font-10 font-400"><%= supplier&.name %></span>
                            </a>
                          </li>
                        <% end %>
                        <li>
                          <% if @data[:chp_suppliers][chp.short_name][cm].present? && @data[:chp_suppliers][chp.short_name][cm]&.drop(3)&.size > 1 %>
                            <a href="#">
                              <span class="font-10 font-400">+ <%= @data[:chp_suppliers][chp.short_name][cm]&.drop(3)&.size %> more</span>
                            </a>
                          <% end %>
                        </li>
                        <% end %>
                      <% end %>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

