<div class="card border-0 shadow-sm rounded-50 mb-4">
  <div class="card-body px-0">
    <div class="box">
      <div class="d-flex align-items-start align-items-md-center justify-content-between flex-column flex-md-row mb-4 px-4">
        <h5 class="text-capitalize text-left font-600 mb-3 mb-md-0">Cloud Service Provider Dashboard</h5>
        <div class="icon-btn text-right d-flex align-items-center flex-1 justify-content-md-end justify-content-between w-100">
        </div>
      </div>
      <div class="row directory-list px-3 no-gutters">
        <% @data.each do |chp, data| %>
          <div class="col-lg-3 directory-box px-3 px-xxl-4">
            <ul class="first-level list-unstyled pl-2 pl-xxl-3">
              <li>
                <div class="img-wrapper d-flex align-items-center justify-content-center">
                  <%= image_tag @data.dig(chp, :logo), class: 'img-fluid' %>
                </div>
                <span class="font-12 font-600"><%= chp %></span>
                <ul class="second-level list-unstyled pl-2 pl-xxl-3">
                  <% Supplier.consumption_models.keys.each do  |cm| %>
                    <li class="text-center">
                      <span class="font-12 font-xxl-14 font-600 text-center"><%= cm.humanize %></span>
                      <ul class="second-level list-unstyled pl-2 pl-xxl-3">
                        <% @data.dig(chp, cm, :bsls).each do  |bsl| %>
                          <li>
                            <span class="font-12 font-400"><%= bsl.name.humanize %></span>
                            <ul class="second-level list-unstyled pl-2 pl-xxl-3">
                              <% @data.dig(chp, cm, bsl.id, :suppliers).each do  |supplier| %>
                                <li>
                                  <span class="font-12 font-400"><%= supplier.name.humanize %></span>
                                  <ul class="second-level list-unstyled pl-2 pl-xxl-3">
                                    <% @data.dig(chp, cm, bsl.id, supplier.id, :cloud_services).each do |service_name| %>
                                      <li>
                                        <%= service_name %>
                                      </li>
                                    <% end %>
                                  </ul>
                                </li>
                              <% end %>
                            </ul>
                          </li>
                        <% end %>
                      </ul>
                    </li>
                  <% end %>
                </ul>
              </li>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

