<div class="card border-0 rounded-50">
  <div class="card-body">
    <div class="d-flex align-items-center justify-content-between flex-wrap">
      <h5 class="font-600 text-capitalize text-capitalize flex-1 mb-3 mr-4">Private cloud critical system/supplier breakdown</h5>
      <div class="filter-grouped d-flex mr-2 mb-3">
        <div class="dropdown body-color-dropdown mr-2">
          <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class='dropdown-toggle text-capitalize py-2 pr-5 pl-2 d-flex align-items-center justify-content-start font-12 text-dark font-400 text-decoration-none' id='top-10'>10 results</a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item">Action</a>
            <a class="dropdown-item">Filter top 10</a>
            <a class="dropdown-item">Filter top 10</a>
          </div>
        </div>
      </div>
      <i class="fa fa-ellipsis-v mb-3"></i>
    </div>
    <ul class="nav nav-tabs border-0 active-green my-4 private-cloud-system">
      <li class="nav-item mr-3">
        <%= link_to 'IaaS', critical_important_system_organisation_dashboard_break_downs_path(cm_model:"iaas", type:"firm-hosted"), class:"active nav-link text-capitalize font-12 font-xxl-14 border-0 p-0 pb-2 text-light-grey font-500", remote: true %>
      </li>
      <li class="nav-item mr-3">
         <%= link_to 'PaaS', critical_important_system_organisation_dashboard_break_downs_path(cm_model:"paas", type:"firm-hosted"), class:"nav-link text-capitalize font-12 font-xxl-14 border-0 p-0 pb-2 text-light-grey font-500", remote: true %>
      </li>
    </ul>
    <div class="form-group">
      <div class="my-4">
        <label for="" class="text-light-grey font-12 font-xxl-14 font-500">The following business services contain critical steps and are consuming IaaS/SaaS/PaaS technology components in the public cloud.</label>
          <div class="table-search-field">
            <%= form_tag critical_important_system_organisation_dashboard_break_downs_path, method: :get, remote: true do %>
              <i class="fa fa-search text-dark font-14" aria-hidden="true"></i>
              <%= hidden_field_tag 'cm_model', @cm_model %>
              <%= hidden_field_tag 'type', 'firm_hosted' %>
              <%= text_field_tag 'query', @query, placeholder: 'Search User', class: "w-100 form-control border-0 shadow-none", id: "search-filter", onkeyup: 'RailsUJS.fire(this.form, "submit")' %>
              <span for="" id='clear-field' class="m-0 font-13 clear-input-field font-600 text-danger" data-url="<%= critical_important_system_organisation_dashboard_break_downs_path %>">Clear</span>
            <% end %>
          </div>
      </div>
    </div>
    <div class="private-tab-content">
      <%= render 'organisation/dashboard_break_downs/partials/firm_hosted' %>
    </div>
  </div>
</div>
