<div class="card border-0 rounded-50">
  <div class="card-body">
    <div class="d-flex align-items-start align-items-sm-center justify-content-between flex-wrap flex-sm-row flex-column">
      <h5 class="font-400 text-capitalize text-capitalize flex-1 mb-3 mr-4">Public cloud critical system/supplier breakdown</h5>
      <div class="filter-grouped d-flex mr-2 mb-3 align-items-center justify-content-between">
        <div class="dropdown body-color-dropdown mr-2">
          <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class='dropdown-toggle text-capitalize py-2 pr-5 pl-2 d-flex align-items-center justify-content-start font-12 text-dark font-400 text-decoration-none' id='top-10'>view top 10</a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item">Action</a>
            <a class="dropdown-item">Filter top 10</a>
            <a class="dropdown-item">Filter top 10</a>
          </div>
        </div>
        <i class="fa fa-ellipsis-v"></i>
      </div>
    </div>
    <ul class="nav nav-tabs border-0 active-green my-4">
      <li class="nav-item mr-3">
        <%= link_to 'IaaS', critical_important_system_organisation_dashboard_break_downs_path(cm_model:"iaas"), class:"nav-link active text-capitalize font-12 font-xxl-14 border-0 p-0 pb-2 text-light-grey font-500", remote: true %>
      </li>
      <li class="nav-item mr-3">
        <%= link_to 'SaaS', critical_important_system_organisation_dashboard_break_downs_path(cm_model:'saas'), class:"nav-link text-capitalize font-12 font-xxl-14 border-0 p-0 pb-2 text-light-grey font-500", remote: true %>
      </li>
      <li class="nav-item mr-3">
         <%= link_to 'PaaS', critical_important_system_organisation_dashboard_break_downs_path(cm_model:"paas"), class:"nav-link text-capitalize font-12 font-xxl-14 border-0 p-0 pb-2 text-light-grey font-500", remote: true %>
      </li>
    </ul>
    <div class="form-group">
      <div class="my-4">
        <label for="" class="text-light-grey font-12 font-xxl-14 font-500">The following business services contain critical steps and are consuming IaaS/SaaS/PaaS technology components in the public cloud.</label>
        <div class="table-search-field">
          <i class="fa fa-search text-dark font-14" aria-hidden="true"></i>
          <%= text_field_tag 'supplier[name]', nil, placeholder: 'Search Suppliers...', class: 'w-100 form-control border-0 shadow-none font-xxl-14 search-supplier-name pl-4', id: 'search-supplier-name' %>
          <span for="" class="m-0 font-13 empty-input-field font-600 text-danger">Clear</span>
        </div>
      </div>
    </div>
    <div class="tab-content" >
      <%= render 'organisation/dashboard_break_downs/partials/consumption_model' %>
    </div>
</div>
</div>

<div id="modal-window">
  
</div>
