<table class="table custom-table mb-4 text-capitalize">
  <thead class="font-600">
    <tr>
      <th class="font-12 font-xxl-14 px-1 text-light-grey font-400 text-capitalize font-600">region</th>
      <th class="font-12 font-xxl-14 px text-light-grey font-400 text-capitalize font-600">country</th>
      <th class="font-12 font-xxl-14 px text-light-grey font-400 text-capitalize font-600">institution</th>
      <th class="font-12 font-xxl-14 px text-light-grey font-400 text-capitalize font-600">product</th>
      <th class="font-12 font-xxl-14 px text-light-grey font-400 text-capitalize font-600">business services</th>
      <th class="font-12 font-xxl-14 px text-light-grey font-400 text-capitalize font-600">resilience ID</th>
      <th class="font-12 font-xxl-14 px text-light-grey font-400 text-capitalize font-600">status</th>
      <th class="font-12 font-xxl-14 px text-light-grey font-400 text-capitalize font-600">risk level</th>
    </tr>
  </thead>
  <tbody>
    <% resilience_gaps.each do |rg| %>
      <tr>
        <td class="font-11 font-xxl-14 px-1 text-dark font-600"><%= rg.unit&.parent&.region&.name%></td>
        <td class="font-11 font-xxl-14 text-dark font-600"><%= rg.unit&.country&.name %></td>
        <td class="font-11 font-xxl-14 text-dark font-600"><%= rg.business_service_line&.institution&.name %></td>
        <td class="font-11 font-xxl-14 text-dark font-600"><%= rg.business_service_line.products.pluck(:name).join(',') %></td>
        <td class="font-11 font-xxl-14 text-dark font-600"><%= rg.business_service_line.name %></td>
        <td class="font-11 font-xxl-14 text-dark font-600"><%= rg.rgid %></td>
        <td class="font-11 font-xxl-14 text-dark font-600"><%= rg.status %></td>
        <td class="font-11 font-xxl-14 text-dark font-600">
          <div class="d-flex align-items-center">
            <div class="sm-circle bg-red"></div>
            <span class="ml-2 text-capitalize flex-1"><%= rg.risk_level.titleize %></span>
          </div>
        </td>
        <td>
          <%= link_to 'view', resilience_indicator_ticket_organisation_resilience_ticket_resilience_gap_path(id: rg.business_service_line_id, resilience_ticket_id: rg.id), class: 'font-11 font-xxl-14 text-dark font-600 text-capitalize' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class='custom-pagination'>
  <%= paginate resilience_gaps %>
</div>