<div class="col-lg px-1 col-md-4 col-sm-6">
  <div class="dropdown custom-dropdown" id="dropdownMenuSupplierType">
    <button class="border-0 p-3 bg-body-color dropdown-toggle w-100 shadow-none mb-3 rounded" type="button" id="dropdownMenuButtonSupplierType" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="d-flex flex-column align-items-start">
        <h6 class="text-capitalize font-12 font-xxl-14 mb-1">
          <span class="font-600 text-capitalize">supplier type</span>
        </h6>
        <span class="text-capitalize font-12 font-xxl-14 text-light-grey">View all</span>
      </span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <div class="form-group dropdown-item pl-3 m-0">
        <label for="ch69" class="custom-checkbox d-flex m-0">
          <span class="font-12 text-black text-capitalize">Critical</span>
          <input type="checkbox" class="form-control" id="ch69">
          <span class="transparent-checkmark"></span>
        </label>
      </div>
      <div class="form-group dropdown-item pl-3 m-0">
        <label for="ch59" class="custom-checkbox d-flex m-0">
          <span class="font-12 text-black text-capitalize">Important</span>
          <input type="checkbox" class="form-control" id="ch59">
          <span class="transparent-checkmark"></span>
        </label>
      </div>
    </div>
  </div>
</div>
<div class="col-lg px-1 col-md-4 col-sm-6">
  <div class="dropdown custom-dropdown">
    <button class="border-0 rounded mb-3 bg-body-color p-3 dropdown-toggle w-100 shadow-none" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="d-flex flex-column align-items-start">
        <h6 class="text-capitalize font-12 font-xxl-14 mb-1">
          <span class="font-600 text-capitalize">Regions</span>
        </h6>
        <span class="text-capitalize font-12 font-xxl-14 text-light-grey">View all</span>
      </span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <div class="form-group dropdown-item pl-3 m-0 mb-2">
        <label for="ch319" class="custom-checkbox d-flex m-0">
          <span class="font-12 text-black text-capitalize">View All</span>
          <input type="checkbox" class="form-control" id="ch319">
          <span class="transparent-checkmark"></span>
        </label>
      </div>
      <% @regions&.each do |region|%>
        <div class="form-group dropdown-item pl-3 m-0 mb-2">
          <label for="ch619" class="custom-checkbox d-flex m-0">
            <span class="font-12 text-black text-capitalize"><%= region.name %>
              <span class="text-light-grey">- <%= region.children.size %> countries</span>
            </span>
            <input type="checkbox" class="form-control" id="ch619">
            <span class="transparent-checkmark"></span>
          </label>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="col-lg px-1 col-md-4 col-sm-6">
  <div class="dropdown custom-dropdown">
    <button class="border-0 rounded mb-3 p-3 bg-body-color dropdown-toggle w-100 shadow-none" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="d-flex flex-column align-items-start">
        <h6 class="text-capitalize font-12 font-xxl-14 mb-1">
          <span class="font-600 text-capitalize">countries</span>
        </h6>
        <span class="text-capitalize font-12 font-xxl-14 text-light-grey">View all</span>
      </span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <div class="form-group dropdown-item pl-3 m-0">
        <label for="ch39" class="custom-checkbox d-flex m-0">
          <span class="font-12 text-black text-capitalize">View All</span>
          <input type="checkbox" class="form-control" id="ch39">
          <span class="transparent-checkmark"></span>
        </label>
      </div>
      <% @countries&.each do |country|%>
        <div class="form-group dropdown-item pl-3 m-0">
          <label for="ch69" class="custom-checkbox d-flex m-0">
            <span class="font-12 text-black text-capitalize">
              <i class="flag <%= country.name.split().last.downcase %>"></i>
            <%= country.name %></span>
            <input type="checkbox" class="form-control" id="ch69">
            <span class="transparent-checkmark"></span>
          </label>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="col-lg px-1 col-md-4 col-sm-6">
  <div class="dropdown custom-dropdown">
    <button class="border-0 rounded mb-3 p-3 bg-body-color dropdown-toggle w-100 shadow-none" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="d-flex flex-column align-items-start">
        <h6 class="text-capitalize font-12 font-xxl-14 mb-1">
          <span class="font-600 text-capitalize">firms</span>
        </h6>
        <span class="text-capitalize font-12 font-xxl-14 text-light-grey">View all</span>
      </span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <div class="form-group dropdown-item pl-3 m-0">
        <label for="ch39" class="custom-checkbox d-flex m-0">
          <span class="font-12 text-black text-capitalize">View All</span>
          <input type="checkbox" class="form-control" id="ch39">
          <span class="transparent-checkmark"></span>
        </label>
      </div>
      <% @intitutions.each do |intitution|%>
        <div class="form-group dropdown-item pl-3 m-0">
          <label for="ch69" class="custom-checkbox d-flex m-0">
            <span class="font-12 text-black text-capitalize">
            <%= intitution.name %></span>
            <input type="checkbox" class="form-control" id="ch69">
            <span class="transparent-checkmark"></span>
          </label>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="col-lg px-1 col-md-4 col-sm-6">
  <div class="dropdown custom-dropdown">
    <button class="border-0 rounded mb-3 p-3 bg-body-color dropdown-toggle w-100 shadow-none" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="d-flex flex-column align-items-start">
        <h6 class="text-capitalize font-12 font-xxl-14 mb-1">
          <span class="font-600 text-capitalize">products</span>
        </h6>
        <span class="text-capitalize font-12 font-xxl-14 text-light-grey">View all</span>
      </span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <div class="form-group dropdown-item pl-3 m-0">
        <label for="ch39" class="custom-checkbox d-flex m-0">
          <span class="font-12 text-black text-capitalize">View All</span>
          <input type="checkbox" class="form-control" id="ch39">
          <span class="transparent-checkmark"></span>
        </label>
      </div>
      <div class="form-group dropdown-item pl-3 m-0">
        <label for="ch69" class="custom-checkbox d-flex m-0">
          <span class="font-12 text-black text-capitalize">AMERS</span>
          <input type="checkbox" class="form-control" id="ch69">
          <span class="transparent-checkmark"></span>
        </label>
      </div>
      <div class="form-group dropdown-item pl-3 m-0">
        <label for="ch59" class="custom-checkbox d-flex m-0">
          <span class="font-12 text-black text-capitalize">APAC</span>
          <input type="checkbox" class="form-control" id="ch59">
          <span class="transparent-checkmark"></span>
        </label>
      </div>
      <div class="form-group dropdown-item pl-3 m-0">
        <label for="ch79" class="custom-checkbox d-flex m-0">
          <span class="font-12 text-black text-capitalize">EMEA</span>
          <input type="checkbox" class="form-control" id="ch79">
          <span class="transparent-checkmark"></span>
        </label>
      </div>
    </div>
  </div>
</div>
