<section id="section3" class="section">
  <div class="card border-0 rounded-50">
    <div class="card-body">
      <div class="d-flex align-items-sm-center align-items-start justify-content-between flex-wrap">
        <h5 class="font-600 text-capitalize flex-1 mr-2 mb-2">top conformant supplier</h5>
        <div class="filter-grouped d-flex mr-2 mb-2 align-items-center">
          <div class="dropdown body-color-dropdown mr-2">
            <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class='dropdown-toggle text-capitalize py-2 pr-5 pl-2 d-flex align-items-center justify-content-start font-12 text-dark font-600 text-decoration-none' id='top-10'>view top 10</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item">Action</a>
              <a class="dropdown-item">Filter top 10</a>
              <a class="dropdown-item">Filter top 10</a>
            </div>
          </div>
          <!-- <i class="fa fa-ellipsis-v"></i> -->
        </div>
      </div>
    </div>
    <div class="table-responsive mt-2 bg-body-color">
      <table class="table bg-white">
        <thead>
          <tr class="border-top-0">
            <th class="text-capitalize font-12 text-light-grey border-0 font-400">
              supplier name
            </th>
            <th class="text-capitalize font-12 text-light-grey border-0 font-400">
              Used by Total Number of Insitutions
            </th>
            <th class="text-capitalize font-12 text-light-grey border-0 font-400">
              Used by Total Number of business services
            </th>
            <th class="text-capitalize font-12 text-light-grey border-0 font-400">
              critical supplier status total
            </th>
            <th class="text-capitalize font-12 text-light-grey border-0 font-400">
              important supplier status total
            </th>
            <th class="text-capitalize font-12 text-light-grey border-0 font-400">
              supplier conformance % with impact tolerances
            </th>
          </tr>
        </thead>
        <tbody>
          <% conformant_suppliers.each do |key, supplier| %>
            <tr>
              <td class="text-uppercase font-12 font-xxl-14 font-700 py-4 w-25"><%= supplier.dig(:name) %></td>
              <td class="font-12 font-xxl-14 py-4">
                <span class="font-500"><%= supplier.dig(:institution_count) %></span>
              </td>
              <td class="font-12 font-xxl-14 py-4">
                <span class="font-500"><%= supplier.dig(:total_business_services) %></span>
              </td>
              <td class="font-12 font-xxl-14 py-4">
                <span class="font-500"><%= supplier.dig(:total_critical_suppliers) %></span>
              </td>
              <td class="font-12 font-xxl-14 py-4">
                <span class="font-500"><%= supplier.dig(:total_important_suppliers) %></span>
              </td>
              <td class="font-12 font-xxl-14 py-4">
                <span class="font-500"><%= supplier.dig(:total_impact_tolerance) %></span>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>