<% if cloud_hosting_provider.present? %>
  <% if cloud_hosting_provider.cloud_hosting_provider_regions.present? %>
    <div class="row align-items-center mt-4">
      <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
        <p class="text-capitalize font-14 font-600">cloud hosting provider region</p>
      </div>
      <div class="col-sm-7 order-3 order-sm-2" id="cloud-hosting-provider-region">
        <span class="select-arrow position-relative">
          <%= select_tag 'supplier[cloud_hosting_provider_region_id]', options_for_select(cloud_hosting_provider.cloud_hosting_provider_regions.map { |chpr| [chpr.name, chpr.id] }, supplier&.cloud_hosting_provider_region_id), include_blank: 'Select your cloud hosting provider region', class: 'form-control w-100 font-12 h-auto py-3 shadow-none arrow-select', required: true %>
          <i class="fa fa-sort-desc position-absolute" aria-hidden="true"></i>
        </span>
      </div>
      <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
        <div class="info" data-toggle="tooltip" data-placement="top" title="Please select which region your system is hosted in" aria-hidden="true">i</div>
      </div>
    </div>
    <div class="row align-items-center mt-4">
      <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
        <p class="text-capitalize font-14 font-600">cloud hosting provider service</p>
      </div>
      <div class="col-sm-7 order-3 order-sm-2" id="cloud-hosting-provider-service">
        <div class="card border-0">
          <div class="card-body p-0">
            <div class="down-arrow-collapse down-collapse">
              <span class="position-relative d-block d-arrow">
                <input type="text" class="w-100 form-control font-12 h-auto py-3 shadow-none" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" placeholder="Search Service" id="chp-service-search-filter">
              </span>
              <div class="collapse" id="collapseExample">
                <div class="card h-300-with-scroll overflow-auto">
                  <div class="card-body">
                    <div class="w-100 mx-auto mb-4 mr-1 py-3 border-bottom">
                      <label for="select-all-chp-services" class="custom-checkbox d-flex p-0 justify-content-between align-items-center">
                        <span class="font-13 text-capitalize mr-2 font-600">select all</span>
                        <input type="checkbox" class="text-decoration-none text-capitalize font-12 text-black font-600 font-xxl-14" id="select-all-chp-services" value="selectAll">
                        <span class="checkmark position-relative"></span>
                      </label>
                    </div>
                  <% selected_services = supplier&.cloud_hosting_provider_services_ids || [] %>
                  <% cloud_hosting_provider.cloud_hosting_provider_services.each do |chps| %>
                    <div class="form-group mb-4 service-list" >
                      <label class="d-flex justify-content-between align-items-center custom-checkbox px-0 pb-4 border-bottom" for="<%= "#{chps.id}" %>" >
                        <span class="text-uppercase text-left flex-1 font-14 font-400"><%= chps.name %></span>
                        <%= check_box_tag 'supplier[cloud_hosting_provider_services_ids][]', chps.id, selected_services.include?(chps.id), class: 'form-control w-auto service', id: chps.id %>
                        <span class="checkmark position-relative"></span>
                      </label>
                    </div>
                  <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
        <div class="info" data-toggle="tooltip" data-placement="top" title="Please select which services are used in your cloud provider" aria-hidden="true">i</div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
      </div>
      <div class="col-sm-7 mt-1 order-3 order-sm-2 selected-service-count text-right font-13 text-capitalize font-400 text-secondary-green <%= selected_services&.present? ? '' : 'd-none' %>">
        selected services: <%= selected_services.count %>
      </div>
      <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
      </div>
    </div>
     <div class="row align-items-center">
      <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0"></div>
      <div class="col-sm-7 mt-1 order-3 order-sm-2">
        <p class="empty-services-message text-danger font-12 d-none" id="supplier-empty-services-message">*Please Select Cloud hosting provider services to proceed further </p>
      </div>
      <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0"></div>
    </div>
    <%= text_area_tag 'supplier[cloud_hosting_provider_description]', nil, placeholder: 'Enter details', class: 'w-100 form-control font-12 h-auto py-3 shadow-none d-none' %>
  <% else %>
    <%= select_tag 'supplier[cloud_hosting_provider_region_id]', options_for_select([], nil), include_blank: 'Select your cloud hosting provider region', class: 'form-control d-none' %>
    <%= check_box_tag 'supplier[cloud_hosting_provider_services_ids][]', '', '', class: 'form-control w-auto country d-none', id: 'service' %>
    <div class="row align-items-center mt-4">
      <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
        <p class="text-capitalize font-14 font-600">cloud hosting provider details</p>
      </div>
      <div class="col-sm-7 order-3 order-sm-2" id="cloud-hosting-provider-details">
        <%= text_area_tag 'supplier[cloud_hosting_provider_description]', supplier&.cloud_hosting_provider_description, placeholder: 'Enter details', class: 'w-100 form-control font-12 h-auto py-3 shadow-none' %>
      </div>
      <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
        <div class="info" data-toggle="tooltip" data-placement="top" title="Please select a cloud hosting provider details" aria-hidden="true">i</div>
      </div>
    </div>
  <% end %>
<% end %>
