<div id='compounded-resilience-posture' class="new-dashboard">
  <div class="row no-gutters">
    <div class="col-sm-12 px-1">
      <div class="d-flex justify-content-between align-items-center flex-wrap">
        <div class="left d-flex align-items-center flex-wrap">
        <div class="mr-4 back-btn mb-0">
          <%= render 'layouts/partials/shared/redirect_back', path: organisation_supplier_path(supplier) %>
        </div>
          <h2 class="font-600 font-sm-18 font-25 text-capitalize">Aggregated resilience posture</h2>
        </div>
        <div class="right d-flex">
          <div class="white-btn p-1 d-flex align-items-center rounded-50 cursor-pointer">
            <i class="fa fa-ellipsis-v p-1 mx-1"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row no-gutters mt-5">
    <div class="col-sm-12 px-1">
      <div class="w-100">
        <div class="content-area">
          <div id="section1">
            <ul class="nav nav-tabs justify-content-between m-0 custom-tab border-0 mb-2 row no-gutters" id="myTab" role="tablist">
              <% Sla::SLA_ATTR.each_with_index do |sla_attr, index| %>
                <% if index == 6 %> 
                  <% break %>
                <% end %>
                <li class="nav-item custom-item col-lg-2 col-md-3 col-sm-4 px-1 mb-2 mx-0">
                  <a class="text-decoration-none nav-link w-100 font-12 py-3 text-capitalize px-2 rounded custom-link border-0 <%= index.zero? ? 'active' : '' %> sla-compound-resilience " id="<%= sla_attr + '_tab' %>" data-toggle="tab" href="#<%= sla_attr%>" role="tab" aria-controls="<%= sla_attr %>" aria-selected="true" data-args="<%= { supplier: supplier.id, sla_name: sla_attr, supplier_type: params[:supplier_type] }.to_json %>" data-append-to=" sla-tab-content" data-partial-name="sla_compound_resilience_posture" data-turbolinks="true"><%= sla_compounded_resilience_posture_text(sla_attr) %></a>
                </li>
              <% end %>
              <% Sla::SLA_ATTR[6..-1].each do |sla_attr| %>
                <li class="nav-item col-lg col-md-3 col-sm-4 px-1 mb-2 mx-0 custom-item">
                  <a class="text-decoration-none nav-link w-100 font-12 py-3 text-capitalize px-2 rounded custom-link border-0 sla-compound-resilience" id="<%= sla_attr + '_tab' %>" data-toggle="tab" href="#<%= sla_attr%>" role="tab" aria-controls="<%= sla_attr %>" aria-selected="false" data-args="<%= { supplier: supplier.id, sla_name: sla_attr, supplier_type: params[:supplier_type] }.to_json %>" data-append-to="sla-tab-content" data-partial-name="sla_compound_resilience_posture" data-turbolinks="true"><%= sla_compounded_resilience_posture_text(sla_attr) %></a>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="tab-content">
            <div class="tab-pane active" id="sla-tab-content" role="tabpanel" aria-labelledby="home-tab">
              <%= render 'organisation/suppliers/partials/sla_compound_resilience_posture', sla_attr: 'service_level_agreement', bsl: service_level_agreement %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
