<%= form_for supplier, url: new_or_create ? organisation_suppliers_path : organisation_supplier_path, method: new_or_create ? :post : :patch do |form| %>
  <div class="wizard-body">
    <div class="wizard-header my-4 border-bottom pb-4">
      <h4 class="mb-4 font-weight-bold"><%= new_or_create ? 'Add a new supplier' : 'Edit supplier' %></h4>
      <p class="font-400 font-14">
        Please use this form to create a new supplier record in OpRes. A supplier can be a
        system that is hosted and delivered internally within your organisation. Alternatively, it
        can be a 3rd or 4th party supplier providing technology, software or resource capability to
        your organisation
      </p>
    </div>
     <h5 class="font-600">Supplier details</h5>
    <div class="mt-5">
      <div class="input-fields mb-5 pb-5 border-bottom">
        <div class="row align-items-center">
          <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
            <p class="text-capitalize font-14 font-600">supplier name</p>
          </div>
          <div class="col-sm-7 order-3 order-sm-2">
            <%= form.text_field :name, placeholder: 'Supplier Name', required: true, class: 'w-100 form-control font-12 h-auto py-3 shadow-none' %>
          </div>
          <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
            <div class="info" data-toggle="tooltip" data-placement="top" title="Please provide the supplier name" aria-hidden="true">i</div>
          </div>
        </div>
        <hr>
        <div class="row align-items-center mt-4">
          <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
            <p class="text-capitalize font-14 font-600">cloud hosting provider</p>
          </div>
          <div class="col-sm-7 order-3 order-sm-2" id="cloud-hosting-provider">
            <%= form.select :cloud_hosting_provider_id, options_for_select(@cloud_hosting_providers.map { |chp| [chp.name, chp.id] }, supplier.cloud_hosting_provider_id), { include_blank: 'Select your cloud hosting provider' }, class: 'form-control w-100 font-12 h-auto py-3 shadow-none arrow-select', id: 'load-cloud-hosting-provider-regions-services', data: { supplier: supplier&.id }, required: true %>
              <i class="fa fa-sort-desc pr-2 mr-2" aria-hidden="true"></i>
          </div>
          <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
            <div class="info" data-toggle="tooltip" data-placement="top" title="Please select a cloud hosting provider" aria-hidden="true">i</div>
          </div>
        </div>
        <div id="cloud-hosting-provider-regions-services">
          <%= render 'organisation/suppliers/partials/chp_regions_services_fields', supplier: supplier, cloud_hosting_provider: supplier.cloud_hosting_provider %>
        </div>
        <hr>
        <div class="checkboxes-field mt-4">
          <div class="row align-items-center">
            <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
              <p class="text-capitalize font-14 font-600 text-capitalize">contracting terms</p>
            </div>
            <div class="col-sm-7 order-3 order-sm-2">
              <div class="checkbox-container d-flex justify-content-start other-reason-container">
                <div class="d-flex align-items-center mr-2 form-group mb-2 pl-0 flex-wrap justify-content-between">
                  <% Supplier.contracting_terms.each do |key, val| %>
                    <div class="col-sm-6 mb-3 form-check px-0">
                      <label class="radio-check d-flex p-0 align-items-center">
                        <%= form.radio_button :contracting_terms, key, id: "contracting-terms-#{key}", class: 'other-reason-selection' %>
                        <%= form.label key.titleize, class: 'mb-0 ml-2 font-12 text-capitalize order-2 ml-2', for: "contracting-terms-#{key}" %>
                        <div class="checkmark position-relative order-1"></div>
                      </label>
                    </div>
                  <% end %>
                  <div class="col-sm-6 mb-3 px-0">
                    <%= form.text_field :contracting_terms_other, class: 'form-control other-reason-field font-14', placeholder: 'Please Specify' %>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
              <div class="info" data-toggle="tooltip" data-placement="top" title="Please select how you contract for the service" aria-hidden="true">i</div>
            </div>
          </div>
        </div>
        <div class="checkboxes-field mt-4">
          <div class="row align-items-center">
            <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
              <p class="text-capitalize font-14 font-600 text-capitalize">consumption model</p>
            </div>
            <div class="col-sm-7 order-3 order-sm-2">
              <div class="checkbox-container d-flex justify-content-start other-reason-container">
                <div class="d-flex align-items-center mr-2 form-group mb-2 pl-0 flex-wrap justify-content-between">
                  <% Supplier.consumption_models.each do |key, val| %>
                    <div class="col-sm-6 mb-3 form-check px-0">
                      <label class="radio-check d-flex p-0 align-items-center">
                        <%= form.radio_button :consumption_model, key, id: "consumption-model-#{key}", class: 'other-reason-selection' %>
                        <%= form.label key.titleize, class: 'mb-0 ml-2 font-12 text-capitalize order-2 ml-2', for: "consumption-model-#{key}" %>
                        <div class="checkmark position-relative order-1"></div>
                      </label>
                    </div>
                  <% end %>
                  <div class="col-sm-6 mb-3 px-0">
                    <%= form.text_field :consumption_model_other, class: 'form-control other-reason-field font-14', placeholder: 'Please Specify' %>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
              <div class="info" data-toggle="tooltip" data-placement="top" title="Please select your consumption model" aria-hidden="true">i</div>
            </div>
          </div>
        </div>
        <div class="date-selection position-relative mt-3">
          <div class="row align-items-center">
            <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
              <p class="text-capitalize font-14 font-600 text-capitalize">Start Date</p>
            </div>
            <div class="col-sm-7 order-3 order-sm-2">
              <div class="position-relative">
                <%= form.text_field :start_date, value: @supplier&.start_date&.strftime("%d-%m-%Y"), class: 'datepicker w-100 form-control font-12 h-auto py-3 shadow-none', placeholder: 'dd/mm/yyyy', autocomplete: 'off', id: 'start-date' %>
                <i class="fa fa-calendar font-12 position-absolute right-0-vertical-50 mr-2" aria-hidden="true"></i>
              </div>
            </div>
          </div>

          <div class="row align-items-center mt-4">
            <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
              <p class="text-capitalize font-14 font-600 text-capitalize">End Date</p>
            </div>
            <div class="col-sm-7 order-3 order-sm-2">
              <div class="position-relative">
                <%= form.text_field :end_date, value: @supplier&.end_date&.strftime("%d-%m-%Y"), class: 'datepicker w-100 form-control font-12 h-auto py-3 shadow-none', placeholder: 'dd/mm/yyyy', autocomplete: 'off', id: 'end-date'%>
                <i class="fa fa-calendar font-12 position-absolute right-0-vertical-50 mr-2" aria-hidden="true"></i>
              </div>
              <div class="end-date-errors mt-2 font-12 text-danger d-none">
                <p>*End date should be greater than start Date</p>
              </div>

            </div>
          </div>
          <div class="info position-absolute right-0-vertical-50" data-toggle="tooltip" data-placement="top" title="Please feel free to add a start and end date for your agreement with this supplier" aria-hidden="true">i</div>
        </div>

        <%= form.fields_for :relationship_owner do |relationship_owner| %>
          <div class="row align-items-center mt-4">
            <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
              <p class="text-capitalize font-14 font-600">Relationship Owner Name</p>
            </div>
            <div class="col-sm-7 order-3 order-sm-2">
                <%= relationship_owner.text_field :name, placeholder: 'Relationship Owner', class:'w-100 form-control font-12 h-auto py-3 shadow-none' %>
            </div>
            <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
              <div class="info" data-toggle="tooltip" data-placement="top" title="Please provide the details of the relationship owner in your organisation" aria-hidden="true">i</div>
            </div>
          </div>

           <div class="row align-items-center mt-4">
            <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
              <p class="text-capitalize font-14 font-600">Relationship Owner Email</p>
            </div>
            <div class="col-sm-7 order-3 order-sm-2">
              <%= relationship_owner.email_field :email, placeholder: 'Relationship Owner Email', class:'w-100 form-control font-12 h-auto py-3 shadow-none' %>
            </div>
            <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
              <div class="info" data-toggle="tooltip" data-placement="top" title="Please provide the details of the relationship owner in your organisation" aria-hidden="true">i</div>
            </div>
          </div>
        <% end %>
        <div class="row align-items-center mt-4">
          <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
            <p class="text-capitalize font-14 font-600">Key Contacts</p>
          </div>
          <div class="col-sm-7 order-3 order-sm-2 key-contacts-select2">
            <%= form.select :key_contacts_ids, options_for_select(@key_contacts.map { |key_contact| [key_contact.name, key_contact.id] }, form.object.key_contacts_ids), { include_blank: 'Select Key Contact' }, class: 'form-control w-100 font-12 h-auto py-3 shadow-none select2 supplier-key-contact-selector', id: 'supplier-key-contact-select2', multiple: true %>
          </div>
          <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
            <div class="info" data-toggle="tooltip" data-placement="top" title="Please provide the details of key contacts within this supplier" aria-hidden="true">i</div>
          </div>
        </div>
        <hr>
        <%= form.fields_for :supplier_social_accounts do |supplier_social_account| %>
          <%= render 'organisation/suppliers/partials/social_account_fields', f: supplier_social_account %>
        <% end %>
        <hr>
        <div class="row align-items-center mt-4 ">
          <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
            <p class="text-capitalize font-14 font-600">region</p>
          </div>
          <div class="col-sm-7 order-3 order-sm-2 load-countries-from-region"
            data-append-countries-to="countries-dropdown"
            data-country-param-name="supplier[country_unit]"
          >
            <% selected_regional_unit = @supplier.unit&.selected_regional_unit %>
            <%= render '/organisation/unit_hierarchys/partials/drop_down', param_name: 'supplier[region]', options: Unit.regional_unit_dropdown(managing_units), val: selected_regional_unit&.id, prompt_message: 'Select your region' %>
          </div>
          <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
            <div class="info" data-toggle="tooltip" data-placement="top" title="region" aria-hidden="true">i</div>
          </div>
        </div>
        <div class="row align-items-center mt-4">
          <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
            <p class="text-capitalize font-14 font-600">country</p>
          </div>
          <div class="col-sm-7 order-3 order-sm-2" id="countries-dropdown">
            <% selected_country_unit = @supplier.unit&.selected_country_unit %>
            <%= render 'organisation/unit_hierarchys/partials/drop_down', param_name: 'supplier[country_unit]', options: (selected_regional_unit&.country_unit_dropdown || []), val: selected_country_unit&.id, prompt_message: 'Select your country' %>
          </div>
          <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
            <div class="info" data-toggle="tooltip" data-placement="top" title="country" aria-hidden="true">i</div>
          </div>
        </div>
      </div>
      <%= form.fields_for :sla do |supplier_sla| %>
        <div class="input-fields mb-5 pb-5 border-bottom">
          <h5 class="font-600">Supplier Obligations</h5>
          <div class="row align-items-center mt-5">
            <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
              <p class="text-capitalize font-14 font-600">service level agreement</p>
            </div>
            <div class="col-sm-7 order-3 order-sm-2">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text px-3 bg-white font-12">%</div>
                </div>
                <%= supplier_sla.number_field :service_level_agreement, placeholder: 'Enter Target', id: 'inlineFormInputGroup', class: 'form-control form-control font-12 h-auto py-3 shadow-none' %>
              </div>
            </div>
            <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
              <div class="info" data-toggle="tooltip" data-placement="top" title="Please input your SLA with this supplier" aria-hidden="true">i</div>
            </div>
          </div>
          <div class="row align-items-center mt-4">
            <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
              <p class="text-capitalize font-14 font-600">service level objective</p>
            </div>
            <div class="col-sm-7 order-3 order-sm-2">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text px-3 bg-white font-12">%</div>
                </div>
                <%= supplier_sla.number_field :service_level_objective, placeholder: 'Enter Target', id: 'inlineFormInputGroup', class: 'form-control form-control font-12 h-auto py-3 shadow-none' %>
              </div>
            </div>
            <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
              <div class="info" data-toggle="tooltip" data-placement="top" title="Please input your SLO with this supplier" aria-hidden="true">i</div>
            </div>
          </div>
          <div class="row align-items-center mt-4">
            <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
              <p class="text-capitalize font-14 font-600">recovery time objective</p>
            </div>
            <div class="col-sm-7 order-3 order-sm-2">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text px-3 bg-white font-12 text-capitalize">minutes</div>
                </div>
                <%= supplier_sla.number_field :recovery_time_objective, placeholder: 'Enter Target', id: 'inlineFormInputGroup', class: 'form-control form-control font-12 h-auto py-3 shadow-none' %>
              </div>              </div>
            <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
              <div class="info" data-toggle="tooltip" data-placement="top" title="Please input your RTO with this supplier" aria-hidden="true">i</div>
            </div>
          </div>
          <div class="row align-items-center mt-4">
            <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
              <p class="text-capitalize font-14 font-600">recovery point objective</p>
            </div>
            <div class="col-sm-7 order-3 order-sm-2">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text px-3 bg-white font-12 text-capitalize">minutes</div>
                </div>
                <%= supplier_sla.number_field :recovery_point_objective, placeholder: 'Enter Target', id: 'inlineFormInputGroup', class: 'form-control form-control font-12 h-auto py-3 shadow-none' %>
              </div>              </div>
            <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
              <div class="info" data-toggle="tooltip" data-placement="top" title="Please input your RPO with this supplier" aria-hidden="true">i</div>
            </div>
          </div>
          <div class="row align-items-center mt-4">
            <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
              <p class="text-capitalize font-14 font-600">Contracted Severity 1 Notification Timeframe</p>
            </div>
            <div class="col-sm-7 order-3 order-sm-2">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text px-3 bg-white font-12 text-capitalize">minutes</div>
                </div>
                <%= supplier_sla.number_field :severity1, placeholder:'Enter Target', class: 'form-control form-control font-12 h-auto py-3 shadow-none', id: 'inlineFormInputGroup'%>
              </div>
            </div>
            <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
              <div class="info" data-toggle="tooltip" data-placement="top" title="Please input the incident notification timeframe with this supplier" aria-hidden="true">i</div>
            </div>
          </div>
          <div class="row align-items-center mt-4">
            <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
              <p class="text-capitalize font-14 font-600">Contracted Severity 2 Notification Timeframe</p>
            </div>
            <div class="col-sm-7 order-3 order-sm-2">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text px-3 bg-white font-12 text-capitalize">minutes</div>
                </div>
                <%= supplier_sla.number_field :severity2, placeholder:'Enter Target', class: 'form-control form-control font-12 h-auto py-3 shadow-none', id: 'inlineFormInputGroup'%>
              </div>
            </div>
            <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
              <div class="info" data-toggle="tooltip" data-placement="top" title="Please input the incident notification timeframe with this supplier" aria-hidden="true">i</div>
            </div>
          </div>
          <div class="row align-items-center mt-4">
            <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
              <p class="text-capitalize font-14 font-600">Contracted Severity 3 Notification Timeframe</p>
            </div>
            <div class="col-sm-7 order-3 order-sm-2">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text px-3 bg-white font-12 text-capitalize">minutes</div>
                </div>
               <%= supplier_sla.number_field :severity3, placeholder:'Enter Target', class: 'form-control form-control font-12 h-auto py-3 shadow-none', id: 'inlineFormInputGroup'%>
              </div>
            </div>
            <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
              <div class="info" data-toggle="tooltip" data-placement="top" title="Please input the incident notification timeframe with this supplier" aria-hidden="true">i</div>
            </div>
          </div>
          <div class="row align-items-center mt-4">
            <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
              <p class="text-capitalize font-14 font-600">Contracted Severity 4 Notification Timeframe</p>
            </div>
            <div class="col-sm-7 order-3 order-sm-2">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text px-3 bg-white font-12 text-capitalize">minutes</div>
                </div>
                <%= supplier_sla.number_field :severity4, placeholder:'Enter Target', class: 'form-control form-control font-12 h-auto py-3 shadow-none', id: 'inlineFormInputGroup'%>
              </div>
            </div>
            <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
              <div class="info" data-toggle="tooltip" data-placement="top" title="Please input the incident notification timeframe with this supplier" aria-hidden="true">i</div>
            </div>
          </div>
          <div class="row align-items-center mt-4">
            <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
              <p class="text-capitalize font-14 font-600">Contracted Severity 1 Restoration Timeframe</p>
            </div>
            <div class="col-sm-7 order-3 order-sm-2">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text px-3 bg-white font-12 text-capitalize">minutes</div>
                </div>
               <%= supplier_sla.number_field :severity1_restoration, placeholder:'Enter Target', class: 'form-control form-control font-12 h-auto py-3 shadow-none', id: 'inlineFormInputGroup'%>
              </div>
            </div>
            <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
              <div class="info" data-toggle="tooltip" data-placement="top" title="Please input the incident restoration timeframe with this supplier" aria-hidden="true">i</div>
            </div>
          </div>
          <div class="row align-items-center mt-4">
            <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
              <p class="text-capitalize font-14 font-600">Contracted Severity 2 Restoration Timeframe</p>
            </div>
            <div class="col-sm-7 order-3 order-sm-2">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text px-3 bg-white font-12 text-capitalize">minutes</div>
                </div>

              <%= supplier_sla.number_field :severity2_restoration, placeholder:'Enter Target', class: 'form-control form-control font-12 h-auto py-3 shadow-none', id: 'inlineFormInputGroup'%>
              </div>
            </div>
            <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
              <div class="info" data-toggle="tooltip" data-placement="top" title="Please input the incident restoration timeframe with this supplier" aria-hidden="true">i</div>
            </div>
          </div>
          <div class="row align-items-center mt-4">
            <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
              <p class="text-capitalize font-14 font-600">Contracted Severity 3 Restoration Timeframe</p>
            </div>
            <div class="col-sm-7 order-3 order-sm-2">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text px-3 bg-white font-12 text-capitalize">minutes</div>
                </div>
                <%= supplier_sla.number_field :severity3_restoration, placeholder:'Enter Target', class: 'form-control form-control font-12 h-auto py-3 shadow-none', id: 'inlineFormInputGroup'%>
              </div>
            </div>
            <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
              <div class="info" data-toggle="tooltip" data-placement="top" title="Please input the incident restoration timeframe with this supplier" aria-hidden="true">i</div>
            </div>
          </div>
          <div class="row align-items-center mt-4">
            <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
              <p class="text-capitalize font-14 font-600">Contracted Severity 4 Restoration Timeframe</p>
            </div>
            <div class="col-sm-7 order-3 order-sm-2">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text px-3 bg-white font-12 text-capitalize">minutes</div>
                </div>
                <%= supplier_sla.number_field :severity4_restoration, placeholder:'Enter Target', class: 'form-control form-control font-12 h-auto py-3 shadow-none', id: 'inlineFormInputGroup'%>
              </div>
            </div>
            <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
              <div class="info" data-toggle="tooltip" data-placement="top" title="Please input the incident restoration timeframe with this supplier" aria-hidden="true">i</div>
            </div>
          </div>
          <div class="checkboxes-field mt-4">
            <div class="row align-items-center">
              <div class="col-sm-4 flex-sm-1 align-self-start">
                <p class="text-capitalize font-14 font-600 text-capitalize">Support hours</p>
              </div>
              <div class="col-sm-7 order-3 order-sm-2 mt-sm-0 mt-3">
                <div class="row other-reason-container">
                  <% Sla.support_hours.each do |key, val| %>
                    <div class="col-sm-6 mb-3 form-check">
                      <label class="radio-check d-flex p-0 align-items-center">
                        <%= supplier_sla.radio_button :support_hours, key, id: "support-hours-#{key}", class: 'other-reason-selection' %>
                        <%= supplier_sla.label key.titleize, class: 'mb-0 ml-2 font-12 text-capitalize order-2 ml-2', for: "support-hours-#{key}" %>
                        <div class="checkmark position-relative order-1"></div>
                      </label>
                    </div>
                  <% end %>
                  <div class="col-sm-6 mb-3">
                    <%= supplier_sla.text_field :support_hours_other, class: 'form-control other-reason-field font-12', placeholder: 'Please Specify' %>
                  </div>
                </div>
              </div>
              <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0 align-self-start">
                <div class="info" data-toggle="tooltip" data-placement="top" title="Please confirm the support hours agreement for this supplier" aria-hidden="true">i</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-md-12 px-1 mb-4">
            <p class="text-capitalize font-14 font-600 text-capitalize">3rd Party supplier</p>
          </div>
        </div>
        <div id="third-party-suppliers">
          <%= form.fields_for :third_party_suppliers do |third_party_supplier| %>
            <%= render 'organisation/suppliers/partials/sub_supplier_fields', f: third_party_supplier %>
          <% end %>
        </div>
        <span>
          <%= link_to_add_association form, :third_party_suppliers, class: 'add-step-btn text-decoration-none mb-4 d-inline-block', partial: 'organisation/suppliers/partials/sub_supplier_fields' do %>
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            <span class="font-14 font-600 ml-1 text-capitalize cursor-pointer">add another third supplier </span>
          <% end %>
        </span>
        <div class="row no-gutters">
          <div class="col-md-12 px-1 mb-4">
            <p class="text-capitalize font-14 font-600 text-capitalize">4th Party supplier</p>
          </div>
        </div>
        <div id="fourth-party-suppliers">
          <%= form.fields_for :fourth_party_suppliers do |fourth_party_supplier| %>
            <%= render 'organisation/suppliers/partials/sub_supplier_fields', f: fourth_party_supplier %>
          <% end %>
        </div>
        <span>
          <%= link_to_add_association form, :fourth_party_suppliers, class: 'add-step-btn text-decoration-none mb-4 d-inline-block', partial: 'organisation/suppliers/partials/sub_supplier_fields' do %>
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            <span class="font-14 font-600 ml-1 text-capitalize cursor-pointer">add another fourth supplier</span>
          <% end %>
        </span>
      <% end %>
      <div class="wizard-btn d-flex d-sm-block justify-content-between flex-column">
        <%= form.submit 'Save & Add Supplier', class: 'btn btn-light-grey btn-sm font-600 text-capitalize font-12 float-right btn-light-grey' %>
      </div>
    </div>
  </div>
<% end %>
