<div class="card border-0 shadow-sm rounded-50 overflow-hidden mt-4">
  <div class="card-body">
    <div class="row border-bottom w-100 mx-auto mb-5">
      <div class="col-md-6 col-lg-4 order-lg-1 order-2 mb-lg-0 mb-4">
        <div id="bsl-tiers-<%= sla_attr.dasherize%>" class="lazy-graph" data-key="bsl_tiers" data-args="<%= {bsl: bsl.ids.present? ? bsl.ids : 0 }.to_json %>" data-append-to="bsl-tiers-<%= sla_attr.dasherize%>" data-partial-name="bsl_tiers_v1">
          <%= render 'organisation/graphs/partials/bsl_tiers_v1', data: {} %>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 order-lg-1 order-2 mb-lg-0 mb-4">
        <div id="impact-tolerance-breakdown-<%= sla_attr.dasherize%>" class="lazy-graph" data-key="impact_tolerance_breakdown" data-args="<%= { sla_attr: sla_attr, supplier: @supplier.id, bsl: bsl.ids.present? ? bsl.ids : 0 }.to_json %>" data-append-to="impact-tolerance-breakdown-<%= sla_attr.dasherize%>" data-partial-name="impact_tolerance_breakdown">
          <%= render 'organisation/graphs/partials/impact_tolerance_breakdown', data: {} %>
        </div>
      </div>
      <div id="sla-conformance-<%= sla_attr.dasherize%>" class="col-md-6 col-lg-4 order-lg-1 order-2 mb-lg-0 mb-4 lazy-graph" data-key="sla_conformance_impact_tolerance" data-args="<%= { sla_attr: sla_attr, supplier: @supplier.id, bsl: bsl.ids.present? ? bsl.ids : 0 }.to_json %>" data-append-to="sla-conformance-<%= sla_attr.dasherize%>" data-partial-name="supplier_conformance_impact_tolerance">
        <%= render 'organisation/graphs/partials/supplier_conformance_impact_tolerance', data: {} %>
      </div>
    </div>

    <div id="compound-resilience-breakdown-<%= sla_attr.dasherize%>" class="row mt-0 no-gutters lazy-graph" data-key="compound_resilience_breakdown" data-args="<%= { sla_attr: sla_attr, supplier: @supplier.id, bsl: bsl.ids.present? ? bsl.ids : 0 }.to_json %>" data-append-to="compound-resilience-breakdown-<%= sla_attr.dasherize%>" data-partial-name="compound_resilience_breakdown">
    <%= render 'organisation/graphs/partials/compound_resilience_breakdown', data: {} %>
    </div> 

  </div>
</div>
