<div class= "nested-fields">
  <div class="row align-items-center mb-4">
    <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
      <p class="text-capitalize font-14 font-600">Social Account</p>
    </div>
    <div class="col-sm-7 order-3 order-sm-2">
      <%= f.select :social_account_id, options_for_select(@social_accounts.map { |social_account| [social_account.name, social_account.id] }),{ include_blank: 'Please select social Account' }, required: true, class: 'form-control w-100 font-12 h-auto py-3 shadow-none arrow-select' %>
        <i class="fa fa-sort-desc pr-2 mr-2" aria-hidden="true"></i>
    </div>
    <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
      <div class="info" data-toggle="tooltip" data-placement="top" title="Please provide the Social Account" aria-hidden="true">i</div>
    </div>
  </div>
  <div class="row align-items-center mb-4">
    <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
      <p class="text-capitalize font-14 font-600">Social Account Link</p>
    </div>
    <div class="col-sm-7 order-3 order-sm-2">
      <%= f.text_field :link ,class: 'w-100 form-control font-12 h-auto py-3 shadow-none', placeholder: 'Enter the url' %>
    </div>
    <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
      <div class="info" data-toggle="tooltip" data-placement="top" title="Please provide the Social Account Link" aria-hidden="true">i</div>
    </div>
  </div>
  <div class="row align-items-center mb-1">
    <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
      <p class="text-capitalize font-14 font-600">Logo</p>
    </div>
    <div class="col-sm-7 order-3 order-sm-2">
      <%= f.file_field :image, class: 'w-100 form-control font-12 h-auto py-3 shadow-none'%>
    </div>
    <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
      <div class="info" data-toggle="tooltip" data-placement="top" title="Please provide the Social Account logo" aria-hidden="true">i</div>
    </div>
  </div>
  <div class="row align-items-center mb-4">
    <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
    </div>
    <div class="col-sm-7 order-3 order-sm-2">
      <% if f.object.image.present? %>
        <div class="social-account-logo-image mt-1">
          <span class="text-light-grey font-12 mb-2 d-inline-block">Selected logo</span>
          <div class="card">
            <div class="card-body p-2">
                <%= image_tag(f.object.image)%> 
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-7 text-right">
      <%= link_to_remove_association f, class: 'font-12 text-danger text-right' do %>
        <i class="fa fa-trash" aria-hidden="true"></i>
        <span> Remove Social Account </span>
      <% end %>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>


