<div class="row">
  <div class="col-sm-12 col-md-10 col-lg-8 col-xxl-10 mx-auto">
    <div class="card border-0 shadow">
      <div class="d-flex justify-content-between align-items-center py-3 px-4 mt-3">
        <h5 class="text-capitalize font-700">Admin</h5>
        <%= link_to new_organisation_admin_path, class: 'text-capitalize font-12 ml-auto text-black text-decoration-none d-flex' do %>
          <i class="fa fa-plus-circle r-1 font-20" aria-hidden="true"></i>
          <span class="ml-2 font-14">Add New</span>
        <% end %>
      </div>
      <div class="table-search-field px-4 mb-2">
        <i class="fa fa-search text-dark font-14" aria-hidden="true"></i>
        <input type="text" placeholder="search institutions" class="w-100 form-control border-0 shadow-none">
      </div>
      <div class="table-responsive">
        <% if @admins.present? %>
          <table class="table custom-table font-12 m-0">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @admins.each do |admin| %>
                <tr>
                  <td class="text-dark"><%= admin.name %></td>
                  <td><%= admin.email %></td>
                  <td><%= admin.role.humanize %></td>
                  <td>
                    <%= link_to 'View', organisation_admin_path(admin), class: 'font-12 font-700 mx-1 text-dark text-uppercase' %>
                    <%= link_to 'Edit', edit_organisation_admin_path(admin), class: 'font-12 font-700 mx-1 text-dark text-uppercase' %>
                    <%= link_to 'Delete', organisation_admin_path(admin), method: :delete, data: { confirm: 'Are you sure?' }, class: 'font-12 font-700 mx-1 text-dark text-uppercase' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <div class="alert alert-primary m-0" role="alert">
            No admins are created yet!
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
