<div class="progress-fields mb-5 pb-5 border-bottom bsl-risk">
  <div class="row align-items-center mb-4">
    <div class="col-sm-11 flex-sm-1 mb-2 mb-sm-0">
      <p class="text-capitalize font-14 font-600">
        <%= risk_appetite.object.name %>
        <%= risk_appetite.text_field :name, placeholder: 'Risk appetite title', class: 'd-none' %>
      </p>
    </div>
    <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
      <div class="info" data-toggle="tooltip" data-placement="top" title="<%= risk_appetite_tooltip(risk_appetite.object) %>" aria-hidden="true">i</div>
    </div>
  </div>

  <div class="row align-items-end">
    <div class="col-md-7 d-flex align-self-end mb-sm-0 mb-2">
      <div class="slidecontainer d-flex align-items-center w-100 mb-3">
        <span class="font-12 font-300 mr-2 light-text text-capitalize font-400">very low</span>
        <div class="chrome flex-1">
          <input type="range" name="risk_slider" class="w-100 myinput bsl-risk-slider justification-requirer" min="0" max="4" step="1" value="<%= RiskAppetite.labels[risk_appetite.object.label] %>">
          <%= risk_appetite.text_field :label, class: 'd-none bsl-risk-slider-value' %>
        </div>
        <span class="font-12 font-300 ml-2 light-text text-capitalize font-400">very high</span>
      </div>
    </div>
    <div class="col-md-3 d-flex align-items-start pr-1 flex-column">
      <span class="text-danger font-10 font-600 d-none warning-error" id="warning_message_<%= risk_appetite.object.kind %>" >*Risk Appetite does not meet the requirement of target value.</span>
      <div class="input-group mr-1">
        <div class="input-group-prepend">
          <div class="input-group-text px-3 bg-white font-12"><%= risk_appetite_icon(risk_appetite.object) %></div>
        </div>
        <%= risk_appetite.number_field :amount, class: 'form-control form-control font-12 h-auto py-3 shadow-none justification-requirer risk-appetite', placeholder: 'Enter Target',  value: risk_appetite_amount_value(risk_appetite.object), min: 0, step: 'any', data: { sla: "business_service_line_sla_attributes_#{risk_appetite.object.kind}", percent: risk_appetite.object.percentage_amount?  } %>
      </div>
    </div>
    <div class="col-md-2 pl-1">
      <% RiskAppetite.labels.each do |k, v| %>
        <%= link_to 'javascript:void(0);', class: "w-100 btn font-13 font-500 text-capitalize pink-btn font-600 ml-1 py-3 #{ risk_appetite.object.label == k ? '' : 'd-none' } bsl-risk-#{k.dasherize} bsl-risk-slider-indicator bsl-risk-slider-indicator-#{v}" do %>
          <%= k.titleize %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt-4 field-scroll">
      <a class="card cursor-pointer text-decoration-none text-dark" href="#justification-expand-<%= risk_appetite.object.kind %>" data-toggle="collapse" aria-expanded="false">
        <div class="card-body d-flex align-items-center justify-content-between p-3 position-relative">
          <span class="text-capitalize light-text font-12 ">add justification</span>
          <span class="down-arrow-animation">
            <i class="fa fa-angle-double-down arrow font-18 font-xxl-20" aria-hidden="true"></i>
          </span>
          <span class="font-600 text-capitalize font-12 font-xxl-14">
            Expand
          </span>
        </div>
      </a>
      <div class="collapse w-100" id="justification-expand-<%= risk_appetite.object.kind %>">
        <div class="card">
          <div class="card-body">
            <%= risk_appetite.fields_for :risk_appetite_justifications, risk_appetite.object.risk_appetite_justifications.build do |risk_appetite_justification| %>
              <%= risk_appetite_justification.text_area :justification, placeholder: 'Add Justification', cols: '30', rows: '3', class: 'form-control expandable justification-required resize-vertical font-12' %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between align-items-center mt-4">
        <% justifications = risk_appetite.object.risk_appetite_justifications.includes(:user).select(&:persisted?) %>
        <% if justifications.present? %>
          <span class="p-2 flex-1 bg-body-color text-light-grey mr-1"><small class='font-600 font-14'><%= justifications.first.creation_info %></small></span>
          <span class="p-2 flex-1 bg-body-color text-light-grey ml-1"><small class='font-600 font-14'><%= justifications.last.modification_info %></small></span>
          <%= link_to 'javascript:void(0);', data: { toggle: 'modal', target: "#justification-details-#{risk_appetite.object.kind.dasherize}-modal" }, class: 'text-black' do %>
            <i class="fa fa-binoculars ml-2"></i>
          <% end %>

          <div class="modal fade my-5 py-5" tabindex="-1" role="dialog" id="<%= "justification-details-#{risk_appetite.object.kind.dasherize}-modal" %>">
            <div class="modal-dialog max-700px" role="document">
              <div class="modal-content">
                <div class="modal-header border-0 p-4">
                  <h5 class="modal-title text-capitalize font-16">All Modifications</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body p-4">
                  <table class="table">
                    <thead>
                      <tr>
                        <th class='text-light-grey font-12 border-0 w-25'>Date Of Update</th>
                        <th class='text-light-grey font-12 border-0 w-25'>Update Made By</th>
                        <th class='text-light-grey font-12 border-0'>Update Description</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% justifications.each do |justification| %>
                        <tr>
                          <td class="font-12 font-600 border-bottom py-3"><%= justification.strf_created_at %></td>
                          <td class="font-12 font-600 border-bottom py-3"><%= justification.user.name %></td>
                          <td class="font-12 font-600 border-bottom py-3"><%= justification.justification %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <%= risk_appetite.text_field :kind, class: 'd-none' %>
    </div>
  </div>
</div>
