<%= form_with(model: business_service_line, local: true) do |form| %>
  <% if business_service_line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(business_service_line.errors.count, "error") %> prohibited this business_service_line from being saved:</h2>

      <ul>
        <% business_service_line.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :organisational_unit_id %>
            <%= form.collection_select(:organisational_unit_id, OrganisationalUnit.all, :id, :name, {:prompt => 'Select the org unit'} ) %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :tier %>
    <%= form.text_field :tier %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
