<!-- **********Commented Code will be used after MVP************************* -->
<div id='supplier-view' class="new-dashboard new-cloud-dashboard supplier-show">
  <div class="row no-gutters">
    <div class="col-sm-12 px-1">
      <div class="d-flex justify-content-between align-items-center flex-wrap">
        <div class="left d-flex align-items-center flex-wrap">
          <div class="mr-4 back-btn">
            <%= render 'layouts/partials/shared/redirect_back', path: organisation_administration_portal_index_path %>
          </div>
          <h2 class="font-500 font-sm-18 font-25 text-capitalize my-3"><%= @supplier.name %></h2>
        </div>
        <!-- <div class="right d-flex mt-lg-0">
          <div class="white-btn d-flex align-items-center pl-2 px-3 rounded-50 mr-2 pr-2 mr-2 py-2 cursor-pointer">
            <span> <i class="fa fa-sliders"></i></span>
            <span class="text-capitalize font-12 font-xxl-14 ml-2 font-600">Customise View</span>
          </div>
          <div class="white-btn d-flex align-items-center pl-2 mr-2 rounded-50 px-3 pr-2 py-2 cursor-pointer">
            <span><i class='fa fa-save font-16 mr-2'></i></span>
            <span class="text-capitalize font-12 font-xxl-14 font-600">save view</span>
          </div>
          <div class="white-btn p-1 d-flex align-items-center rounded-50 cursor-pointer">
            <i class="fa fa-ellipsis-v px-2 mx-1"></i>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <div class="secondary-sidebar d-none">
    <i class='fa fa-ellipsis-v fa-1x font-18'></i>
  </div>
  <div class="row mt-5 no-gutters">
    <div class="col-sm-3 col-xxl-2 px-1">
      <aside class="fixed-secondary-sidebar position-static" id='sticky-sidebar-demo'>
        <i class="fa fa-times-circle fa-1x d-none"></i>
        <ul class="p-0 list-unstyled inner-wrapper-sticky">
          <li class="links active-white mb-2">
            <a href="#section1" class=" text-decoration-none text-capitalize font-13 font-xxl-14 d-block py-2">overview</a>
          </li>
          <li class="links mb-2">
            <a href="#section2" class=" text-decoration-none text-capitalize font-13 font-xxl-14 d-block py-2">Contracted Agreements</a>
          </li>
          <li class="links mb-2">
            <a href="#section3" class=" text-decoration-none text-capitalize font-13 font-xxl-14 d-block py-2">Aggregated Risk Posture</a>
          </li>
<!--           <li class="links mb-2">
            <a href="#section4" class=" text-decoration-none text-capitalize font-13 font-xxl-14 d-block py-2">Service Level Indicators</a>
          </li> -->
          <li class="links mb-2">
            <a href="#section5" class=" text-decoration-none text-capitalize font-13 font-xxl-14 d-block py-2">Hosting Provider</a>
          </li>
          <li class="links mb-2">
            <a href="#section6" class=" text-decoration-none text-capitalize font-13 font-xxl-14 d-block py-2">Cloud hosting services</a>
          </li>
          <li class="links mb-2">
            <a href="#section7" class=" text-decoration-none text-capitalize font-13 font-xxl-14 d-block py-2">3rd party suppliers</a>
          </li>
          <li class="links mb-2">
            <a href="#section8" class=" text-decoration-none text-capitalize font-13 font-xxl-14 d-block py-2">4th party suppliers</a>
          </li>
          <li class="links mb-2">
            <a href="#section9" class=" text-decoration-none text-capitalize font-13 font-xxl-14 d-block py-2">supplier compliance documentation</a>
          </li>
        </ul>
      </aside>
    </div>
    <div class="col-sm-9 col-xxl-10 px-1">
      <div class="content-area">
        <div id="section1">
          <%= render 'organisation/suppliers/subsections/overview' %>
        </div>
        <div id="section2">
          <%= render 'organisation/suppliers/subsections/contracted_agreement' %>
        </div>
        <div id="section3">
          <%= render 'organisation/suppliers/subsections/aggregated_risk_posture' %>
        </div>
<!--         <div id="section4">
          <%= render 'organisation/suppliers/subsections/service_level_indicator' %>
        </div> -->
        <div id="section5">
        <%= render 'organisation/suppliers/subsections/hosting_provider' %>
        </div>
        <div id="section6">
          <%= render 'organisation/suppliers/subsections/services' %>
        </div>
        <div id="section7">
          <%= render "organisation/suppliers/subsections/third_party_supplier" %>
        </div>
        <div id="section8">
          <%= render "organisation/suppliers/subsections/fourth_party_supplier" %>
        </div>
        <div id="section9">
          <%= render 'organisation/suppliers/subsections/supplier_compliance_documentation', supplier: @supplier, compliance_evidences: @compliance_evidences %>
        </div>
      </div>
    </div>
  </div>
</div>
