<div id='supplier-view' class="new-dashboard new-cloud-dashboard supplier-show">
  <div class="row no-gutters">
    <div class="col-sm-12 px-1">
      <div class="d-flex justify-content-between align-items-center flex-wrap">
        <div class="left d-flex align-items-center flex-wrap">
          <div class="mr-4 back-btn mb-2 mb-sm-0 ">
            <%= render 'layouts/partials/shared/redirect_back', path: organisation_administration_portal_index_path %>
          </div>
          <h2 class="font-500 font-sm-18 font-25 text-capitalize"><%= @supplier.name %></h2>
        </div>
        <div class="right d-flex mt-3 mt-lg-0">
          <div class="white-btn d-flex align-items-center pl-2 pr-2 mr-2 py-2">
            <span><i class='fa fa-save font-16 mr-2'></i></span>
            <span class="text-capitalize font-12 font-xxl-14">save view</span>
          </div>
          <div class="white-btn d-flex align-items-center pl-2 pr-2 mr-2 py-2">
            <span> <i class="fa fa-sliders"></i></span>
            <span class="text-capitalize font-12 font-xxl-14 ml-2">Customised View</span>
          </div>
          <div class="white-btn p-1 d-flex align-items-center">
            <i class="fa fa-ellipsis-v px-2"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="secondary-sidebar d-none">
    <i class='fa fa-ellipsis-v fa-1x font-18'></i>
  </div>
  <div class="row mt-5 no-gutters">
    <div class="col-sm-3 col-xxl-2 px-1">
      <aside class="fixed-secondary-sidebar position-static" id='sticky-sidebar-demo'>
        <i class="fa fa-times-circle fa-1x d-none"></i>
        <ul class="p-0 list-unstyled inner-wrapper-sticky">
          <li class="links active-white mb-2">
            <a href="#section1" class=" text-decoration-none text-capitalize font-13 font-xxl-14 d-block py-2">overview</a>
          </li>
          <li class="links mb-2">
            <a href="#section2" class=" text-decoration-none text-capitalize font-13 font-xxl-14 d-block py-2">Contracted Agreements</a>
          </li>
          <li class="links mb-2">
            <a href="#section3" class=" text-decoration-none text-capitalize font-13 font-xxl-14 d-block py-2">Aggregated Risk Posture</a>
          </li>
          <li class="links mb-2">
            <a href="#section4" class=" text-decoration-none text-capitalize font-13 font-xxl-14 d-block py-2">Service Level Indicators</a>
          </li>
          <li class="links mb-2">
            <a href="#section5" class=" text-decoration-none text-capitalize font-13 font-xxl-14 d-block py-2">Cloud Provider</a>
          </li>
          <li class="links mb-2">
            <a href="#section6" class=" text-decoration-none text-capitalize font-13 font-xxl-14 d-block py-2">4th party suppliers</a>
          </li>
          <li class="links mb-2">
            <a href="#section7" class=" text-decoration-none text-capitalize font-13 font-xxl-14 d-block py-2">Provider Resilience Gaps</a>
          </li>
        </ul>
      </aside>
    </div>
    <div class="col-sm-9 col-xxl-10 px-1">
      <div class="content-area">
        <div id="section1">
          <div class="card border-0 shadow-sm rounded-50 mb-4">
            <div class="card-body px-0">
              <div class="box">
                <div class="d-flex justify-content-between align-items-center mb-4 px-4">
                  <h5 class="text-capitalize text-left">Overview</h5>
                  <div class="text-right">
                    <a href="#" class="text-black">
                      <i class="fa fa-ellipsis-v text-right" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
                <div class="info-text mb-4 px-4">
                  <h6 class="mb-3 text-capitalize"><%= @supplier.name %></h6>
                  <p class="font-13">
                    <%= @supplier.description %>
                  </p>
                </div>
                <hr>
                <div class="details mb-4 px-4">
                  <div class="intro-box mb-3 d-flex align-items-center justify-content-center">
                    <div class="w-25">
                      <span class="font-12">Supplier Relationship Owner</span>
                    </div>
                    <div class="w-75">
                      <strong class="font-12"><%= @supplier.relationship_owner&.name %></strong>
                    </div>
                  </div>
                  <div class="intro-box mb-3 d-flex align-items-center justify-content-center">
                    <div class="w-25">
                      <span class="font-12">Supplier Key Contact</span>
                    </div>
                    <div class="w-75">
                      <strong class="w-75 font-12"><%= @supplier.key_contacts_list %></strong>
                    </div>
                  </div>
                  <div class="intro-box mb-3 d-flex align-items-center justify-content-center">
                    <div class="w-25">
                      <span class="font-12">Supplier Key Contact Details</span>
                    </div>
                    <div class="w-75">
                      <strong class="font-12">
                        <%= @supplier.key_contacts.pluck(:email).join(', ') %>
                      </strong>
                    </div>
                  </div>
                  <div class="intro-box mb-3 d-flex align-items-center justify-content-center">
                    <div class="w-25">
                      <span class="font-12">Supplier Type:</span>
                    </div>
                    <div class="w-75">
                      <strong class="font-12"><%= @supplier.consumption_model&.upcase %></strong>
                    </div>
                  </div>
                  <div class="intro-box mb-3 d-flex align-items-center justify-content-center">
                    <div class="w-25">
                      <span class="font-12">Contact Type:</span>
                    </div>
                    <div class="w-75">
                      <strong class="font-12"><%= @supplier.contracting_terms&.capitalize %></strong>
                    </div>
                  </div>
                  <div class="intro-box mb-3 d-flex align-items-center justify-content-center">
                    <div class="w-25">
                      <span class="font-12">Start Date & End Date</span>
                    </div>
                    <div class="w-75">
                      <strong class="font-12">
                        <%= "#{@supplier.strf_attr('start_date')} - #{@supplier.strf_attr('end_date')}" %>
                      </strong>
                    </div>
                  </div>
                  <div class="intro-box mb-3 d-flex align-items-center justify-content-center">
                    <div class="w-25">
                      <span class="font-12">Annual Cost of Contract</span>
                    </div>
                    <div class="w-75">
                      <strong class="font-12"><%= @supplier.annual_cost_of_contract %></strong>
                    </div>
                  </div>
                </div>
                <div class="px-4">
                  <h5 class="text-capitalize d-block mb-4">Links</h5>
                  <div class="small-boxes row">
                    <% @supplier.social_account_recipients.each do |social_account_recipient| %>
                      <div class="col-md-3 mb-3">
                        <%= link_to social_account_recipient.link, target: '_blank', class: 'text-decoration-none text-black' do %>
                            <div class="card">
                              <div class="card-body p-2 d-block rounded">
                                <div class="color-tier">
                                  <div class="mr-1 d-inline-block w-25px text-center align-middle">
                                    <% social_account = social_account_recipient.social_account %>
                                    <%= image_tag social_account.logo, class: 'img-fluid w-100' %>
                                  </div>
                                  <div class="text d-inline-block align-middle">
                                    <span class="font-12 font-400 ml-2 d-block">
                                      <%= social_account.name %>
                                    </span>
                                  </div>
                                </div>
                              </div>
                            </div>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="section2">
          <div class="card border-0 shadow-sm rounded-50 mb-4">
            <div class="card-body px-0">
              <div class="box">
                <div class="d-flex justify-content-between align-items-center mb-4 px-4">
                  <h5 class="text-capitalize text-left">Contracted Agreements</h5>
                  <div class="text-right">
                    <a href="#" class="text-black">
                      <i class="fa fa-ellipsis-v text-right" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
                <div class="mb-4 px-4">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="box1 d-flex align-items-center py-3">
                        <div class="mr-3">
                          <div class="line-green"></div>
                        </div>
                        <div class="text">
                          <p class="font-13 font-400">Contracted SLA</p>
                          <h6 class="font-13 font-600"><%= @supplier.sla&.service_level_agreement %>%</h6>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="box1 d-flex align-items-center py-3">
                        <div class="mr-3">
                          <div class="line-green"></div>
                        </div>
                        <div class="text">
                          <p class="font-13 font-400">Contracted RTO</p>
                          <h6 class="font-13 font-600"><%= @supplier.sla&.recovery_time_objective %> Minutes</h6>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="box1 d-flex align-items-center py-3">
                        <div class="mr-3">
                          <div class="line-green"></div>
                        </div>
                        <div class="text">
                          <p class="font-13 font-400">Contracted RPO</p>
                          <h6 class="font-13 font-600"><%= @supplier.sla&.recovery_point_objective %> Minutes</h6>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="box1 d-flex align-items-center py-3">
                        <div class="mr-3">
                          <div class="line-green"></div>
                        </div>
                        <div class="text">
                          <p class="font-13 font-400">Support Hours</p>
                          <h6 class="font-13 font-600"><%= @supplier.sla&.support_hours %></h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-3 d-flex no-gutters">
                  <div class="table-responsive">
                    <table class="table mb-0">
                      <thead>
                        <tr>
                          <th class="border-0 px-4">Incident</th>
                          <th class="border-0 px-4">Severity 1</th>
                          <th class="border-0 px-4">Severity 2</th>
                          <th class="border-0 px-4">Severity 3</th>
                          <th class="border-0 px-4">Severity 4</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td width='300px' class="font-13 px-4">
                            Incident Response SLA
                          </td>
                          <td class="font-13 px-4">
                            <%= @supplier.sla&.severity1 %> Mins
                          </td>
                          <td class="font-13 px-4">
                            <%= @supplier.sla&.severity2 %> Mins
                          </td>
                          <td class="font-13 px-4">
                            <%= @supplier.sla&.severity3 %> Mins
                          </td>
                          <td class="font-13 px-4">
                            <%= @supplier.sla&.severity4 %> Mins
                          </td>
                        </tr>
                        <tr>
                          <td width='300px' class="font-13 px-4">
                            Incident Restoration SLA
                          </td>
                          <td class="font-13 px-4">
                            <%= @supplier.sla&.severity1_restoration %> Mins
                          </td>
                          <td class="font-13 px-4">
                            <%= @supplier.sla&.severity2_restoration %> Mins
                          </td>
                          <td class="font-13 px-4">
                            <%= @supplier.sla&.severity3_restoration %> Mins
                          </td>
                          <td class="font-13 px-4">
                            <%= @supplier.sla&.severity4_restoration %> Mins
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="section3">
          <div class="card border-0 shadow-sm rounded-50 mb-4">
            <div class="card-body px-0">
              <div class="box">
                <div class="d-flex justify-content-between align-items-center mb-4 px-4">
                  <h5 class="text-capitalize text-left">Aggregated Risk Posture</h5>
                  <div class="text-right">
                    <a href="#" class="text-black">
                      <i class="fa fa-ellipsis-v text-right" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
                <div class="mb-4 px-4">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="card border-0 pie-high-chart overflow-hidden">
                        <div class="card-header border-0 bg-white text-center">
                          <div class="donut-content">
                            <div id="two-colored-green-donut-1" class="donut"></div>
                            <div class="donut-value font-50 font-700 text-black">0</div>
                          </div>
                          <h6 class="font-13 font-600 w-75 mx-auto mt-3">Supplier Conformance with Impact Tolerances</h6>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-center justify-content-center">
                      <div class="card border-0 pie-high-chart">
                        <div class="card-header border-0 bg-white text-center">
                          <div class="donut-content">
                            <div class="donut align-items-center justify-content-center">
                              <div class="round p-5 bg-pink">
                                <i class="fa fa-exclamation-triangle font-40 text-red"></i>
                              </div>
                            </div>
                          </div>
                          <div class="text text-center mt-3">
                            <p class="font-13 font-400">Open Resilience Gaps</p>
                            <h6 class="font-13 font-600">10</h6>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row mt-3 d-flex no-gutters">
                  <div class="col-md-6 col-lg-4 order-lg-1 order-2 mb-lg-0 mb-4 px-3">
                    <div id="supplier-critical-important-bsl" class="row custom-high-chart px-md-3 lazy-graph" data-key="supplier_critical_important_bsl" data-args="<%= { supplier: @supplier.id }.to_json %>">
                      <%= render 'organisation/graphs/partials/supplier_critical_important_bsl', data: {} %>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-4 order-lg-4 order-1 mb-lg-0 mb-4 px-3">
                    <div class="card border-0 pie-high-chart overflow-hidden rounded-50">
                      <div class="card-header border-0 bg-white text-center">
                        <p class="font-14 font-600 chart-header-title text-left mb-2">Conformance with Business Service Impact Tolerances</p>
                        <%= link_to compound_resilience_organisation_business_service_lines_path do %>
                          <div class="donut-content mb-2">
                            <div id="two-colored-donut-1" class="donut"></div>
                            <div class="donut-value font-50 font-700 text-black">0</div>
                          </div>
                        <% end %>
                      </div>
                      <div class="card-body">
                        <div class="tiers d-flex justify-content-between align-items-center mb-3">
                          <div class="color-tier d-flex align-items-center">
                            <div class="circle green-1"></div>
                            <span class="font-12 font-400 ml-2">Matches Impact Tolerances</span>
                          </div>
                          <span class="font-12 font-700">0</span>
                        </div>
                        <div class="tiers d-flex justify-content-between align-items-center mb-3">
                          <div class="color-tier d-flex align-items-center">
                            <div class="circle green-2"></div>
                            <span class="font-12 font-400 ml-2">Meets Impact Tolerances</span>
                          </div>
                          <span class="font-12 font-700">0</span>
                        </div>
                        <div class="tiers d-flex justify-content-between align-items-center mb-3">
                          <div class="color-tier d-flex align-items-center">
                            <div class="circle green-2"></div>
                            <span class="font-12 font-400 ml-2">Exceeds Impact Tolerances</span>
                          </div>
                          <span class="font-12 font-700">0</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="supplier-third-fourth-party-bsl" class="lazy-graph col-md-6 col-lg-4 order-lg-4 order-1 mb-lg-0 mb-4 px-3" data-key="supplier_third_fourth_party_bsl" data-args="<%= { supplier: @supplier.id }.to_json %>">
                    <%= render 'organisation/graphs/partials/supplier_third_fourth_party_bsl', data: {} %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="section4">
          <div class="card border-0 shadow-sm rounded-50 mb-4">
            <div class="card-body px-0">
              <div class="box">
                <div class="d-flex justify-content-between align-items-center mb-4 px-4">
                  <h5 class="text-capitalize text-left">Service Level Indicators</h5>
                  <div class="text-right">
                    <a href="#" class="text-black">
                      <i class="fa fa-ellipsis-v text-right" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
                <div class="mb-4 px-4">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="box1 d-flex align-items-center py-3">
                        <div class="round mr-3">
                          <div class="sm-circle bg-primary-green p-4"></div>
                        </div>
                        <div class="text">
                          <p class="font-13 font-400">Active Service Status</p>
                          <h6 class="font-13 font-600">Service Available</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row mt-3 d-flex no-gutters">
                  <div class="table-responsive">
                    <table class="table mb-0">
                      <thead>
                        <tr>
                          <th class="border-0 px-4 font-14 text-light-grey">Metric</th>
                          <th class="border-0 px-4 font-14 text-light-grey"></th>
                          <th class="border-0 px-4 font-14 text-light-grey">Value</th>
                          <th class="border-0 px-4 font-14 text-light-grey">Value</th>
                          <th class="border-0 px-4 font-14 text-light-grey"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="font-14 font-600 px-4">
                            Saturation
                          </td>
                          <td class="px-4" width='200px' height="120px">
                            <div id="first-line-chart" class="h-100"></div>
                          </td>
                          <td class="font-14 px-4">
                            1031.33
                          </td>
                          <td class="font-14 px-4">
                            <i class="fa fa-caret-up mr-2 text-green"></i>
                            <span>-14.32(-1.2%)</span>
                          </td>
                          <td class="font-14 px-4">
                            <span class="mr-2">More</span>
                            <i class="fa fa-arrow-right"></i>
                          </td>
                        </tr>
                        <tr>
                          <td class="font-14 font-600 px-4">
                            Errors
                          </td>
                          <td class="px-4" width='200px' height="120px">
                            <div id="second-line-chart" class="h-100"></div>
                          </td>
                          <td class="font-14 px-4">
                            1031.33
                          </td>
                          <td class="font-14 px-4">
                            <i class="fa fa-caret-down mr-2 text-red"></i>
                            <span>-14.32(-1.2%)</span>
                          </td>
                          <td class="font-14 px-4">
                            <span class="mr-2">More</span>
                            <i class="fa fa-arrow-right"></i>
                          </td>
                        </tr>
                        <tr>
                          <td class="font-14 font-600 px-4">
                            Latency
                          </td>
                          <td class="px-4" width='200px' height="120px">
                            <div id="third-line-chart" class="h-100"></div>
                          </td>
                          <td class="font-14 px-4">
                            1031.33
                          </td>
                          <td class="font-14 px-4">
                            <i class="fa fa-caret-down mr-2 text-red"></i>
                            <span>-14.32(-1.2%)</span>
                          </td>
                          <td class="font-14 px-4">
                            <span class="mr-2">More</span>
                            <i class="fa fa-arrow-right"></i>
                          </td>
                        </tr>
                        <tr>
                          <td class="font-14 font-600 px-4">
                            Trafic
                          </td>
                          <td class="px-4" width='200px' height="120px">
                            <div id="fourth-line-chart" class="h-100"></div>
                          </td>
                          <td class="font-14 px-4">
                            1031.33
                          </td>
                          <td class="font-14 px-4">
                            <i class="fa fa-caret-down mr-2 text-red"></i>
                            <span>-14.32(-1.2%)</span>
                          </td>
                          <td class="font-14 px-4">
                            <span class="mr-2">More</span>
                            <i class="fa fa-arrow-right"></i>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="section5">
          <div class="card border-0 shadow-sm rounded-50 mb-4">
            <div class="card-body px-0">
              <div class="box">
                <div class="d-flex justify-content-between align-items-center mb-4 px-4">
                  <h5 class="text-capitalize text-left">Cloud Provider</h5>
                  <div class="text-right">
                    <a href="#" class="text-black">
                      <i class="fa fa-ellipsis-v text-right" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
                <div class="mb-4 px-4">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="box1 d-flex align-items-center py-3 px-3 bg-body-color rounded">
                        <div class="mr-3 w-25">
                          <%= image_pack_tag 'media/images/aws.png', class: 'img-fluid w-100' %>
                        </div>
                        <div class="text w-75">
                          <p class="font-13 font-400">Cloud Hosting Provider</p>
                          <h6 class="font-13 font-600">Amazon Web Services</h6>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="box1 d-flex align-items-center py-3 px-3 bg-body-color rounded">
                        <div class="mr-3 w-25">
                          <%= image_pack_tag 'media/images/map-marker.png', class: 'img-fluid w-50 mx-auto d-block' %>
                        </div>
                        <div class="text w-75">
                          <p class="font-13 font-400">Contracted SLA</p>
                          <h6 class="font-13 font-600">99.99%</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-3 d-flex no-gutters">
                  <div class="col-md-12">
                    <div class="card border-0 px-2">
                      <div class="card-header bg-transparent d-flex justify-content-between align-items-center border-0 pt-4">
                        <h3 class="font-14 font-600">Resilience Risk Indicator</h3>
                        <div class="dropdown body-color-dropdown mr-2">
                          <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class='dropdown-toggle text-capitalize py-2 pr-5 pl-2 d-flex align-items-center justify-content-start font-12 text-dark font-600' id='top-10'>Last 6 Months</a>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item">Action</a>
                            <a class="dropdown-item">Filter top 10</a>
                            <a class="dropdown-item">Filter top 10</a>
                          </div>
                        </div>
                      </div>
                      <div class="card-body">
                        <div id="area-chart"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="section6">
          <div class="card border-0 shadow-sm rounded-50 mb-4">
            <div class="card-body px-0">
              <div class="box">
                <div class="d-flex justify-content-between align-items-center mb-4 px-4">
                  <h5 class="text-capitalize text-left">AWS Services Used By Supplier</h5>
                  <div class="text-right">
                    <a href="#" class="text-black">
                      <i class="fa fa-ellipsis-v text-right" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
                <div class="mb-4 px-4">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="box1 d-flex align-items-center py-3 px-3 bg-body-color rounded">
                        <div class="mr-3 w-25">
                          <%= image_pack_tag 'media/images/aws.png', class: 'img-fluid w-100' %>
                        </div>
                        <div class="text w-75">
                          <p class="font-13 font-400">Cloud Hosting Provider</p>
                          <h6 class="font-13 font-600">Amazon Web Services</h6>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="box1 d-flex align-items-center py-3 px-3 bg-body-color rounded">
                        <div class="mr-3 w-25">
                          <%= image_pack_tag 'media/images/map-marker.png', class: 'img-fluid w-50 mx-auto d-block' %>
                        </div>
                        <div class="text w-75">
                          <p class="font-13 font-400">Contracted SLA</p>
                          <h6 class="font-13 font-600">99.99%</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-3 d-flex no-gutters">
                  <div class="col-md-12">
                    <div class="card border-0 px-2">
                      <div class="card-header bg-transparent d-flex justify-content-between align-items-center border-0 pt-4">
                        <h3 class="font-14 font-600">Resilience Risk Indicator</h3>
                        <div class="dropdown body-color-dropdown mr-2">
                          <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class='dropdown-toggle text-capitalize py-2 pr-5 pl-2 d-flex align-items-center justify-content-start font-12 text-dark font-600' id='top-10'>Last 6 Months</a>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item">Action</a>
                            <a class="dropdown-item">Filter top 10</a>
                            <a class="dropdown-item">Filter top 10</a>
                          </div>
                        </div>
                      </div>
                      <div class="table-responsive">
                        <table class="table table-striped mb-0">
                          <thead>
                            <tr>
                              <th class="border-0 px-4 font-500 font-12">AWS Service</th>
                              <th class="border-0 px-4 font-500 font-12">20th</th>
                              <th class="border-0 px-4 font-500 font-12">21st</th>
                              <th class="border-0 px-4 font-500 font-12">22nd</th>
                              <th class="border-0 px-4 font-500 font-12">23rd</th>
                              <th class="border-0 px-4 font-500 font-12">24th</th>
                              <th class="border-0 px-4 font-500 font-12">25th</th>
                              <th class="border-0 px-4 font-500 font-12">26th</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td width='200px' class="font-12 px-4 align-middle">
                                Fargate
                              </td>
                              <td class="font-12 px-4 align-middle">
                                <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                              </td>
                              <td class="font-12 px-4 align-middle">
                                <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                              </td>
                              <td class="font-12 px-4 align-middle">
                                <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                              </td>
                              <td class="font-12 px-4 align-middle">
                                <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                              </td>
                              <td class="font-12 px-4 align-middle">
                                <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                              </td>
                              <td class="font-12 px-4 align-middle">
                                <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                              </td>
                              <td class="font-12 px-4 align-middle">
                                <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                              </td>
                            </tr>
                            <tr>
                              <td width='200px' class="font-12 px-4 align-middle">
                                Code Pipeline
                              </td>
                              <td class="font-12 px-4 align-middle">
                                <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                              </td>
                              <td class="font-12 px-4 align-middle">
                                <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                              </td>
                              <td class="font-12 px-4 align-middle">
                                <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                              </td>
                              <td class="font-12 px-4 align-middle">
                                <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                              </td>
                              <td class="font-12 px-4 align-middle">
                                <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                              </td>
                              <td class="font-12 px-4 align-middle">
                                <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                              </td>
                              <td class="font-12 px-4 align-middle">
                                <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                              </td>
                            </tr>
                            <tr>
                              <td width='200px' class="font-12 px-4 align-middle">
                                Code Deploy
                              </td>
                              <td class="font-12 px-4 align-middle">
                                <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                              </td>
                              <td class="font-12 px-4 align-middle">
                                <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                              </td>
                              <td class="font-12 px-4 align-middle">
                                <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                              </td>
                              <td class="font-12 px-4 align-middle">
                                <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                              </td>
                              <td class="font-12 px-4 align-middle">
                                <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                              </td>
                              <td class="font-12 px-4 align-middle">
                                <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                              </td>
                              <td class="font-12 px-4 align-middle">
                                <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                              </td>
                            </tr>
                            <tr>
                              <td width='200px' class="font-12 px-4 align-middle">
                                ELB
                              </td>
                              <td class="font-12 px-4 align-middle">
                                <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                              </td>
                              <td class="font-12 px-4 align-middle">
                                <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                              </td>
                              <td class="font-12 px-4 align-middle">
                                <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                              </td>
                              <td class="font-12 px-4 align-middle">
                                <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                              </td>
                              <td class="font-12 px-4 align-middle">
                                <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                              </td>
                              <td class="font-12 px-4 align-middle">
                                <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                              </td>
                              <td class="font-12 px-4 align-middle">
                                <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                              </td>
                            </tr>
                            <tr>
                              <td width='200px' class="font-12 px-4 align-middle">
                                ALB
                              </td>
                              <td class="font-12 px-4 align-middle">
                                <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                              </td>
                              <td class="font-12 px-4 align-middle">
                                <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                              </td>
                              <td class="font-12 px-4 align-middle">
                                <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                              </td>
                              <td class="font-12 px-4 align-middle">
                                <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                              </td>
                              <td class="font-12 px-4 align-middle">
                                <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                              </td>
                              <td class="font-12 px-4 align-middle">
                                <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                              </td>
                              <td class="font-12 px-4 align-middle">
                                <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                              </td>
                            </tr>
                            <tr>
                              <td width='200px' class="font-12 px-4 align-middle">
                                RDS
                              </td>
                              <td class="font-12 px-4 align-middle">
                                <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                              </td>
                              <td class="font-12 px-4 align-middle">
                                <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                              </td>
                              <td class="font-12 px-4 align-middle">
                                <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                              </td>
                              <td class="font-12 px-4 align-middle">
                                <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                              </td>
                              <td class="font-12 px-4 align-middle">
                                <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                              </td>
                              <td class="font-12 px-4 align-middle">
                                <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                              </td>
                              <td class="font-12 px-4 align-middle">
                                <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="section7">
          <div class="card border-0 shadow-sm rounded-50 mb-4">
            <div class="card-body px-0">
              <div class="box">
                <div class="d-flex justify-content-between align-items-center mb-4 px-4">
                  <h5 class="text-capitalize text-left">4th Party Suppliers</h5>
                  <div class="text-right">
                    <a href="#" class="text-black">
                      <i class="fa fa-ellipsis-v text-right" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
                <div class="table-responsive">
                  <table class="table table-striped mb-0">
                    <thead>
                      <tr>
                        <th class="border-0 px-4 font-500 font-12">Supplier Name</th>
                        <th class="border-0 px-4 font-500 font-12">Hosting Provider</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td width='200px' class="font-12 px-4 align-middle">
                          Supplier 1
                        </td>
                        <td width='200px' class="font-12 px-4 align-middle">
                          AWS
                        </td>
                      </tr>
                      <tr>
                        <td width='200px' class="font-12 px-4 align-middle">
                          Supplier 2
                        </td>
                        <td width='200px' class="font-12 px-4 align-middle">
                          GCP
                        </td>
                      </tr>
                      <tr>
                        <td width='200px' class="font-12 px-4 align-middle">
                          Supplier 3
                        </td>
                        <td width='200px' class="font-12 px-4 align-middle">
                          AWS
                        </td>
                      </tr>
                      <tr>
                        <td width='200px' class="font-12 px-4 align-middle">
                          Supplier 4
                        </td>
                        <td width='200px' class="font-12 px-4 align-middle">
                          Private Cloud
                        </td>
                      </tr>
                      <tr>
                        <td width='200px' class="font-12 px-4 align-middle">
                          Supplier 5
                        </td>
                        <td width='200px' class="font-12 px-4 align-middle">
                          Private Cloud
                        </td>
                      </tr>
                      <tr>
                        <td width='200px' class="font-12 px-4 align-middle">
                          Supplier 6
                        </td>
                        <td width='200px' class="font-12 px-4 align-middle">
                          Private Cloud
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="section8">
          <div class="card border-0 shadow-sm rounded-50 mb-4">
            <div class="card-body">
              <div class="box">
                <div class="d-flex justify-content-between align-items-center mb-4">
                  <h5 class="text-capitalize text-left">supplier compliance documentation</h5>
                  <div class="text-right">
                    <a href="#" class="text-black">
                      <i class="fa fa-ellipsis-v text-right" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
                <div class="row no-gutters">
                  <div class="form-group col-lg-12 pr-1">
                    <span class="search-field d-block">
                      <i class="fa fa-search"></i>
                      <input type="text" class="bg-body-color h-auto form-control font-12 border-0 shadow-none" placeholder="Search Global Resilience Gaps" id="country-search-filter">
                    </span>
                  </div>
                  <div class="col-lg-4 pr-1">
                    <div class="dropdown bg-body-color rounded">
                      <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class='text-capitalize py-3 px-2 d-flex text-decoration-none font-12 text-dark font-400' id='top-10'>
                        <span>
                          Sort By: Risk high to low
                        </span>
                        <i class="fa fa-caret-down font-12 ml-auto" aria-hidden="true"></i>
                      </a>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item">Action</a>
                        <a class="dropdown-item">Filter top 10</a>
                        <a class="dropdown-item">Filter top 10</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 pr-1">
                    <div class="dropdown bg-body-color rounded">
                      <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class='text-capitalize py-3 px-2 d-flex font-12 text-dark font-400 text-decoration-none align-items-center' id='top-10'>
                      <span>
                        10 results per page
                      </span>
                      <i class="fa fa-caret-down font-12 ml-auto" aria-hidden="true"></i>
                      </a>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item">Action</a>
                        <a class="dropdown-item">Filter top 10</a>
                        <a class="dropdown-item">Filter top 10</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="dropdown bg-black rounded">
                      <a class="btn btn-lg font-20 w-auto text-decoration-none dark-btn d-flex align-items-center align-items-center" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-plus-circle mr-1 font-20"></i>
                        <span class="font-14 mr-4 ml-1">Add New</span>
                        <i class="fa fa-caret-down font-12 ml-auto" aria-hidden="true"></i>
                      </a>
                      <div class="dropdown-menu py-0 px-0" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item font-12 px-3 py-3 border-bottom rounded-0 text-capitalize font-700" href="#">service line</a>
                        <a class="dropdown-item font-12 px-3 py-3 border-bottom rounded-0 text-capitalize font-700" href="#">service line via upload</a>
                        <a class="dropdown-item font-12 px-3 py-3 border-bottom rounded-0 text-capitalize font-700" href="#">Supplier</a>
                        <a class="dropdown-item font-12 px-3 py-3 rounded-0 text-capitalize font-700" href="#">Supplier via upload</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="table-responsive mt-0 mt-lg-3">
                  <table class="table custom-table mb-4 text-capitalize">
                    <thead class="font-600">
                      <tr>
                        <th class="font-12 font-xxl-14 px-1 text-light-grey font-400 text-capitalize font-600">document title</th>
                        <th class="font-12 font-xxl-14 px text-light-grey font-400 text-capitalize font-600">Date added</th>
                        <th class="font-12 font-xxl-14 px text-light-grey font-400 text-capitalize font-600">days until new compliance document requried</th>
                        <th class="font-12 font-xxl-14 px text-light-grey font-400 text-capitalize font-600">level of importance</th>
                        <th class="font-12 font-xxl-14 px text-light-grey font-400 text-capitalize font-600">RAG Status</th>
                        <th class="font-12 font-xxl-14 px text-light-grey font-400 text-capitalize font-600">update notification rules</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="font-11 font-xxl-14 px-1 text-dark font-600">
                          <div class="d-flex align-items-center">
                            <i class="fa fa-paperclip paperclip font-20" aria-hidden="true"></i>
                            <span class="ml-2">Evidence document 1</span>
                          </div>
                        </td>
                        <td class="font-11 font-xxl-14 text-dark font-600">01.01.2021</td>
                        <td class="font-11 font-xxl-14 text-dark font-600">10</td>
                        <td class="font-11 font-xxl-14 text-dark font-600">high</td>
                        <td class="font-11 font-xxl-14 text-dark font-600">
                          <div class="d-flex align-items-center">
                            <div class="sm-circle bg-red"></div>
                          </div>
                        </td>
                        <td class="font-11 font-xxl-14 text-dark font-600">edit rules</td>
                      </tr>
                      <tr>
                        <td class="font-11 font-xxl-14 px-1 text-dark font-600">
                          <div class="d-flex align-items-center">
                            <i class="fa fa-paperclip paperclip font-20" aria-hidden="true"></i>
                            <span class="ml-2">Evidence document 1</span>
                          </div>
                        </td>
                        <td class="font-11 font-xxl-14 text-dark font-600">01.01.2021</td>
                        <td class="font-11 font-xxl-14 text-dark font-600">10</td>
                        <td class="font-11 font-xxl-14 text-dark font-600">high</td>
                        <td class="font-11 font-xxl-14 text-dark font-600">
                          <div class="d-flex align-items-center">
                            <div class="sm-circle bg-yellow"></div>
                          </div>
                        </td>
                        <td class="font-11 font-xxl-14 text-dark font-600">edit rules</td>
                      </tr>
                      <tr>
                        <td class="font-11 font-xxl-14 px-1 text-dark font-600">
                          <div class="d-flex align-items-center">
                            <i class="fa fa-paperclip paperclip font-20" aria-hidden="true"></i>
                            <span class="ml-2">Evidence document 1</span>
                          </div>
                        </td>
                        <td class="font-11 font-xxl-14 text-dark font-600">01.01.2021</td>
                        <td class="font-11 font-xxl-14 text-dark font-600">10</td>
                        <td class="font-11 font-xxl-14 text-dark font-600">high</td>
                        <td class="font-11 font-xxl-14 text-dark font-600">
                          <div class="d-flex align-items-center">
                            <div class="sm-circle bg-primary-green"></div>
                          </div>
                        </td>
                        <td class="font-11 font-xxl-14 text-dark font-600">edit rules</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
