<header class="py-3 w-100 header d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">
    <div class="logo-bar d-flex align-items-center">
      <% unless hide_side_bar? %>
        <i id="open_sidebar" class="fa fa-bars font-18 text-white" aria-hidden="true"></i>
      <% end %>
      <div class="logo-box ml-3">
        <%= link_to determine_user_redirect_path do %>
          <%= image_pack_tag 'media/images/white-logo.png', class: 'img-fluid' %>
        <% end %>
      </div>
    </div>
    <% unless hide_search_bar? %>
      <div class="search-field" id="header-search-field">
        <i class="fa fa-search text-medium-grey font-14" aria-hidden="true"></i>
        <input type="text" placeholder="search anything..." class="border-0 text-medium-grey form-control shadow-none h-auto text-capitalize">
      </div>
    <% end %>
    <div class="notification-field d-flex align-items-center justify-content-end">
      <div class="dropdown notification-dropdown" >
        <!-- <a href="" class="alert-notification d-flex align-items-center" id="notification-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="font-14 font-700 text-white d-none d-sm-block">Alert</span>
          <span class="notification-green-circle"><i class="fa fa-bell-o text-white ml-2 font-18" aria-hidden="true"></i></span>
        </a> -->
        <div class="dropdown-menu py-0" aria-labelledby="notification-dropdown">
          <div class="news-alert">
            <h6 class="dropdown-item text-capitalize font-12 py-3 font-500 text-dark">new alert</h6>
            <li class="dropdown-item py-3 border-bottom">
              <a class="d-flex align-items-start font-14" href="#">
                <span class="text-uppercase font-600 text-dark font-13 alert-circle d-flex align-items-center justify-content-center bg-ternary-green"><i class="fa fa-bell-o text-black font-18" aria-hidden="true"></i></span>
                <span class="text-capitalize font-600 font-14 ml-2 text-capitalize alert-text flex-1 text-black">service provider added to <i>Customer onboarding business service line</i>
                <small class="small font-10">Today 12:34</small>
                </span>
              </a>
            </li>
            <li class="dropdown-item py-3">
              <a class="d-flex align-items-start font-14" href="#">
                <span class="text-uppercase font-600 text-dark font-13 alert-circle d-flex align-items-center justify-content-center bg-ternary-green"><i class="fa fa-bell-o text-black font-18" aria-hidden="true"></i></span>
                <span class="text-capitalize font-600 font-14 ml-2 text-capitalize alert-text flex-1 text-black">service provider added to <i>Customer onboarding business service line</i>
                <small class="small font-10">Today 12:34</small>
                </span>
              </a>
            </li>
          </div>
          <div class="previous-alert">
            <h6 class="dropdown-item text-capitalize font-12 py-3 font-500 text-dark">previous alert</h6>
            <li class="dropdown-item py-3 border-bottom">
              <a class="d-flex align-items-start font-14" href="#">
                <span class="text-uppercase font-600 text-dark font-13 alert-circle d-flex align-items-center justify-content-center bg-ternary-green"><i class="fa fa-bell-o text-black font-18" aria-hidden="true"></i></span>
                <span class="text-capitalize font-500 font-14 ml-2 text-capitalize alert-text flex-1 text-dark">service provider added to <i>Customer onboarding business service line</i>
                <small class="small font-10">Today 12:34</small>
                </span>
              </a>
            </li>
            <li class="dropdown-item py-3 border-bottom">
              <a class="d-flex align-items-start font-14" href="#">
                <span class="text-uppercase font-600 text-dark font-13 alert-circle d-flex align-items-center justify-content-center bg-ternary-green"><i class="fa fa-bell-o text-black font-18" aria-hidden="true"></i></span>
                <span class="text-capitalize font-500 font-14 ml-2 text-capitalize alert-text flex-1 text-dark">service provider added to <i>Customer onboarding business service line</i>
                <small class="small font-10">Today 12:34</small>
                </span>
              </a>
            </li>
          </div>
          <a href="" class="text-decoration-none d-block text-center py-3 text-capitalize text-black">view all</a>
        </div>
      </div>
      <div class="dropdown">
        <a href="" class="username ml-5 d-flex align-items-center justify-content-center" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="text-uppercase font-600 text-dark font-13"><%= current_user.initials %></span>
        </a>
        <div class="dropdown-menu py-0" id= "user-navigation-dropdown" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item d-flex align-items-center py-3 border-bottom" href="#">
            <span class="text-uppercase font-600 text-dark font-13 username d-flex align-items-center justify-content-center"><%= current_user.initials %></span>
            <span class="text-capitalize font-600 font-14 ml-2 text-capitalize"><%= current_user.name %></span>
          </a>
          <%= link_to 'My account', organisation_accounts_path, class: 'dropdown-item font-14 text-capitalize py-2' %>
          <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'dropdown-item font-14 text-capitalize py-3 border-top' %>
        </div>
      </div>
    </div>
  </div>
</header>
