<div class="sidebar h-100">
  <div class="sidebar-header py-4 border-bottom">
    <div class="sidebar-logo-container d-flex align-items-center ml-4">
      <i id="close_sidebar" class="fa fa-times font-18" aria-hidden="true"></i>
      <div class="logo-box ml-3">
        <%= image_pack_tag 'media/images/logo.png', class: 'img-fluid' %>
      </div>
    </div>
  </div>
  <ul class="list-unstyled">
    <li class="d-flex pl-4 align-items-center">
      <i class="fa fa-home font-18" aria-hidden="true"></i>
      <%= link_to 'Management Dashboard', organisation_dashboard_index_path, class: 'ml-3 font-14 text-decoration-none font-600 text-capitalize py-4' %>
    </li>
    <li class="d-flex pl-4 align-items-center">
      <i class="fa fa-cog" aria-hidden="true"></i>
      <a class="ml-3 font-14 text-decoration-none dropdown-toggle font-600 text-capitalize py-4 submenu" href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Administration</a>
    </li>
     <ul class="collapse list-unstyled " id="homeSubmenu">
      <% if current_user.org_admin? %>
        <li class="d-flex pl-4 align-items-center ml-3">
          <i class="fa fa-cog" aria-hidden="true"></i>
          <a class="ml-3 font-14 text-decoration-none dropdown-toggle font-600 text-capitalize py-4 submenu" href="#on-boarding" data-toggle="collapse" aria-expanded="false">onboarding</a>
        </li>
        <ul class="collapse list-unstyled " id="on-boarding">
          <li class="d-flex pl-4 align-items-center ml-4">
            <%= link_to 'Onboarding Wizard', organisation_journey_path('organisational-unit'), class: 'ml-3 font-14 text-decoration-none font-600 text-capitalize py-4' %>
          </li>
          <li class="d-flex pl-4 align-items-center  ml-4">
            <%= link_to 'Institutions', organisation_institutions_path, class: 'ml-3 font-14 text-decoration-none font-600 text-capitalize py-3' %>
          </li>
          <li class="d-flex pl-4 ml-2 align-items-center ml-4">
            <%= link_to 'Products', organisation_products_path, class: 'ml-3 font-14 text-decoration-none font-600 text-capitalize py-4' %>
          </li>
          <li class="d-flex pl-4 ml-2 align-items-center ml-4">
            <%= link_to 'Channels', organisation_channels_path, class: 'ml-3 font-14 text-decoration-none font-600 text-capitalize py-4' %>
          </li>
        </ul>
      <% end %>
      <li class="d-flex pl-4 align-items-center ml-3">
        <i class="fa fa-list-ul" aria-hidden="true"></i>
        <%= link_to 'Administration Portal', organisation_administration_portal_index_path, class: 'ml-3 font-14 text-decoration-none font-600 text-capitalize py-4' %>
      </li>
      <% if current_user.org_admin? %>
        <li class="d-flex pl-4 align-items-center ml-3">
          <i class="fa fa-random" aria-hidden="true"></i>
          <%= link_to 'Users', organisation_admins_path, class: 'ml-3 font-14 text-decoration-none font-600 text-capitalize py-4' %>
        </li>
      <% end %>
    </ul>
  </ul>
</div>
