<div class="row" id="management-dashboard">
  <div class="col-md-12 d-flex justify-content-between align-items-center flex-wrap">
    <h2  class="font-600 font-sm-18 font-30 text-capitalize">Resilience Data Hub</h2>
    <div class="white-btn d-flex align-items-center rounded-50 cursor-pointer py-2">
      <!-- <i class="fa fa-ellipsis-v px-2 mx-2 m-1" aria-hidden="true"></i> -->
    </div>
  </div>
</div>
<%= render 'organisation/dashboard/partials/segmentation_options', path: organisation_dashboard_index_path %>
<div id="dashboard-wrapper">
  <%= render 'organisation/dashboard/partials/dashboard_content', filters: params.dig(:filters) || {} %>
</div>
<%= render 'organisation/dashboard/partials/global_banks', filters: params.dig(:filters) || {} %>
<div class="row mt-5">
  <div class="col-md-12 text-center d-flex justify-content-center">
    <a href="" class="text-decoration-none dark-btn py-3 px-4 rounded align-items-center d-flex text-decoration-none">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
      <span class="font-12 ml-2 font-600">Add to dashboard</span>
    </a>
  </div>
</div>
<%= render 'organisation/dashboard/partials/introjs_opening_modal' %>
<%= render 'organisation/dashboard/partials/introjs_closing_modal'%>

