<div class="row" id="management-dashboard">
  <div class="col-md-12 d-flex justify-content-between align-items-center flex-wrap">
    <h2  class="font-600 font-sm-18 font-30 text-capitalize">Resilience Data Hub</h2>
    <div class="white-btn d-flex align-items-center rounded-50 cursor-pointer py-2">
      <!-- <i class="fa fa-ellipsis-v px-2 mx-2 m-1" aria-hidden="true"></i> -->
    </div>
  </div>
</div>
<div class="card mt-5 border-0 shadow-sm mx-1 rounded-50" id="dashboard-segmentation-option">
  <div class="card-body pb-0">
    <div class="d-flex align-items-center px-1">
      <i class="fa fa-sliders font-18"></i>
      <h5 class="text-capitalize ml-2 font-600 mt-1">segmentation options</h5>
    </div>
    <div class="row no-gutters mt-3">
      <div class="col-lg px-1 col-md-4 col-sm-6">
        <div class="dropdown custom-dropdown">
          <button class="border-0 p-3 bg-body-color dropdown-toggle w-100 shadow-none mb-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="d-flex flex-column align-items-start">
              <h6 class="text-capitalize font-12 font-xxl-14 mb-1">
                <span class="font-600 text-capitalize">Regions .</span>
                <span class="text-light-grey font-600">0</span>
              </h6>
              <span class="text-capitalize font-600 font-12 font-xxl-14 text-light-grey">View all</span>
            </span>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div class="form-group dropdown-item pl-3 m-0">
              <label for="ch39" class="custom-checkbox d-flex m-0">
                <span class="font-12 text-black text-capitalize ">View All</span>
                <input type="checkbox" class="form-control" id="ch39">
                <span class="transparent-checkmark"></span>
              </label>                        
            </div>
            <div class="form-group dropdown-item pl-3 m-0">
              <label for="ch69" class="custom-checkbox d-flex m-0">
                <span class="font-12 text-black text-capitalize">AMERS</span>
                <input type="checkbox" class="form-control" id="ch69">
                <span class="transparent-checkmark"></span>
              </label>                        
            </div>
            <div class="form-group dropdown-item pl-3 m-0">
              <label for="ch59" class="custom-checkbox d-flex m-0">
                <span class="font-12 text-black text-capitalize">APAC</span>
                <input type="checkbox" class="form-control" id="ch59">
                <span class="transparent-checkmark"></span>
              </label>                        
            </div>
            <div class="form-group dropdown-item pl-3 m-0">
              <label for="ch79" class="custom-checkbox d-flex m-0">
                <span class="font-12 text-black text-capitalize">EMEA</span>
                <input type="checkbox" class="form-control" id="ch79">
                <span class="transparent-checkmark"></span>
              </label>                        
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg px-1 col-md-4 col-sm-6">
        <div class="dropdown custom-dropdown">
          <button class="border-0 mb-3 bg-body-color p-3 dropdown-toggle w-100 shadow-none" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="d-flex flex-column align-items-start">
              <h6 class="text-capitalize font-12 font-xxl-14 mb-1">
                <span class="font-600 text-capitalize">Sub Regions .</span>
                <span class="text-light-grey font-600">0</span>
              </h6>
              <span class="text-capitalize font-600 font-12 font-xxl-14 text-light-grey">View all</span>
            </span>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div class="form-group dropdown-item pl-3 m-0 mb-2">
              <label for="ch319" class="custom-checkbox d-flex m-0">
                <span class="font-12 text-black text-capitalize">View All</span>
                <input type="checkbox" class="form-control" id="ch319">
                <span class="transparent-checkmark"></span>
              </label>                        
            </div>
            <div class="form-group dropdown-item pl-3 m-0 mb-2">
              <label for="ch619" class="custom-checkbox d-flex m-0">
                <span class="font-12 text-black text-capitalize">Sub Saharan Africa
                  <span class="text-light-grey">- 3 countries</span>
                </span>
                <input type="checkbox" class="form-control" id="ch619">
                <span class="transparent-checkmark"></span>
              </label>                        
            </div>
            <div class="form-group dropdown-item pl-3 m-0 mb-2">
              <label for="ch519" class="custom-checkbox d-flex m-0">
                <span class="font-12 text-black text-capitalize">
                  eastern europe
                  <span class="text-light-grey">- 3 countries</span>
                </span>
                <input type="checkbox" class="form-control" id="ch519">
                <span class="transparent-checkmark"></span>
              </label>                        
            </div>
            <div class="form-group dropdown-item pl-3 m-0 mb-2">
              <label for="ch719" class="custom-checkbox d-flex m-0">
                <span class="font-12 text-black text-capitalize">
                  northern europe
                  <span class="text-light-grey">- 3 countries</span>
                </span>
                <input type="checkbox" class="form-control" id="ch719">
                <span class="transparent-checkmark"></span>
              </label>                        
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg px-1 col-md-4 col-sm-6">
        <div class="dropdown custom-dropdown">
          <button class="border-0 mb-3 p-3 bg-body-color dropdown-toggle w-100 shadow-none" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="d-flex flex-column align-items-start">
              <h6 class="text-capitalize font-12 font-xxl-14 mb-1">
                <span class="font-600 text-capitalize">countries .</span>
                <span class="text-light-grey font-600">0</span>
              </h6>
              <span class="text-capitalize font-12 font-xxl-14 text-light-grey font-600">View all</span>
            </span>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div class="form-group dropdown-item pl-3 m-0">
              <label for="ch39" class="custom-checkbox d-flex m-0">
                <span class="font-12 text-black text-capitalize">View All</span>
                <input type="checkbox" class="form-control" id="ch39">
                <span class="transparent-checkmark"></span>
              </label>                        
            </div>
            <div class="form-group dropdown-item pl-3 m-0">
              <label for="ch69" class="custom-checkbox d-flex m-0">
                <span class="font-12 text-black text-capitalize">
                <i class="flag belgium"></i>
                belgium</span>
                <input type="checkbox" class="form-control" id="ch69">
                <span class="transparent-checkmark"></span>
              </label>                        
            </div>
            <div class="form-group dropdown-item pl-3 m-0">
              <label for="ch59" class="custom-checkbox d-flex m-0">
                <span class="font-12 text-black text-capitalize">
                <i class="flag france"></i>
                france</span>
                <input type="checkbox" class="form-control" id="ch59">
                <span class="transparent-checkmark"></span>
              </label>                        
            </div>
            <div class="form-group dropdown-item pl-3 m-0">
              <label for="ch79" class="custom-checkbox d-flex m-0">
                <span class="font-12 text-black text-capitalize">
                <i class="flag germany"></i>
                germany</span>
                <input type="checkbox" class="form-control" id="ch79">
                <span class="transparent-checkmark"></span>
              </label>                        
            </div>
            <div class="form-group dropdown-item pl-3 m-0">
              <label for="ch79" class="custom-checkbox d-flex m-0">
                <span class="font-12 text-black text-capitalize">
                <i class="flag spain"></i>
                spain</span>
                <input type="checkbox" class="form-control" id="ch79">
                <span class="transparent-checkmark"></span>
              </label>                        
            </div>
            <div class="form-group dropdown-item pl-3 m-0">
              <label for="ch79" class="custom-checkbox d-flex m-0">
                <span class="font-12 text-black text-capitalize">
                <i class="flag uk"></i>
                UK</span>
                <input type="checkbox" class="form-control" id="ch79">
                <span class="transparent-checkmark"></span>
              </label>                        
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg px-1 col-md-4 col-sm-6">
        <div class="dropdown custom-dropdown">
          <button class="border-0 mb-3 p-3 bg-body-color dropdown-toggle w-100 shadow-none" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="d-flex flex-column align-items-start">
              <h6 class="text-capitalize font-12 font-xxl-14 mb-1">
                <span class="font-600 text-capitalize">institutions .</span>
                <span class="text-light-grey font-600">0</span>
              </h6>
              <span class="text-capitalize font-12 font-xxl-14 text-light-grey font-600">View all</span>
            </span>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div class="form-group dropdown-item pl-3 m-0">
              <label for="ch39" class="custom-checkbox d-flex m-0">
                <span class="font-12 text-black text-capitalize">View All</span>
                <input type="checkbox" class="form-control" id="ch39">
                <span class="transparent-checkmark"></span>
              </label>                        
            </div>
            <div class="form-group dropdown-item pl-3 m-0">
              <label for="ch69" class="custom-checkbox d-flex m-0">
                <span class="font-12 text-black text-capitalize">
                <i class="flag belgium"></i>
                belgium</span>
                <input type="checkbox" class="form-control" id="ch69">
                <span class="transparent-checkmark"></span>
              </label>                        
            </div>
            <div class="form-group dropdown-item pl-3 m-0">
              <label for="ch59" class="custom-checkbox d-flex m-0">
                <span class="font-12 text-black text-capitalize">
                <i class="flag france"></i>
                france</span>
                <input type="checkbox" class="form-control" id="ch59">
                <span class="transparent-checkmark"></span>
              </label>                        
            </div>
            <div class="form-group dropdown-item pl-3 m-0">
              <label for="ch79" class="custom-checkbox d-flex m-0">
                <span class="font-12 text-black text-capitalize">
                <i class="flag germany"></i>
                germany</span>
                <input type="checkbox" class="form-control" id="ch79">
                <span class="transparent-checkmark"></span>
              </label>                        
            </div>
            <div class="form-group dropdown-item pl-3 m-0">
              <label for="ch79" class="custom-checkbox d-flex m-0">
                <span class="font-12 text-black text-capitalize">
                <i class="flag spain"></i>
                spain</span>
                <input type="checkbox" class="form-control" id="ch79">
                <span class="transparent-checkmark"></span>
              </label>                        
            </div>
            <div class="form-group dropdown-item pl-3 m-0">
              <label for="ch79" class="custom-checkbox d-flex m-0">
                <span class="font-12 text-black text-capitalize">
                <i class="flag uk"></i>
                UK</span>
                <input type="checkbox" class="form-control" id="ch79">
                <span class="transparent-checkmark"></span>
              </label>                        
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg px-1 col-md-4 col-sm-6">
        <div class="dropdown custom-dropdown">
          <button class="border-0 mb-3 p-3 bg-body-color dropdown-toggle w-100 shadow-none" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="d-flex flex-column align-items-start">
              <h6 class="text-capitalize font-12 font-xxl-14 mb-1">
                <span class="font-600 text-capitalize">entities .</span>
                <span class="text-light-grey font-600">0</span>
              </h6>
              <span class="text-capitalize font-12 font-xxl-14 text-light-grey font-600">View all</span>
            </span>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div class="form-group dropdown-item pl-3 m-0">
              <label for="ch39" class="custom-checkbox d-flex m-0">
                <span class="font-12 text-black text-capitalize">View All</span>
                <input type="checkbox" class="form-control" id="ch39">
                <span class="transparent-checkmark"></span>
              </label>                        
            </div>
            <div class="form-group dropdown-item pl-3 m-0">
              <label for="ch69" class="custom-checkbox d-flex m-0">
                <span class="font-12 text-black text-capitalize">AMERS</span>
                <input type="checkbox" class="form-control" id="ch69">
                <span class="transparent-checkmark"></span>
              </label>                        
            </div>
            <div class="form-group dropdown-item pl-3 m-0">
              <label for="ch59" class="custom-checkbox d-flex m-0">
                <span class="font-12 text-black text-capitalize">APAC</span>
                <input type="checkbox" class="form-control" id="ch59">
                <span class="transparent-checkmark"></span>
              </label>                        
            </div>
            <div class="form-group dropdown-item pl-3 m-0">
              <label for="ch79" class="custom-checkbox d-flex m-0">
                <span class="font-12 text-black text-capitalize">EMEA</span>
                <input type="checkbox" class="form-control" id="ch79">
                <span class="transparent-checkmark"></span>
              </label>                        
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg px-1 col-md-4 col-sm-6">
        <div class="dropdown custom-dropdown">
          <button class="border-0 mb-3 p-3 bg-body-color dropdown-toggle w-100 shadow-none" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="d-flex flex-column align-items-start">
              <h6 class="text-capitalize font-12 font-xxl-14 mb-1">
                <span class="font-600 text-capitalize">products .</span>
                <span class="text-light-grey font-600">0</span>
              </h6>
              <span class="text-capitalize font-12 font-xxl-14 text-light-grey font-600">View all</span>
            </span>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div class="form-group dropdown-item pl-3 m-0">
              <label for="ch39" class="custom-checkbox d-flex m-0">
                <span class="font-12 text-black text-capitalize">View All</span>
                <input type="checkbox" class="form-control" id="ch39">
                <span class="transparent-checkmark"></span>
              </label>                        
            </div>
            <div class="form-group dropdown-item pl-3 m-0">
              <label for="ch69" class="custom-checkbox d-flex m-0">
                <span class="font-12 text-black text-capitalize">AMERS</span>
                <input type="checkbox" class="form-control" id="ch69">
                <span class="transparent-checkmark"></span>
              </label>                        
            </div>
            <div class="form-group dropdown-item pl-3 m-0">
              <label for="ch59" class="custom-checkbox d-flex m-0">
                <span class="font-12 text-black text-capitalize">APAC</span>
                <input type="checkbox" class="form-control" id="ch59">
                <span class="transparent-checkmark"></span>
              </label>                        
            </div>
            <div class="form-group dropdown-item pl-3 m-0">
              <label for="ch79" class="custom-checkbox d-flex m-0">
                <span class="font-12 text-black text-capitalize">EMEA</span>
                <input type="checkbox" class="form-control" id="ch79">
                <span class="transparent-checkmark"></span>
              </label>                        
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-5 d-flex no-gutters">
  <div class="col-md-6 col-lg-3 order-lg-1 order-2 mb-lg-0 mb-4 px-1" id="bsl-tour">
    <div id="bsl-tiers" class="lazy-graph" data-key="bsl_tiers" data-args="<%= {}.to_json %>" data-append-to="bsl-tiers" data-partial-name="bsl_tiers">
      <%= render 'organisation/graphs/partials/bsl_tiers', data: {} %>
    </div>
  </div>

  <div class="col-md-12 col-lg-3 order-lg-2 order-3 mb-lg-0 mb-4 px-1">
    <div class="card border-0 shadow-sm pie-high-chart pie-high-chart-sm overflow-hidden rounded-50 min-h-560" >

      <div id="system-supplier-resilience-indicator" class="lazy-graph" data-key="system_supplier_resilience_indicator" data-args="<%= {}.to_json %>" data-append-to="system-supplier-resilience-indicator" data-partial-name="system_supplier_resilience_indicator">
        <%= render 'organisation/graphs/partials/system_supplier_resilience_indicator', data: {} %>
      </div>

    </div>
  </div>
  <div id="critical-and-important" class="col-md-6 col-lg-3 order-lg-4 order-1 mb-lg-0 mb-4 px-1 custom-high-chart lazy-graph" data-key="critical_and_important_system" data-args="<%= {}.to_json %>" data-append-to="critical-and-important" data-partial-name="critical_and_important_system">
    <%= render 'organisation/graphs/partials/critical_and_important_system', data: {} %>
  </div>
  <div id="chp-breakdown" class="col-md-6 col-lg-3 order-lg-4 order-1 mb-lg-0 mb-4 px-1 custom-high-chart lazy-graph" data-key="chp_breakdown" data-args="<%= {}.to_json %>" data-append-to="chp-breakdown" data-partial-name="chp_breakdown">
    <%= render 'organisation/graphs/partials/chp_breakdown', data: {} %>
  </div>
</div>
<div class="row mt-4 no-gutters">
  <div class="col-md-12 col-lg mb-4 mb-lg-0 px-1 bg-white shadow-sm rounded-50">
    <div class="card border-0 shadow-none rounded-50 overflow-hidden" id="high-risk-bsl">
      <div class="card-body">
        <div class="tb-header flex-wrap d-flex justify-content-between flex-lg-row flex-column">
          <h5 class="font-16 text-capitalize font-600 flex-1 align-self-lg-center mb-lg-0 mb-4">high risk business service line</h5>
          <div class="filter-grouped d-flex flex-1">
            <div class="dropdown body-color-dropdown mr-2 w-100">
              <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class='dropdown-toggle text-capitalize py-2 pr-5 pl-2 d-flex align-items-center justify-content-start font-12 text-dark font-600' id='top-10'>top 10</a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item">Action</a>
                <a class="dropdown-item">Filter top 10</a>
                <a class="dropdown-item">Filter top 10</a>
              </div>
            </div>
            <div class="dropdown body-color-dropdown w-100">
              <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class='dropdown-toggle text-capitalize py-2 pr-5 pl-2 d-flex align-items-center justify-content-start font-12 text-dark font-600' id='top-10'>today</a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item">Action</a>
                <a class="dropdown-item">Filter top 10</a>
                <a class="dropdown-item">Filter top 10</a>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive mt-0 mt-lg-3">
          <table class="table custom-table mb-4">
            <thead>
              <tr>
                <th class="font-11 font-xxl-14 px-1 text-dark font-400">User flow</th>
                <th class="font-11 font-xxl-14 px text-dark font-400">Resilience threat posture</th>
                <th class="font-11 font-xxl-14 px text-dark font-400">Resiliece vulnerablities</th>
                <th class="font-11 font-xxl-14 px text-dark font-400">Non compliant 3rd parties critical</th>
                <th class="font-11 font-xxl-14 px text-dark font-400">Non compliant 3rd parties important</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="font-11 font-xxl-14 px-1 text-dark font-600">Onboarding</td>
                <td class="font-11 font-xxl-14 text-dark font-600">
                  <div class="d-flex align-items-center">
                    <div class="sm-circle bg-yellow"></div>
                    <span class="ml-2 text-capitalize">Low</span>
                  </div>
                </td>
                <td class="font-11 font-xxl-14 text-dark font-600">0</td>
                <td class="font-11 font-xxl-14 text-dark font-600">0</td>
                <td class="font-11 font-xxl-14 text-dark font-600">0</td>
              </tr>
              <tr>
                <td class="font-11 font-xxl-14 px-1 text-dark font-600">Faster payment</td>
                <td class="font-11 font-xxl-14 text-dark font-600">
                  <div class="d-flex align-items-center">
                    <div class="sm-circle bg-yellow"></div>
                    <span class="ml-2 text-capitalize">Low</span>
                  </div>
                </td>
                <td class="font-11 font-xxl-14 text-dark font-600">0</td>
                <td class="font-11 font-xxl-14 text-dark font-600">0</td>
                <td class="font-11 font-xxl-14 text-dark font-600">0</td>
              </tr>
              <tr>
                <td class="font-11 font-xxl-14 px-1 text-dark font-600">ATM-withdrawl</td>
                <td class="font-11 font-xxl-14 text-dark font-600">
                  <div class="d-flex align-items-center">
                    <div class="sm-circle bg-yellow"></div>
                    <span class="ml-2 text-capitalize">Low</span>
                  </div>
                </td>
                <td class="font-11 font-xxl-14 text-dark font-600">0</td>
                <td class="font-11 font-xxl-14 text-dark font-600">0</td>
                <td class="font-11 font-xxl-14 text-dark font-600">0</td>
              </tr>
              <tr>
                <td class="font-11 font-xxl-14 px-1 text-dark font-600">Check my balance</td>
                <td class="font-11 font-xxl-14 text-dark font-600">
                  <div class="d-flex align-items-center">
                    <div class="sm-circle bg-yellow"></div>
                    <span class="ml-2 text-capitalize">Low</span>
                  </div>
                </td>
                <td class="font-11 font-xxl-14 text-dark font-600">0</td>
                <td class="font-11 font-xxl-14 text-dark font-600">0</td>
                <td class="font-11 font-xxl-14 text-dark font-600">0</td>
              </tr>
              <tr>
                <td class="font-11 font-xxl-14 px-1 text-dark font-600">Log in - internet banking</td>
                <td class="font-11 font-xxl-14 text-dark font-600">
                  <div class="d-flex align-items-center">
                    <div class="sm-circle bg-yellow"></div>
                    <span class="ml-2 text-capitalize">Low</span>
                  </div>
                </td>
                <td class="font-11 font-xxl-14 text-dark font-600">0</td>
                <td class="font-11 font-xxl-14 text-dark font-600">0</td>
                <td class="font-11 font-xxl-14 text-dark font-600">0</td>
              </tr>
              <tr>
                <td class="font-11 font-xxl-14 px-1 text-dark font-600">Make a payment</td>
                <td class="font-11 font-xxl-14 text-dark font-600">
                  <div class="d-flex align-items-center">
                    <div class="sm-circle bg-yellow"></div>
                    <span class="ml-2 text-capitalize">Low</span>
                  </div>
                </td>
                <td class="font-11 font-xxl-14 text-dark font-600">0</td>
                <td class="font-11 font-xxl-14 text-dark font-600">0</td>
                <td class="font-11 font-xxl-14 text-dark font-600">0</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-3 ml-lg-2 px-1 bg-white shadow-sm rounded-50">
    <div class="card resiliece-indicator border-0 overflow-hidden" id="impact-tolerance">
      <div id="impact-tolerance-risk-appetite" class="lazy-graph" data-key="impact_tolerance_risk_appetite" data-args="<%= {}.to_json %>" data-append-to="impact-tolerance-risk-appetite" data-partial-name="impact_tolerance_risk_appetite">
        <%= render 'organisation/graphs/partials/impact_tolerance_risk_appetite', data: {} %>
      </div>
    </div>
  </div>
</div>
<div class="row no-gutters mt-4">
  <div class="col-md-12 px-1">
    <div class="card border-0 shadow-sm rounded-50">
      <div class="card-header flex-wrap bg-transparent d-flex justify-content-between align-items-center border-0 pt-4">
        <h3 class="font-14 font-600">Resilience Risk Indicator</h3>
        <div class="dropdown body-color-dropdown mr-2">
          <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class='dropdown-toggle text-capitalize py-2 pr-5 pl-2 d-flex align-items-center justify-content-start font-12 text-dark font-600' id='top-10'>Last 6 Months</a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item">Action</a>
            <a class="dropdown-item">Filter top 10</a>
            <a class="dropdown-item">Filter top 10</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div id="area-chart"></div>
      </div>
    </div>
    <!-- <p class="highcharts-description">
        A demo showing a stacked area chart, also sometimes referred to as a
        together to make up a total.
    </p> -->
  </div>
</div>
<!-- <div class="row five-grid mt-5 no-gutters">
  <div class="col mb-lg-0 mb-4 px-1">
    <div class="card border-0 shadow-sm pie-high-chart overflow-hidden rounded-50 min-h-510">
      <div class="card-header bg-white text-center border-0">
        <p class="font-14 font-600 chart-header-title">
          <span class="d-block text-capitalize">global retail bank</span>
          <span class="font-12 d-block text-capitalize text-light-grey">Resilience Posture</span>
        </p>
        <div class="donut-content">
          <div id="third-donut" class="donut"></div>
          <div class="donut-value font-50 font-700">0</div>
        </div>
      </div>
      <div class="card-body border-bottom">
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-1"></div>
            <span class="font-12 font-400 ml-2">Tier 1</span>
          </div>
          <span class="font-12 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-2"></div>
            <span class="font-12 font-400 ml-2">Tier 2</span>
          </div>
          <span class="font-12 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-3"></div>
            <span class="font-12 font-400 ml-2">Tier 3</span>
          </div>
          <span class="font-12 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-4"></div>
            <span class="font-12 font-400 ml-2">Tier 4</span>
          </div>
          <span class="font-12 font-700">0</span>
        </div>
      </div>
      <div class="card-body">
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Total Business Services</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Total Bank Hosted Systems</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Total 3rd Party Suppliers</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Total 4th Party Suppliers</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Most Compliant Region</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Least Compliant Region</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Most Used Cloud Supplier</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Total Number of Resilience Gap</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
      </div>
      <div class="card-footer text-center bg-white">
        <a href="" class="font-12 font-xxl-14 text-capitalize font-600 border-bottom-black text-dark text-decoration-none">view all</a>
      </div>
    </div>
  </div>
  <div class="col mb-lg-0 mb-4 px-1">
    <div class="card border-0 shadow-sm pie-high-chart overflow-hidden rounded-50 min-h-510">
      <div class="card-header bg-white text-center border-0">
        <p class="font-14 font-600 chart-header-title">
          <span class="d-block text-capitalize">global investment bank</span>
          <span class="font-12 d-block text-capitalize text-light-grey">Resilience Posture</span>
        </p>
        <div class="donut-content">
          <div id="fourth-donut" class="donut"></div>
          <div class="donut-value font-50 font-700">0</div>
        </div>
      </div>
      <div class="card-body border-bottom">
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-1"></div>
            <span class="font-12 font-400 ml-2">Tier 1</span>
          </div>
          <span class="font-12 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-2"></div>
            <span class="font-12 font-400 ml-2">Tier 2</span>
          </div>
          <span class="font-12 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-3"></div>
            <span class="font-12 font-400 ml-2">Tier 3</span>
          </div>
          <span class="font-12 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-4"></div>
            <span class="font-12 font-400 ml-2">Tier 4</span>
          </div>
          <span class="font-12 font-700">0</span>
        </div>
      </div>
      <div class="card-body">
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Total Business Services</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Total Bank Hosted Systems</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Total 3rd Party Suppliers</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Total 4th Party Suppliers</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Most Compliant Region</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Least Compliant Region</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Most Used Cloud Supplier</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Total Number of Resilience Gap</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
      </div>
      <div class="card-footer text-center bg-white">
        <a href="" class="font-12 font-xxl-14 text-capitalize font-600 border-bottom-black text-dark text-decoration-none">view all</a>
      </div>
    </div>
  </div>
  <div class="col mb-lg-0 mb-4 px-1">
    <div class="card border-0 shadow-sm pie-high-chart overflow-hidden rounded-50 min-h-510">
      <div class="card-header bg-white text-center border-0">
        <p class="font-14 font-600 chart-header-title">
          <span class="d-block text-capitalize">global business bank</span>
          <span class="font-12 d-block text-capitalize text-light-grey">Resilience Posture</span>
        </p>
        <div class="donut-content">
          <div id="fifth-donut" class="donut"></div>
          <div class="donut-value font-50 font-700">0</div>
        </div>
      </div>
      <div class="card-body border-bottom">
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-1"></div>
            <span class="font-12 font-400 ml-2">Tier 1</span>
          </div>
          <span class="font-12 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-2"></div>
            <span class="font-12 font-400 ml-2">Tier 2</span>
          </div>
          <span class="font-12 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-3"></div>
            <span class="font-12 font-400 ml-2">Tier 3</span>
          </div>
          <span class="font-12 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-4"></div>
            <span class="font-12 font-400 ml-2">Tier 4</span>
          </div>
          <span class="font-12 font-700">0</span>
        </div>
      </div>
      <div class="card-body">
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Total Business Services</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Total Bank Hosted Systems</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Total 3rd Party Suppliers</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Total 4th Party Suppliers</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Most Compliant Region</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Least Compliant Region</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Most Used Cloud Supplier</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Total Number of Resilience Gap</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
      </div>
      <div class="card-footer text-center bg-white">
        <a href="" class="font-12 font-xxl-14 text-capitalize font-600 border-bottom-black text-dark text-decoration-none">view all</a>
      </div>
    </div>
  </div>
  <div class="col mb-lg-0 mb-4 px-1">
    <div class="card border-0 shadow-sm pie-high-chart overflow-hidden rounded-50 min-h-510">
      <div class="card-header bg-white text-center border-0">
       <p class="font-14 font-600 chart-header-title">
          <span class="d-block text-capitalize">global digital bank</span>
          <span class="font-12 d-block text-capitalize text-light-grey">Resilience Posture</span>
        </p>
        <div class="donut-content">
          <div id="sixth-donut" class="donut"></div>
          <div class="donut-value font-50 font-700">0</div>
        </div>
      </div>
      <div class="card-body border-bottom">
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-1"></div>
            <span class="font-12 font-400 ml-2">Tier 1</span>
          </div>
          <span class="font-12 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-2"></div>
            <span class="font-12 font-400 ml-2">Tier 2</span>
          </div>
          <span class="font-12 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-3"></div>
            <span class="font-12 font-400 ml-2">Tier 3</span>
          </div>
          <span class="font-12 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-4"></div>
            <span class="font-12 font-400 ml-2">Tier 4</span>
          </div>
          <span class="font-12 font-700">0</span>
        </div>
      </div>
      <div class="card-body">
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Total Business Services</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Total Bank Hosted Systems</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Total 3rd Party Suppliers</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Total 4th Party Suppliers</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Most Compliant Region</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Least Compliant Region</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Most Used Cloud Supplier</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Total Number of Resilience Gap</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
      </div>
      <div class="card-footer text-center bg-white">
        <a href="" class="font-12 font-xxl-14 text-capitalize font-600 border-bottom-black text-dark text-decoration-none">view all</a>
      </div>
    </div>
  </div>
  <div class="col mb-lg-0 mb-4 px-1">
    <div class="card border-0 shadow-sm pie-high-chart overflow-hidden rounded-50 min-h-510">
      <div class="card-header bg-white text-center border-0">
        <p class="font-14 font-600 chart-header-title">
          <span class="d-block text-capitalize">global union bank</span>
          <span class="font-12 d-block text-capitalize text-light-grey">Resilience Posture</span>
        </p>
        <div class="donut-content">
          <div id="seventh-donut" class="donut"></div>
          <div class="donut-value font-50 font-700">0</div>
        </div>
      </div>
      <div class="card-body border-bottom">
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-1"></div>
            <span class="font-12 font-400 ml-2">Tier 1</span>
          </div>
          <span class="font-12 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-2"></div>
            <span class="font-12 font-400 ml-2">Tier 2</span>
          </div>
          <span class="font-12 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-3"></div>
            <span class="font-12 font-400 ml-2">Tier 3</span>
          </div>
          <span class="font-12 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-4"></div>
            <span class="font-12 font-400 ml-2">Tier 4</span>
          </div>
          <span class="font-12 font-700">0</span>
        </div>
      </div>
      <div class="card-body">
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Total Business Services</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Total Bank Hosted Systems</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Total 3rd Party Suppliers</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Total 4th Party Suppliers</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Most Compliant Region</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Least Compliant Region</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Most Used Cloud Supplier</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Total Number of Resilience Gap</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
      </div>
      <div class="card-footer text-center bg-white">
        <a href="" class="font-12 font-xxl-14 text-capitalize font-600 border-bottom-black text-dark text-decoration-none">view all</a>
      </div>
    </div>
  </div>
</div> -->
<div class="row mt-5">
  <div class="col-md-12 text-center d-flex justify-content-center">
    <a href="" class="text-decoration-none dark-btn py-3 px-4 rounded align-items-center d-flex text-decoration-none">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
      <span class="font-12 ml-2 font-600">Add to dashboard</span>
    </a>
  </div>
</div>
<%= render 'organisation/dashboard/partials/introjs_opening_modal' %>
<%= render 'organisation/dashboard/partials/introjs_closing_modal'%>

