<div class="row mb-5">
  <div class="col-md-12 d-flex justify-content-between align-items-center">
    <h2 class="font-700 text-capitalize">administration portal</h2>
    <div class="dropdown dd-carrot-btn">
      <a class="btn btn-lg font-20 text-decoration-none dark-btn d-flex align-items-center" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-plus-circle mr-1 font-20"></i>
        <span class="font-14 mr-4 ml-1">Add New</span>
        <i class="fa fa-caret-down font-12 ml-auto" aria-hidden="true"></i>
      </a>
      <div class="dropdown-menu py-0 px-0" aria-labelledby="dropdownMenuButton">
        <%= link_to 'service line', new_organisation_business_service_line_path, class: 'dropdown-item font-12 px-3 py-3 border-bottom rounded-0 text-capitalize font-700' %>
        <a class="dropdown-item font-12 px-3 py-3 border-bottom rounded-0 text-capitalize font-700" href="#">service line via upload</a>
        <%= link_to 'supplier', new_organisation_supplier_path, class: 'dropdown-item font-12 px-3 py-3 border-bottom rounded-0 text-capitalize font-700' %>
        <a class="dropdown-item font-12 px-3 py-3 rounded-0 text-capitalize font-700" href="#">Supplier via upload</a>
      </div>
    </div>
  </div>
</div>
<div class="row no-gutters">
  <div class="col-md-6 mb-4 px-1">
    <div class="card shadow">
      <div class="d-flex justify-content-between align-items-center py-3 px-4 mt-3">
        <h5 class="text-capitalize font-700 font-xxl-25">business service line</h5>
        <%= link_to new_organisation_business_service_line_path, class: 'font-600 text-capitalize font-12 ml-auto text-black text-decoration-none d-flex' do %>
          <i class="fa fa-plus-circle mr-1 font-20"></i>
          <span class="ml-2 font-14">Add New</span>
        <% end %>
      </div>
      <div class="px-4">
        <div class="table-search-field">
          <i class="fa fa-search text-dark font-14" aria-hidden="true"></i>
          <%= text_field_tag 'bsl[name]', nil, placeholder: 'Search Business Service Lines...', class: 'w-100 form-control border-0 shadow-none font-xxl-14 search-bsl-name pl-4', id: 'search-bsl-name' %>
          <span for="" class="m-0 font-13 empty-input-field font-600 text-danger">Clear</span>
        </div>
      </div>
      <div class="table-filter-field px-4 d-flex mt-4 mb-2">
        <div class="filter">
          <div class="general-dropdown">
            <a class="text-black text-decoration-none dropdown-toggle font-12 font-400 font-xxl-14 text-capitalize text-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              All tiers
            </a>
            <div class="dropdown-menu p-0 w-200px" aria-labelledby="dropdownMenuButton">
              <% BusinessServiceLine.tiers.each do |k, v| %>
                <div class="form-group mb-0 py-2 dropdown-item border-bottom px-3">
                  <label class="d-flex justify-content-between align-items-center custom-checkbox mb-0 px-0 py-2" for="<%= "search-bsl-tier-#{k.dasherize}" %>">
                    <span class="text-uppercase font-12 font-600"><%= k.humanize %></span>
                    <%= check_box_tag 'bsl[tier]', k, false, class: 'form-control w-auto search-bsl-tier', id: "search-bsl-tier-#{k.dasherize}" %>
                    <span class="checkmark position-relative"></span>
                  </label>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="filter ml-3">
          <div class="general-dropdown">
            <a class="text-black text-decoration-none dropdown-toggle font-12 font-400 font-xxl-14 text-capitalize text-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              All regions
            </a>
            <div class="dropdown-menu p-0 w-200px" aria-labelledby="dropdownMenuButton">
              <% managing_units.each do |regional_unit| %>
                <div class="form-group mb-0 py-2 dropdown-item border-bottom px-3">
                  <label class="d-flex justify-content-between align-items-center custom-checkbox mb-0 px-0 py-2" for="<%= "search-bsl-regional-unit-#{regional_unit.name.parameterize.dasherize}" %>">
                    <span class="text-uppercase font-12 font-600"><%= regional_unit.name %></span>
                    <%= check_box_tag 'bsl[regional_unit]', regional_unit.id, false, class: 'form-control w-auto search-bsl-regional-unit', id: "search-bsl-regional-unit-#{regional_unit.name.parameterize.dasherize}" %>
                    <span class="checkmark position-relative"></span>
                  </label>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="filter ml-3">
          <div class="general-dropdown">
            <a class="text-black text-decoration-none dropdown-toggle font-12 font-400 font-xxl-14 text-capitalize text-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              All institution
            </a>
            <div class="dropdown-menu p-0 w-200px" aria-labelledby="dropdownMenuButton">
              <% @managing_institution_units.each do |institution_unit| %>
                <div class="form-group mb-0 py-2 dropdown-item border-bottom px-3">
                  <label class="d-flex justify-content-between align-items-center custom-checkbox mb-0 px-0 py-2" for="<%= "search-bsl-institution-unit-#{institution_unit.name.parameterize.dasherize}" %>">
                    <span class="text-uppercase font-12 font-600"><%= institution_unit.name %></span>
                    <%= check_box_tag 'bsl[institution_unit]', institution_unit.id, false, class: 'form-control w-auto search-bsl-institution-unit', id: "search-bsl-institution-unit-#{institution_unit.name.parameterize.dasherize}" %>
                    <span class="checkmark position-relative"></span>
                  </label>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="filter ml-3">
          <div class="general-dropdown">
            <a class="text-black text-decoration-none dropdown-toggle font-12 font-400 font-xxl-14 text-capitalize text-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              All products
            </a>
            <div class="dropdown-menu p-0 w-200px" aria-labelledby="dropdownMenuButton">
              <% Product.joins(:units).where(units: { id: @managing_institution_units.map(&:id) }).uniq.each do |product| %>
                <div class="form-group mb-0 py-2 dropdown-item border-bottom px-3">
                  <label class="d-flex justify-content-between align-items-center custom-checkbox mb-0 px-0 py-2" for="<%= "search-bsl-product-#{product.name.parameterize.dasherize}" %>">
                    <span class="text-uppercase font-12 font-600"><%= product.name %></span>
                    <%= check_box_tag 'bsl[product]', product.id, false, class: 'form-control w-auto search-bsl-product', id: "search-bsl-product-#{product.name.parameterize.dasherize}" %>
                    <span class="checkmark position-relative"></span>
                  </label>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="table-responsive px-4 min-h-150 max-h-500">
        <table class="table custom-table font-14 m-0">
          <thead>
            <tr>
              <th class="text-capitalize font-12 font-xxl-14 pl-0">BSL Name</th>
              <th class="w-10 font-12 font-xxl-14 px-2 text-capitalize">Tier</th>
              <th class="w-10 font-12 font-xxl-14 px-2 text-capitalize">Country</th>
              <th class="w-10 font-12 font-xxl-14 px-2 text-capitalize">region</th>
              <th class="w-10 font-12 font-xxl-14 px-2 text-capitalize">institution</th>
              <th class="w-10 font-12 font-xxl-14 px-2 text-capitalize">product</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="all-bsls">
            <%= render 'organisation/administration_portal/partials/bsls', bsls: @bsls %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6 mb-4 px-1">
    <div class="card shadow">
      <div class="d-flex justify-content-between align-items-center py-3 px-4 mt-3">
        <h5 class="text-capitalize font-700 font-xxl-25">suppliers</h5>
        <%= link_to new_organisation_supplier_path, class: 'font-600 text-capitalize font-12 ml-auto text-black text-decoration-none d-flex' do %>
          <i class="fa fa-plus-circle mr-1 font-20"></i>
          <span class="ml-2 font-14">Add New</span>
        <% end %>
      </div>
      <div class="px-4">
        <div class="table-search-field">
          <i class="fa fa-search text-dark font-14" aria-hidden="true"></i>
          <%= text_field_tag 'supplier[name]', nil, placeholder: 'Search Suppliers...', class: 'w-100 form-control border-0 shadow-none font-xxl-14 search-supplier-name pl-4', id: 'search-supplier-name' %>
          <span for="" class="m-0 font-13 empty-input-field font-600 text-danger">Clear</span>
        </div>
      </div>
      <div class="table-filter-field px-4 d-flex mt-4 mb-2">
        <div class="filter">
          <div class="general-dropdown">
            <a class="text-black text-decoration-none dropdown-toggle font-12 font-400 font-xxl-14 text-capitalize text-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              All countries
            </a>
            <div class="dropdown-menu p-0 w-200px" aria-labelledby="dropdownMenuButton">
              <% @managing_country_units.each do |country_unit| %>
                <div class="form-group mb-0 py-2 dropdown-item border-bottom px-3">
                  <label class="d-flex justify-content-between align-items-center custom-checkbox mb-0 px-0 py-2" for="<%= "search-supplier-country-unit-#{country_unit.name.parameterize.dasherize}" %>">
                    <span class="text-uppercase font-12 font-600"><%= country_unit.name %></span>
                    <%= check_box_tag 'supplier[country_unit]', country_unit.id, false, class: 'form-control w-auto search-supplier-country-unit', id: "search-supplier-country-unit-#{country_unit.name.parameterize.dasherize}" %>
                    <span class="checkmark position-relative"></span>
                  </label>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="filter ml-3">
          <div class="general-dropdown">
            <a class="text-black text-decoration-none dropdown-toggle font-12 font-400 font-xxl-14 text-capitalize text-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              All regions
            </a>
            <div class="dropdown-menu p-0 w-200px" aria-labelledby="dropdownMenuButton">
              <% managing_units.each do |regional_unit| %>
                <div class="form-group mb-0 py-2 dropdown-item border-bottom px-3">
                  <label class="d-flex justify-content-between align-items-center custom-checkbox mb-0 px-0 py-2" for="<%= "search-supplier-regional-unit-#{regional_unit.name.parameterize.dasherize}" %>">
                    <span class="text-uppercase font-12 font-600"><%= regional_unit.name %></span>
                    <%= check_box_tag 'supplier[regional_unit]', regional_unit.id, false, class: 'form-control w-auto search-supplier-regional-unit', id: "search-supplier-regional-unit-#{regional_unit.name.parameterize.dasherize}" %>
                    <span class="checkmark position-relative"></span>
                  </label>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="table-responsive px-4 min-h-150 max-h-500">
        <table class="table custom-table font-14 m-0">
          <thead>
            <tr>
              <th class="text-capitalize font-12 font-xxl-14 pl-0">Supplier Name</th>
              <th class="font-12 font-xxl-14 px-2 text-capitalize">country</th>
              <th class="font-12 font-xxl-14 px-2 text-capitalize">region</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="all-suppliers">
            <%= render 'organisation/administration_portal/partials/suppliers', suppliers: @suppliers %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
