<div class="modal resilience-ticket-modal my-5 py-5 pr-0" id="resilience-ticket-add-attachment-modal" tabindex="-1" role="dialog" aria-labelledby="new-supplier-modal-1" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header border-0 p-4">
        <h5 class="modal-title text-capitalize font-18">
          Add Attachments
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_for resilience_audit, url: new_or_create ? organisation_resilience_ticket_resilience_gaps_path(@resilience_ticket) : organisation_resilience_ticket_resilience_gap_path(@resilience_ticket), method:new_or_create ? :post : :patch, remote: true do |f| %>
        <div class="modal-body px-4 pt-4">
          <div class="box mb-3">
            <%= f.hidden_field :description, value: "#{@resilience_ticket.user.name} has set the description" %>
            <%= f.hidden_field :add_attachment, value: 'true'%>
            <div class="resilience-gap-text">
              <div class="details d-flex align-items-center justify-content-between">
                <div class="descr d-flex align-items-center">
                  <div class="icon py-3 px-4 bg-body-color rounded mr-3 file-attach d-none">
                    <i class="fa fa-paperclip paperclip font-20"></i>
                  </div>
                  <div class="attach font-13 font-500">
                    <span class="mr-2 file-name"></span>
                    <span class="file-size"></span>
                  </div>
                </div>
<!--                 <div class="delete">
                  <a href="#" class="text-danger">
                    DELETE
                  </a>
                </div> -->
              </div>
            </div>
            <div class="inputfile-box d-flex mt-4">
              <%= f.file_field :attachment, class: "inputfile"%>
              <label for="resilience_audit_attachment", class="d-flex flex-1 align-items-end">
                <span id="file-name" class="file-box order-2"></span>
                  <span class="file-button order-1 black-btn p-3 cursor-pointer rounded-50">
                    <i class="fa fa-paperclip paperclip font-20 text-white align-middle"></i>
                    <span class="text-white ml-1 mt-1">Add Attachment</span>
                  </span>
              </label>
            </div>
            <div class="foot d-flex align-items-center justify-content-between font-500 flex-wrap">
              <div class="d-flex align-items-center mb-3">
                <span class="font-13 mr-3">Date of Update: <%= @resilience_ticket.updated_at.strftime('%d-%m-%y') %></span>
                <span class="font-13">|</span>
                <span class="font-13 ml-3">Updated by <%=  @resilience_ticket.user.name %></span>
              </div>
              <%= f.submit 'Submit Update', class: "btn btn-sm btn-dark py-3 px-4 bg-black font-600 font-14 rounded-50 mb-3 mr-1" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
