<% if data.blank? %>
  <div class="col-md-3 px-0">
    <div class="box p-3 bg-body-color rounded">
      <h6 class="font-12">Cloud Hosting Provider Ratio</h6>
      <div class="border-0 pie-high-chart overflow-hidden rounded-50">
        <div class="col-md-12 card-header h-230px d-flex align-items-center px-0 py-2 bg-body-color text-center border-0">
          <div class="empty-donut-block py-3 px-5"></div>
        </div>
        <div class="col-md-12 card-body py-3 px-0">
          <div class="empty-donut-line px-5 mb-2"></div>
          <div class="empty-donut-line px-5 mb-2"></div>
          <div class="empty-donut-line px-5 mb-2"></div>
          <div class="empty-donut-line px-5 mb-2"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="content-box mb-4 mt-3 px-2">
      <div class="heading d-flex align-items-center justify-content-start">
        <div class="empty-donut-line mb-2"></div>
      </div>
      <div class="row resiliece-indicator">
        <div class="col-xxl-4 col-md-6">
          <div class="row mt-4">
            <div class="col-md-12">
              <div class="empty-donut-line px-5 mb-2"></div>
            </div>
            <div class="col-md-5 pr-md-0">
              <div class="empty-donut-block py-3 mt-2"></div>
            </div>
            <div class="col-md-7 mt-3">
              <div class="empty-donut-line mb-2"></div>
              <div class="empty-donut-line mb-2"></div>
            </div>
          </div>
        </div>
        <div class="col-xxl-4 col-md-6">
          <div class="row mt-4">
            <div class="col-md-12">
              <div class="empty-donut-line mb-2"></div>
            </div>
            <div class="col-md-5 pr-md-0">
              <div class="empty-donut-block py-3 mt-2"></div>
            </div>
            <div class="col-md-7 mt-3">
              <div class="empty-donut-line mb-2"></div>
              <div class="empty-donut-line mb-2"></div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row mt-4">
            <div class="col-md-12">
              <div class="empty-donut-line mb-2"></div>
            </div>
            <div class="col-md-5 pr-md-0">
              <div class="empty-donut-block py-3 mt-2"></div>
            </div>
            <div class="col-md-7 mt-3">
              <div class="empty-donut-line mb-2"></div>
              <div class="empty-donut-line mb-2"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-box mt-5 mb-4 px-2">
      <div class="heading d-flex align-items-center justify-content-start">
        <div class="empty-donut-line mb-2"></div>
      </div>
      <div class="row resiliece-indicator">
        <div class="col-md-4">
          <div class="row mt-4">
            <div class="col-md-12">
              <div class="empty-donut-line mb-2"></div>
            </div>
            <div class="col-md-5 pr-md-0">
              <div class="empty-donut-block py-3 mt-2"></div>
            </div>
            <div class="col-md-7 mt-3">
              <div class="empty-donut-line mb-2"></div>
              <div class="empty-donut-line mb-2"></div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row mt-4">
            <div class="col-md-12">
              <div class="empty-donut-line mb-2"></div>
            </div>
            <div class="col-md-5 pr-md-0">
              <div class="empty-donut-block py-3 mt-2"></div>
            </div>
            <div class="col-md-7 mt-3">
              <div class="empty-donut-line mb-2"></div>
              <div class="empty-donut-line mb-2"></div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row mt-4">
            <div class="col-md-12">
              <div class="empty-donut-line mb-2"></div>
            </div>
            <div class="col-md-5 pr-md-0">
              <div class="empty-donut-block py-3 mt-2"></div>
            </div>
            <div class="col-md-7 mt-3">
              <div class="empty-donut-line mb-2"></div>
              <div class="empty-donut-line mb-2"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="col-lg-5 col-xl-3 px-0">
    <%= link_to 'javascript:void(0);', class: 'text-black text-decoration-none' do %>
      <div class="box p-3 bg-body-color rounded">
        <h6 class="font-12">Cloud Hosting Provider Ratio</h6>
        <div class="border-0 pie-high-chart overflow-hidden rounded-50">
          <div class="col-md-12 card-header h-230px d-flex align-items-center p-2  bg-body-color text-center border-0">
            <div class="donut-content w-150px mx-auto">
              <%= react_component('highcharts/donut', { data: data.dig(:overall, :graph), render_to: 'donut-chp' }, { class: 'h-100' }) %>
              <div class="donut-value font-30 font-700"><%= data.dig(:overall, :total) %></div>
            </div>
          </div>
          <div class="col-md-12 card-body p-md-2 p-3">
            <% data.dig(:overall, :graph).each do |graph| %>
              <div class="color-tier d-flex align-items-center mb-2 mb-xxl-3">
                <div class="d-flex align-items-center">
                  <div class="circle" style="background-color: <%= graph[:color] %>"></div>
                  <div class="w-25px w-xxl-40px ml-3 ml-xxl-4">
                    <%= image_tag graph[:logo], class: 'img-fluid' %>
                  </div>
                </div>
                <div class="d-flex flex-1 align-items-center ml-3 ml-xxl-4">
                  <span class="font-12 font-xxl-14 flex-1 font-400"><%= graph[:name] %></span>
                  <span class="font-12 font-xxl-14 font-700"><%= graph[:value] %></span>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-lg-7 col-xl-9">
    <% data.dig(:breakdown).each do |chp_name, chp_data| %>
      <div class="content-box mb-4 mt-3 px-2">
        <div class="heading d-flex align-items-center justify-content-start mb-4">
          <div class="w-10 mr-3">
            <%= image_tag chp_data.dig(:logo), class: 'img-fluid w-75' %>
          </div>
          <%= link_to cloud_service_provider_organisation_business_service_line_path(data.dig(:bsl_id), chp_name: chp_data[:name]), class:'text-black text-decoration-none' do %>
            <h5 class="font-20 font-500 text-capitalize"><%= chp_data.dig(:name) %></h5>
          <% end %>
        </div>
        <div class="row resiliece-indicator">
          <% chp_data.dig(:consumption_models).each do |cm_name, cm_data| %>
            <div class="col-lg-6 col-xl-4">
              <div class="row mt-4">
                <div class="col-md-12">
                  <h5 class="font-12 font-xxl-14 font-700 text-capitalize"><%= titleize_last_alpha(cm_name.titleize) %></h5>
                </div>
                <div class="col-md-5 pl-0">
                  <%= react_component('highcharts/donut', { data: cm_data.dig(:graph), render_to: "donut-#{chp_name.parameterize.dasherize}-#{cm_name.parameterize.dasherize}" }, { class: 'sm-donut mx-auto' }) %>
                </div>
                <div class="col-md-7 mt-3">
                  <% cm_data.dig(:graph).each_with_index do |graph, index| %>
                    <div class="tiers d-flex justify-content-between align-items-center mt-2">
                      <div class="color-tier d-flex align-items-center">
                        <div class="circle" style="background-color: <%= graph.dig(:color) %>"></div>
                        <span class="font-11 font-400 ml-2 text-capitalize flex-1 cursor-pointer" data-toggle="tooltip" data-placement="top" title="<%= index.zero? ? 'Critical System Matches Impact Tolerances' : 'Critical System Meets Impact Tolerances' %>"><%= graph.dig(:name) %></span>
                      </div>
                      <span class="font-11 font-700"><span class="mr-1 ml-1">:</span><span><%= graph.dig(:value) %></span></span>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
