<% if data.blank? %>
  <div class="card border-0 shadow-sm pie-high-chart rounded-50">
    <div class="card-header bg-white text-center">
      <p class="font-14 text-capitalize font-600 chart-header-title"></p>
      <div class="donut-content h-75">
        <div class="empty-donut-block py-3 px-5"></div>
      </div>
    </div>
    <div class="card-body">
      <div class="tiers d-flex justify-content-between align-items-center mb-1">
        <div class="empty-donut-line px-5 mb-2 py-3"></div>
      </div>
      <div class="tiers d-flex justify-content-between align-items-center mb-1">
        <div class="empty-donut-line px-5 mb-2 py-3"></div>
      </div>
      <div class="tiers d-flex justify-content-between align-items-center mb-1">
        <div class="empty-donut-line px-5 mb-2 py-3"></div>
      </div>
      <div class="tiers d-flex justify-content-between align-items-center mb-1">
        <div class="empty-donut-line px-5 mb-2 py-3"></div>
      </div>
    </div>
    <div class="card-footer bg-white">
      <div class="tiers d-flex justify-content-between align-items-center mb-1">
        <div class="empty-donut-line px-5 py-1"></div>
      </div>
    </div>
  </div>
<% else %>
<div class="card-body rounded-50">
  <div class="d-flex align-items-center justify-content-between">
    <h5 class="font-600 text-capitalize text-capitalize">overview</h5>
    <i class="fa fa-ellipsis-v"></i>
  </div>
  <div class="d-flex bg-body-color px-2 py-3 justify-content-between align-items-center my-4">
    <p class="text-capitalize font-700 font-13 font-xxl-14">total number of critical system/suppliers</p>
    <p class="text-capitalize font-700 font-13 font-xxl-14"><%= data.dig(:overall, :chp_total)%></p>
  </div>
  <div class="row custom-high-chart">
    <div class="col-lg-6 col-md-12">
      <div class="box">
        <div class="d-flex flex-wrap flex-column flex-sm-row justify-content-between align-items-start align-items-sm-center">
          <p class="px-2 font-16 text-capitalize font-400 chart-header-title flex-1 mb-3 mb-sm-0">Critical/Important supplier by hosting modal</p>
          <div class="filter-grouped d-flex mr-2">
            <div class="dropdown body-color-dropdown w-auto mr-2">
              <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class='dropdown-toggle text-capitalize py-2 pr-5 pl-2 d-flex align-items-center justify-content-start font-12 text-dark font-400 text-decoration-none' id='top-10'>high to low</a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item">Action</a>
                <a class="dropdown-item">low to high</a>
                <a class="dropdown-item">high to low</a>
              </div>
            </div>
          </div>
        </div>
        <div class="border-0 pie-high-chart overflow-hidden rounded-50 d-flex justify-content-center align-items-center flex-md-nowrap flex-wrap">
          <div class="card-header h-auto p-2 bg-white text-center border-0">
            <div class="donut-content w-150px">
              <%= react_component('highcharts/donut', { data: data.dig(:overall, :chp_graph), render_to: 'cais-overview' }, { class: 'h-200-highchart' }) %>
              <div class="donut-value font-30 font-700"><%= data.dig(:overall, :chp_total)%></div>
            </div>
          </div>
          <div class="card-body p-3 pm-md-2">
            <% data.dig(:overall, :chp_graph).each do |graph| %>
              <div class="color-tier d-flex align-items-center mb-2 mb-xxl-3">
                <div class="d-flex align-items-center">
                  <div class="circle" style="background-color: <%= graph.dig(:color) %>"></div>
                  <div class="w-25px w-xxl-40px ml-3 ml-xxl-4 d-none">
                    <%= image_pack_tag 'media/images/aws.png', class: 'img-fluid d-block' %>
                  </div>
                </div>
                <div class="d-flex flex-1 align-items-center ml-3 ml-xxl-4">
                  <span class="font-12 font-xxl-14 flex-1 font-400"><%= graph.dig(:name) %></span>
                  <span class="font-12 font-xxl-14 font-700"><%= graph.dig(:count) %></span>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="box">
        <div class="d-flex flex-wrap flex-column flex-sm-row justify-content-between align-items-start align-items-sm-center">
          <p class="px-2 font-16 text-capitalize font-400 chart-header-title flex-1 mb-3 mb-sm-0">critical/important systems by consumption modal</p>
          <div class="filter-grouped d-flex mr-2">
            <div class="dropdown body-color-dropdown w-auto mr-2">
              <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class='dropdown-toggle text-capitalize py-2 pr-5 pl-2 d-flex align-items-center justify-content-start font-12 text-dark font-400 text-decoration-none' id='top-10'>high to low</a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item">Action</a>
                <a class="dropdown-item">low to high</a>
                <a class="dropdown-item">high to low</a>
              </div>
            </div>
          </div>
        </div>
        <div class="border-0 pie-high-chart overflow-hidden rounded-50 d-flex justify-content-center align-items-center flex-md-nowrap flex-wrap">
          <div class="card-header h-auto p-2 bg-white text-center border-0">
            <div class="donut-content w-150px">
              <%= react_component('highcharts/donut', { data: data.dig(:overall, :cm_graph), render_to: 'cais-overview' }, { class: 'h-200-highchart' }) %>
              <div class="donut-value font-30 font-700"><%= data.dig(:overall, :cm_total)%></div>
            </div>
          </div>
          <div class="card-body p-3 p-md-2">
            <% data.dig(:overall, :cm_graph).each do |graph| %>
              <div class="tiers d-flex justify-content-between align-items-center mb-3">
                <div class="color-tier d-flex align-items-center">
                  <div class="circle" style="background-color: <%= graph.dig(:color) %>"></div>
                  <span class="font-12 font-xxl-14 font-400 ml-2"><%= graph.dig(:name) %></span>
                </div>
                <span class="font-12 font-xxl-14 font-700"><%= graph.dig(:count) %></span>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
