<% if data.blank? %>
  <div class="card border-0 shadow-sm pie-high-chart overflow-hidden rounded-50 min-h-560">
    <div class="card-header bg-white text-center">
      <p class="font-14 text-capitalize font-600 chart-header-title">Cloud Service Provider breakdown</p>
      <div class="donut-content h-75">
        <div class="empty-donut-block py-3 px-5"></div>
      </div>
    </div>
    <div class="card-body">
      <div class="tiers d-flex justify-content-between align-items-center mb-1">
        <div class="empty-donut-line px-5 mb-2 py-3"></div>
      </div>
      <div class="tiers d-flex justify-content-between align-items-center mb-1">
        <div class="empty-donut-line px-5 mb-2 py-3"></div>
      </div>
      <div class="tiers d-flex justify-content-between align-items-center mb-1">
        <div class="empty-donut-line px-5 mb-2 py-3"></div>
      </div>
      <div class="tiers d-flex justify-content-between align-items-center mb-1">
        <div class="empty-donut-line px-5 mb-2 py-3"></div>
      </div>
    </div>
    <div class="card-footer bg-white">
      <div class="tiers d-flex justify-content-between align-items-center mb-1">
        <div class="empty-donut-line px-5 py-1"></div>
      </div>
    </div>
  </div>
  <% else %>
  <div class="card border-0 shadow-sm pie-high-chart overflow-hidden rounded-50 min-h-560"
  id="cloud-service-provider-breakdown" >
    <div class="card-header bg-white text-center">
      <p class="font-14 text-capitalize font-600 chart-header-title">Cloud Service Provider breakdown</p>
      <div class="donut-content">
        <%= react_component('highcharts/donut', { data: data.dig(:graph), render_to: 'chp-breakdown' }, { class: 'h-200-highchart' }) %>
        <div class="donut-value font-50 font-700"><%= data.dig(:total)%></div>
      </div>
    </div>
    <div class="card-body">
      <% data.dig(:graph).each do |graph| %>
      <div class="tiers d-flex justify-content-between align-items-center mb-3">
        <div class="color-tier d-flex align-items-center">
          <div class="circle" style="background-color: <%= graph.dig(:color) %>"></div>
          <span class="font-12 font-xxl-14 font-400 ml-2"><%= graph.dig(:name) %></span>
        </div>
        <span class="font-12 font-xxl-14 font-700"><%= graph.dig(:value) %></span>
      </div>
      <% end %>
    </div>
    <div class="card-footer text-center bg-white">
      <%= link_to 'view all', cloud_service_provider_breakdown_organisation_dashboard_break_downs_path,class: 'font-12 font-xxl-14 text-capitalize font-600 border-bottom-black text-dark text-decoration-none' %>
    </div>
  </div>
<% end %>
