<% if data.present? %>
  <div class="border-0 pie-high-chart overflow-hidden rounded-50 d-flex justify-content-center align-items-start flex-wrap flex-md-nowrap">
    <div class="card-header h-auto p-2 bg-white text-center border-0">
      <p class="font-12 text-center px-3 font-600">Consumption Model Type Breakdown</p>
      <div class="donut-content w-150px mx-auto">
        <%= react_component('highcharts/donut', { data: data.dig(:graph), render_to: 'consumption-chp' }, { class: 'h-200-highchart h-140-highchart' }) %>
        <div class="donut-value font-30 font-700"><%= data.dig(:total)%></div>
      </div>
    </div>
    <div class="card-body px-md-2 px-3 mt-4">
      <% data.dig(:graph).each do |graph| %>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <div class="circle" style="background-color: <%= graph.dig(:color) %>"></div>
            <span class="font-12 font-xxl-14 font-400 ml-2"><%= titleize_last_alpha(graph.dig(:name).titleize) %></span>
          </div>
          <span class="font-12 font-xxl-14 font-700"><%= graph.dig(:value) %></span>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
