<div class="card-body position-relative pt-1 pb-5">
  <ul class="nav nav-tabs border-0 mb-3" id="myTab" role="tablist">
    <% BusinessServiceLine.tiers.keys.each do |tier| %>
      <li class="nav-item pr-2">
        <a class="nav-link border-0 font-12 font-xxl-12 px-0 py-1 text-capitalize text-dark <%= tier == 'tier_1' ? 'active' : '' %>" id="home-<%= tier %>" data-toggle="tab" href="#<%= tier.dasherize %>" role="tab" aria-controls="home" aria-selected="true"><%= tier.titleize %></a>
      </li>
    <% end %>
  </ul>
  <div class="tab-content" id="myTabContent">
    <% appetite_data = risk_appetite_by_tier(data) %>
    <% BusinessServiceLine.tiers.keys.each do |tier| %>
      <div class="tab-pane fade show pb-3 <%= tier == 'tier_1' ? 'active' : '' %>" id="<%= tier.dasherize %>" role="tabpanel" aria-labelledby="home-tab">
        <p class="font-11 font-xxl-14 text-secondary "><%= tier.titleize %> business service line that are either compliant or non-compliant with Risk Appetite. Categorized as Critical or important</p>

        <div class="row mt-xl-5">
          <div class="col-md-4 px-0">
            <div class="impact-highchart-wrapper position-relative">
              <%= react_component('highcharts/donut', { data: appetite_data.dig(tier, :critical), render_to: 'donut' }, { class: 'h-100' }) %>
              <div class="donut-value font-25 font-600 text-black position-absolute"><%= appetite_data.dig(tier, :total_critical) %></div>
            </div>
          </div>
          <div class="col-md-8 mt-3 mt-xl-0">
            <h5 class="font-12 font-xxl-14 font-700 text-capitalize">critical system</h5>
            <div class="tiers d-flex justify-content-between align-items-center mt-2">
              <div class="color-tier d-flex align-items-center">
                <div class="circle green-4"></div>
                <span class="font-12 font-400 ml-2 text-capitalize flex-1 cursor-pointer" data-toggle="tooltip" data-placement="top" title="Critical System Matches Impact Tolerances">Matches</span>
              </div>
              <span class="font-12 font-700"><%= data.dig(:overall, tier, :critical_match_tolerance) || 0 %></span>
            </div>
            <div class="tiers d-flex justify-content-between align-items-center mt-2">
              <div class="color-tier d-flex align-items-center">
                <div class="circle green-2"></div>
                <span class="font-12 font-400 ml-2 text-capitalize flex-1 cursor-pointer" data-toggle="tooltip" data-placement="top" title="Critical System Meets Impact Tolerances">Meets</span>
              </div>
              <span class="font-12 font-700"><%= data.dig(:overall, tier, :critical_meet_tolerance) || 0 %></span>
            </div>
            <div class="tiers d-flex justify-content-between align-items-center mt-2">
              <div class="color-tier d-flex align-items-center">
                <div class="circle green-3"></div>
                <span class="font-12 font-400 ml-2 text-capitalize flex-1 cursor-pointer" data-toggle="tooltip" data-placement="top" title="Critical System Exceeds Impact Tolerances">Exceeds</span>
              </div>
              <span class="font-12 font-700"><%= data.dig(:overall, tier, :critical_exceed_tolerance) || 0 %></span>
            </div>
          </div>
        </div>
        <div class="row mt-4 mt-xl-5">
          <div class="col-md-4 px-0">
            <div class="impact-highchart-wrapper position-relative">
              <%= react_component('highcharts/donut', { data: appetite_data.dig(tier, :important), render_to: 'donut' }, { class: 'h-100-highchart-flex' }) %>
              <div class="donut-value font-25 font-600 text-black position-absolute"><%= appetite_data.dig(tier, :total_important) %></div>
            </div>
          </div>
          <div class="col-md-8 mt-3">
            <h5 class="font-12 font-xxl-14 font-700 text-capitalize">important system</h5>
            <div class="tiers d-flex justify-content-between align-items-center mt-2">
              <div class="color-tier d-flex align-items-center">
                <div class="circle green-4"></div>
                <span class="font-12 font-400 ml-2 text-capitalize flex-1 cursor-pointer" data-toggle="tooltip" data-placement="top" title="Important System Matches Impact Tolerances">Matches</span>
              </div>
              <span class="font-12 font-700"><%= data.dig(:overall, tier, :important_match_tolerance) || 0 %></span>
            </div>
            <div class="tiers d-flex justify-content-between align-items-center mt-2">
              <div class="color-tier d-flex align-items-center">
                <div class="circle green-2"></div>
                <span class="font-12 font-400 ml-2 text-capitalize cursor-pointer flex-1" data-toggle="tooltip" data-placement="top" title="Important System Meets Impact Tolerances">Meets</span>
              </div>
              <span class="font-12 font-700"><%= data.dig(:overall, tier, :important_meet_tolerance) || 0 %></span>
            </div>
            <div class="tiers d-flex justify-content-between align-items-center mt-2">
              <div class="color-tier d-flex align-items-center">
                <div class="circle green-3"></div>
                <span class="font-12 font-400 ml-2 text-capitalize cursor-pointer flex-1" data-toggle="tooltip" data-placement="top" title="Important System Exceeds Impact Tolerances">Exceeds</span>
              </div>
              <span class="font-12 font-700"><%= data.dig(:overall, tier, :important_exceed_tolerance) || 0 %></span>
            </div>
          </div>
        </div>
        <div class="d-flex py-2 justify-content-center view-all">
          <%= link_to 'view all', impact_tolerance_appetite_organisation_dashboard_break_downs_path, class: 'text-capitalize font-12 font-xxl-14 border-bottom-black font-600 text-black text-decoration-none' %>
        </div>
      </div>
    <% end %>
  </div>
</div>