<div class="card-header h-auto bg-white text-center border-0 text-decoration-none">
  <p class="font-14 text-capitalize font-600 chart-header-title text-black text-decoration-none">system & supplier resilience indicators</p>
  <div class="row">
    <% if data.present? %>
      <% SupplierStep.party_types.each do |key, value| %>
        <div class="col-sm-4 col-lg-4 px-0 d-flex justify-content-center text-black">
          <div class="sm-donut-content">
            <%= react_component('highcharts/donut', { data: data.dig(:overall, key.underscore, :graph), render_to: 'donut' }, { class: 'h-130px d-flex align-items-center' }) %>
            <div class="donut-value font-25 font-700 text-black"><%= data.dig(:overall, key.underscore, :total) || 0 %></div>
            <div class="donut-desc sm-donut-desc flex-column">
              <span class="font-11 font-xxl-14 font-600 text-capitalize mb-2"><%= key.titleize %></span>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="d-flex text-black align-items-center h-70px justify-content-between w-100 px-3 mt-xxl-4">
  <div class="d-flex align-items-center">
    <div class="circle green-1"></div>
    <span class="font-11 font-xxl-13 font-600 ml-1 text-capitalize text-black mt-1">matches</span>
  </div>
  <div class="d-flex align-items-center">
    <div class="circle green-2"></div>
    <span class="font-11 font-xxl-13 font-600 ml-1 text-capitalize text-black mt-1">meet</span>
  </div>
  <div class="d-flex align-items-center">
    <div class="circle green-3"></div>
    <span class="font-11 font-xxl-13 font-600 ml-1 text-capitalize text-black mt-1">exceeds</span>
  </div>
</div>
<%= render "organisation/graphs/partials/system_supplier_resilience_indicator_tabs", data: data %>
<div class="card-footer text-center bg-white position-absolute bottom-0 w-100">
  <%= link_to 'view all', system_supplier_resilience_indicator_organisation_dashboard_break_downs_path, class: 'font-12 font-xxl-14 text-capitalize font-600 border-bottom-black text-dark text-decoration-none' %>
</div>
