<% if @data.present? %>
  <% @data.dig(:overall, :suppliers).each_with_index do |supplier_data, index| %>
  <div class="accordion mb-3" id="accordionExample">
    <div class="card font-12">
      <div class="card-header bg-white p-0" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link text-black text-decoration-none w-100 pb-0" type="button" data-toggle="collapse" data-target="#<%= "accordion-#{}-#{index}" %>" aria-expanded="false" aria-controls="<%= "accordion-#{}-#{index}" %>">
            <div class="row flex-nowrap justify-content-between no-gutters">
              <div class="flex-half">
                <h6 class="text-left font-12 font-600"><%= supplier_data.dig(:name) %></h6>
              </div>
              <!-- <div class="flex-half">
                <div class="image">
                  <%= image_tag supplier_data.dig(:logo), class: 'img-fluid w-100' %>
                </div>
              </div> -->
              <div class="flex-half">
                <h6 class="font-12 font-600"><%= titleize_last_alpha(supplier_data.dig(:consumption_model).titleize) %></h6>
              </div>
              <div class="flex-1">
                <h6 class='font-12 font-600'>
                    Critical Steps Total
                </h6>
                <span class='font-11 font-600 text-light-grey'>
                  <%= supplier_data.dig(:critical_steps_total) %>
                </span>
              </div>
              <div class="flex-1">
                <h6 class='font-12 font-600'>Important Steps Total</h6>
                <span class='font-11 font-600 text-light-grey'>
                  <%= supplier_data.dig(:important_steps_total) %>
                </span>
              </div>
              <div class="flex-1">
                <h6 class='font-12 font-600'>Supplier Conformance Score</h6>
                <span class='font-11 font-600 text-light-grey'>
                  <%= "#{supplier_data.dig(:conformance_score)} %" %>
                </span>
              </div>
              <div class="flex-half action align-self-baseline mt-2">
                <i class="fa fa-plus font-16 font-xxl-25 mt-1"></i>
                <i class="fa fa-minus font-16 font-xxl-25 mt-1"></i>
              </div>
            </div>
          </button>
        </h2>
      </div>
      <div id="<%= "accordion-#{}-#{index}" %>" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between">
            <div class="text-box w-40">
              <p>Contracted SLA</p>
            </div>
            <div class="text-box w-40">
              <p class="text-left"><%= supplier_data.dig(:sla_attr)&.service_level_agreement.present? ? "#{supplier_data.dig(:sla_attr).service_level_agreement} %" : '-' %> %</p>
            </div>
            <div class="text-box w-20">
              <div class="color-tier d-flex align-items-center justify-content-start">
                <div class="circle red-circle p-2"></div>
                <span class="font-11 font-400 ml-2">Very High Risk</span>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-between">
            <div class="text-box w-40">
              <p>Contracted RTO</p>
            </div>
            <div class="text-box w-40">
              <p class="text-left"><%= supplier_data.dig(:sla_attr)&.recovery_time_objective.present? ? "#{supplier_data.dig(:sla_attr).recovery_time_objective} minutes" : '-' %></p>
            </div>
            <div class="text-box w-20">
              <div class="color-tier d-flex align-items-center justify-content-start">
                <div class="circle red-circle p-2"></div>
                <span class="font-11 font-400 ml-2">Very High Risk</span>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-between">
            <div class="text-box w-40">
              <p>Contracted RPO</p>
            </div>
            <div class="text-box w-40">
              <p class="text-left"><%= supplier_data.dig(:sla_attr)&.recovery_point_objective.present? ? "#{supplier_data.dig(:sla_attr).recovery_point_objective} minutes" : '-' %></p>
            </div>
            <div class="text-box w-20">
              <div class="color-tier d-flex align-items-center justify-content-start">
                <div class="circle orange-circle p-2"></div>
                <span class="font-11 font-400 ml-2">High Risk</span>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-between">
            <div class="text-box w-40">
              <p>Contracted TPS</p>
            </div>
            <div class="text-box w-40">
              <p class="text-left"><%= supplier_data.dig(:sla_attr)&.transactions_per_second.present? ? "#{supplier_data.dig(:sla_attr).transactions_per_second}" : '-' %></p>
            </div>
            <div class="text-box w-20">
              <div class="color-tier d-flex align-items-center justify-content-start">
                <div class="circle orange-circle p-2"></div>
                <span class="font-11 font-400 ml-2">High Risk</span>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-between">
            <div class="text-box w-40">
              <p>Contracted Response Time</p>
            </div>
            <div class="text-box w-40">
              <p class="text-left"><%= supplier_data.dig(:sla_attr)&.response_time.present? ? "#{supplier_data.dig(:sla_attr).response_time} m/s" : '-' %></p>
            </div>
            <div class="text-box w-20">
              <div class="color-tier d-flex align-items-center justify-content-start">
                <div class="circle orange-circle p-2"></div>
                <span class="font-11 font-400 ml-2">High Risk</span>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-between">
            <div class="text-box w-40">
              <p>Support Hours</p>
            </div>
            <div class="text-box w-40">
              <p class="text-left"><%= supplier_data.dig(:sla_attr)&.support_hours.present? ? supplier_data.dig(:sla_attr).support_hours : '-' %></p>
            </div>
            <div class="text-box w-20">
              <div class="color-tier d-flex align-items-center justify-content-start">
                <div class="circle green-1 p-2"></div>
                <span class="font-11 font-400 ml-2">Low Risk</span>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="card-body">
          <div class="incident-response">
            <h6 class="mb-4">Incident Response & Restoration</h6>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="border-0 text-light-grey font-12 pl-0">Incident</th>
                    <th class="border-0 text-light-grey font-12 pl-0">Severity 1</th>
                    <th class="border-0 text-light-grey font-12 pl-0">Severity 2</th>
                    <th class="border-0 text-light-grey font-12 pl-0">Severity 3</th>
                    <th class="border-0 text-light-grey font-12 pl-0">Severity 4</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="border-0 pl-0 font-12">Incident Response SLA</td>
                    <td class="border-0 pl-0 font-12">
                      <div class="color-tier d-flex align-items-center justify-content-start">
                        <div class="circle <%= identify_impact_color(supplier_data.dig(:sla_attr_status)&.first&.dig('severity1')) %> p-2"></div>
                        <span class="font-11 font-400 ml-2"><%= supplier_data.dig(:sla_attr)&.severity1.present? ? "#{supplier_data.dig(:sla_attr).severity1} minutes" : '-' %></span>
                      </div>
                    </td>
                    <td class="border-0 pl-0 font-12">
                      <div class="color-tier d-flex align-items-center justify-content-start">
                        <div class="circle <%= identify_impact_color(supplier_data.dig(:sla_attr_status)&.first&.dig('severity2')) %> p-2"></div>
                        <span class="font-11 font-400 ml-2"><%= supplier_data.dig(:sla_attr)&.severity2.present? ? "#{supplier_data.dig(:sla_attr).severity2} minutes" : '-' %></span>
                      </div>
                    </td>
                    <td class="border-0 pl-0 font-12">
                      <div class="color-tier d-flex align-items-center justify-content-start">
                        <div class="circle <%= identify_impact_color(supplier_data.dig(:sla_attr_status)&.first&.dig('severity3')) %> p-2"></div>
                        <span class="font-11 font-400 ml-2"><%= supplier_data.dig(:sla_attr)&.severity3.present? ? "#{supplier_data.dig(:sla_attr).severity3} minutes" : '-' %></span>
                      </div>
                    </td>
                    <td class="border-0 pl-0 font-12">
                      <div class="color-tier d-flex align-items-center justify-content-start">
                        <div class="circle <%= identify_impact_color(supplier_data.dig(:sla_attr_status)&.first&.dig('severity4')) %> p-2"></div>
                        <span class="font-11 font-400 ml-2"><%= supplier_data.dig(:sla_attr)&.severity4.present? ? "#{supplier_data.dig(:sla_attr).severity4} minutes" : '-' %></span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="border-0 pl-0 font-12">Incident Restoration SLA</td>
                    <td class="border-0 pl-0 font-12">
                      <div class="color-tier d-flex align-items-center justify-content-start">
                        <div class="circle <%= identify_impact_color(supplier_data.dig(:sla_attr_status)&.first&.dig('severity1_restoration')) %> p-2"></div>
                        <span class="font-11 font-400 ml-2"><%= supplier_data.dig(:sla_attr)&.severity1_restoration.present? ? "#{supplier_data.dig(:sla_attr).severity1_restoration} minutes" : '-' %></span>
                      </div>
                    </td>
                    <td class="border-0 pl-0 font-12">
                      <div class="color-tier d-flex align-items-center justify-content-start">
                        <div class="circle <%= identify_impact_color(supplier_data.dig(:sla_attr_status)&.first&.dig('severity2_restoration')) %> p-2"></div>
                        <span class="font-11 font-400 ml-2"><%= supplier_data.dig(:sla_attr)&.severity2_restoration.present? ? "#{ supplier_data.dig(:sla_attr).severity2_restoration} minutes" : '-' %></span>
                      </div>
                    </td>
                    <td class="border-0 pl-0 font-12">
                      <div class="color-tier d-flex align-items-center justify-content-start">
                        <div class="circle <%= identify_impact_color(supplier_data.dig(:sla_attr_status)&.first&.dig('severity3_restoration')) %> p-2"></div>
                        <span class="font-11 font-400 ml-2"><%= supplier_data.dig(:sla_attr)&.severity3_restoration.present? ? "#{supplier_data.dig(:sla_attr).severity3_restoration} minutes" : '-' %></span>
                      </div>
                    </td>
                    <td class="border-0 pl-0 font-12">
                      <div class="color-tier d-flex align-items-center justify-content-start">
                        <div class="circle <%= identify_impact_color(supplier_data.dig(:sla_attr_status)&.first&.dig('severity4_restoration')) %> p-2"></div>
                        <span class="font-11 font-400 ml-2"><%= supplier_data.dig(:sla_attr)&.severity4_restoration.present? ? "#{supplier_data.dig(:sla_attr).severity4_restoration} minutes" : '-' %></span>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <hr>
        <div class="card-body">
          <div class="incident-response">
            <h6 class="mb-4">3rd Party Suppliers</h6>
            <div class="row">
              <% if supplier_data.dig(:third_parties)&.present? %>
                <% supplier_data.dig(:third_parties)&.each do |third_party_supplier| %>
                  <div class="col-lg-6 mb-2 d-flex justify-content-between">
                    <span class="text-black font-12"><%= third_party_supplier.name %></span>
                    <a href="javascript:void(0);" class="text-decoration-none border-bottom text-black font-12">View Details</a>
                  </div>
                <% end %>
              <% else %>
                <div class="col-lg-6">
                  <div class="alert alert-warning">No Third Party Suppliers for this Supplier!</div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <hr>
        <div class="card-body">
          <div class="incident-response">
            <h6 class="mb-4">4th Party Suppliers</h6>
            <div class="row">
              <% if supplier_data.dig(:fourth_parties)&.present? %>
                <% supplier_data.dig(:fourth_parties)&.each do |fourth_party_supplier| %>
                  <div class="col-lg-6 mb-2 d-flex justify-content-between">
                    <span class="text-black font-12"><%= fourth_party_supplier.name %></span>
                    <a href="javascript:void(0);" class="text-decoration-none border-bottom text-black font-12">View Details</a>
                  </div>
                <% end %>
              <% else %>
                <div class="col-lg-6">
                  <div class="alert alert-warning">No Fourth Party Suppliers for this Supplier!</div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
