<% if data.blank? %>
  <div class="card border-0 shadow-sm pie-high-chart overflow-hidden rounded-50 min-h-560">
    <div class="card-header bg-white text-center">
      <p class="font-14 text-capitalize font-600 chart-header-title">business services</p>
      <div class="donut-content h-75">
        <div class="empty-donut-block py-3 px-5"></div>
      </div>
    </div>
    <div class="card-body">
      <div class="tiers d-flex justify-content-between align-items-center mb-1">
        <div class="empty-donut-line px-5 mb-2 py-3"></div>
      </div>
      <div class="tiers d-flex justify-content-between align-items-center mb-1">
        <div class="empty-donut-line px-5 mb-2 py-3"></div>
      </div>
      <div class="tiers d-flex justify-content-between align-items-center mb-1">
        <div class="empty-donut-line px-5 mb-2 py-3"></div>
      </div>
      <div class="tiers d-flex justify-content-between align-items-center mb-1">
        <div class="empty-donut-line px-5 mb-2 py-3"></div>
      </div>
    </div>
    <div class="card-footer bg-white">
      <div class="tiers d-flex justify-content-between align-items-center mb-1">
        <div class="empty-donut-line px-5 py-1"></div>
      </div>
    </div>
  </div>
<% else %>
  <div class="card border-0 rounded-50">
    <div class="card-body">
      <div class="d-flex align-items-center justify-content-between">
        <h5 class="font-600 text-capitalize">overview</h5>
        <!-- <i class="fa fa-ellipsis-v"></i> -->
      </div>
      <div class="row align-items-center mt-3">
        <div class="col-md-4">
          <div class="position-relative">
            <%= react_component('highcharts/donut', { data: render_data(data, params[:filters]), render_to: 'donut' }, { class: 'h-200px d-flex align-items-center' }) %>
            <span class="position-absolute center-position font-md-30 font-40 font-600"><%= total_for_selected_supplier_type(data, params[:filters]) %></span>
          </div>
        </div>
        <div class="col-md-8">
          <div class="d-flex justify-content-between align-items-center font-12 font-xxl-14 my-3">
            <span class="font-500 text-capitalize"><%= overview_heading(params[:filters]) %></span>
            <span class="font-700"><%= total_for_selected_supplier_type(data, params[:filters]) %></span>
          </div>
          <div class="d-flex justify-content-between align-items-center font-12 font-xxl-14 my-3">
            <span class="font-500 text-capitalize">Total Number Match Impact Tolerance</span>
            <span class="font-700"><%= total_match_for_selected_supplier_type(data, params[:filters]) %></span>
          </div>
          <div class="d-flex justify-content-between align-items-center font-12 font-xxl-14 my-3">
            <span class="font-500 text-capitalize">Total Number Meet Impact Tolerance</span>
            <span class="font-700"><%= total_meet_for_selected_supplier_type(data, params[:filters]) %></span>
          </div>
          <div class="d-flex justify-content-between align-items-center font-12 font-xxl-14 my-3">
            <span class="font-500 text-capitalize">Total Number Exceed Impact Tolerance</span>
            <span class="font-700"><%= total_exceed_for_selected_supplier_type(data, params[:filters]) %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>