<nav class="d-none d-md-block sidebar h-100 border-right">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <%= link_to 'Dashboard', admin_dashboard_index_path, class: 'nav-link text-light' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Institutions', admin_institutions_path, class: 'nav-link text-light' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Products', admin_products_path, class: 'nav-link text-light' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Channels', admin_channels_path, class: 'nav-link text-light' %>
      </li>
    </ul>
  </div>
</nav>
<div class="sidebar h-100">
  <div class="sidebar-header py-4 border-bottom">
    <div class="sidebar-logo-container d-flex align-items-center ml-4">
      <i id="close_sidebar" class="fa fa-times font-18" aria-hidden="true"></i>
      <div class="logo-box ml-3">
        <%= image_pack_tag 'media/images/logo.png', class: 'img-fluid' %>
      </div>
    </div>
  </div>
  <ul class="list-unstyled">
    <li class="d-flex pl-4 align-items-center">
      <i class="fa fa-home font-18" aria-hidden="true"></i>
      <%= link_to 'Dashboard', admin_dashboard_index_path, class: 'ml-3 font-14 text-decoration-none font-600 text-capitalize py-4' %>
    </li>
    <li class="d-flex pl-4 align-items-center">
      <i class="fa fa-list-ul" aria-hidden="true"></i>
      <%= link_to 'Institutions', admin_institutions_path, class: 'ml-3 font-14 text-decoration-none font-600 text-capitalize py-4' %>
    </li>
    <li class="d-flex pl-4 align-items-center">
      <i class="fa fa-briefcase" aria-hidden="true"></i>
      <%= link_to 'Products', admin_products_path, class: 'ml-3 font-14 text-decoration-none font-600 text-capitalize py-4' %>
    </li>
    <li class="d-flex pl-4 align-items-center">
      <i class="fa fa-home font-18" aria-hidden="true"></i>
      <%= link_to 'Channels', admin_channels_path, class: 'ml-3 font-14 text-decoration-none font-600 text-capitalize py-4' %>
    </li>
  </ul>
</div>

