<div class="text-right mb-3 d-flex justify-content-between align-items-center">
  <h3>Product</h3>
  <%= link_to 'New Product', new_admin_product_path, class: 'btn dark-btn rounded-0 border-0' %>
</div>
<div class='card border-0'>
  <div class='card-body'>
    <div class="listings">
      <% if @products.present? %>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @products.each do |product| %>
              <tr>
                <td><%= product.name %></td>
                <td><%= product.description %></td>
                <td>
                  <%= link_to 'View', admin_product_path(product), class: 'btn dark-btn btn-sm' %>
                  <%= link_to 'Edit', edit_admin_product_path(product), class: 'btn dark-btn btn-sm' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <div class="alert alert-primary m-0" role="alert">
          No products are created yet!
        </div>
      <% end %>
    </div>
  </div>
</div>
