<div id='cloud-service-provider' class="new-dashboard">
  <div class="row no-gutters">
    <div class="col-sm-12 px-1">
      <div class="d-flex justify-content-between align-items-center flex-wrap">
        <div class="left d-flex align-items-center flex-wrap">
          <div class="mr-4 back-btn mb-2 mb-sm-0 ">
            <%= render 'layouts/partials/shared/redirect_back', path: organisation_business_service_line_path(@bsl) %>
          </div>
          <h2 class="font-500 font-sm-18 font-25 text-capitalize">cloud service provider</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-sm-12">
      <div id="section1" class="content-area">
        <ul class="nav nav-tabs custom-tab border-0 mb-5 row" id="myTab" role="tablist">
          <li class="nav-item custom-item col-md-3 mx-0 w-100">
            <a class="text-decoration-none nav-link w-100 rounded text-capitalize custom-link border-0 font-12 font-xxl-14 py-3 font-500 <%= @data.dig('chp_name') == 'Amazon Web Services' ? 'active' : '' %> chp-data" id="aws-tab" data-toggle="tab" href="#aws" role="tab" aria-controls="aws" aria-selected="true" data-args="<%= { bsl: @bsl.id, chp_name: 'Amazon Web Services', }.to_json %>" data-append-to="aws" data-partial-name="cloud_service_provider_breakdown">Amazon Web services</a>
          </li>
          <li class="nav-item custom-item col-md-3 mx-0 w-100">
            <a class="text-decoration-none nav-link w-100 rounded custom-link border-0 text-capitalize font-12 font-xxl-14 py-3 font-500 <%= @data.dig('chp_name') == 'Microsoft Azure' ? 'active' : '' %> chp-data" id="azure-tab" data-toggle="tab" href="#azure" role="tab" aria-controls="azure" aria-selected="false" data-args="<%= { bsl: @bsl.id, chp_name: 'Microsoft Azure', }.to_json %>" data-append-to="azure" data-partial-name="cloud_service_provider_breakdown">Microsoft azure</a>
          </li>
          <li class="nav-item custom-item col-md-3 mx-0 w-100">
            <a class="text-decoration-none nav-link w-100 rounded custom-link border-0 text-capitalize font-12 font-xxl-14 py-3 font-500 <%= @data.dig('chp_name') == 'Google Cloud Platform' ? 'active' : '' %> chp-data" id="gcp-tab" data-toggle="tab" href="#gcp" role="tab" aria-controls="gcp" aria-selected="false" data-args="<%= { bsl: @bsl.id, chp_name: 'Google Cloud Platform', }.to_json %>" data-append-to="gcp" data-partial-name="cloud_service_provider_breakdown">google cloud platform</a>
          </li>
          <li class="nav-item custom-item col-md-3 mx-0 w-100">
            <a class="text-decoration-none nav-link w-100 rounded custom-link border-0 text-capitalize font-12 font-xxl-14 py-3 font-500 <%= @data.dig('chp_name') == 'Private Cloud' ? 'active' : '' %> chp-data" id="private-cloud-tab" data-toggle="tab" href="#private-cloud" role="tab" aria-controls="private-cloud" aria-selected="false" data-args="<%= { bsl: @bsl.id, chp_name: 'Private Cloud', }.to_json %>" data-append-to="private-cloud" data-partial-name="cloud_service_provider_breakdown">private cloud</a>
          </li>
        </ul>
        <div class="tab-content mb-3" id="myTabContent1">

          <div class="tab-pane fade show <%= @data.dig('chp_name') == 'Amazon Web Services' ? 'active' : '' %>" id="aws" role="tabpanel" aria-labelledby="aws-tab">
            <section id="section2" class="section mb-4">
              <% if @data.dig('chp_name') == 'Amazon Web Services' %>
                <%= render 'organisation/business_service_lines/partials/cloud_service_provider_breakdown' %>
              <% end %>
            </section>
          </div>

          <!-- Microsoft azure -->
          <div class="tab-pane fade show <%= @data.dig('chp_name') == 'Microsoft Azure' ? 'active' : '' %>" id="azure" role="tabpanel" aria-labelledby="azure-tab">
            <section id="section2" class="section mb-4">
              <% if @data.dig('chp_name') == 'Microsoft Azure'  %>
                <%= render 'organisation/business_service_lines/partials/cloud_service_provider_breakdown' %>
              <% end %>
            </section>
          </div>
          <!-- Google Cloud Platform -->
          <div class="tab-pane fade show <%= @data.dig('chp_name') == 'Google Cloud Platform' ? 'active' : '' %>" id="gcp" role="tabpanel" aria-labelledby="gcp">
            <section id="section2" class="section mb-4">
              <% if @data.dig('chp_name') == 'Google Cloud Platform' %>
                <%= render 'organisation/business_service_lines/partials/cloud_service_provider_breakdown' %>
              <% end %>
            </section>
          </div>
          <!-- private cloud -->
          <div class="tab-pane fade show <%= @data.dig('chp_name') == 'Private Cloud' ? 'active' : '' %>" id="private-cloud" role="tabpanel" aria-labelledby="private-cloud-tab">
            <section id="section2" class="section mb-4">
              <% if @data.dig('chp_name') == 'Private Cloud' %>
                <%= render 'organisation/business_service_lines/partials/cloud_service_provider_breakdown' %>
              <% end %>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id = "supplier_breakdown_modal">
</div>
