<div id="bsl-details" class="bsl-dashboard">
  <div class="row no-gutters">
    <div class="col-sm-12 px-1">
      <div class="d-flex justify-content-between align-items-center flex-wrap">
        <div class="left d-flex align-items-center flex-wrap">
          <div class="mr-4 back-btn">
            <%= render 'layouts/partials/shared/redirect_back', path: organisation_administration_portal_index_path %>
          </div>
          <h2 class="font-600 font-sm-18 font-25 text-capitalize">
            <%= @bsl.name %>
          </h2>
        </div>
        <div class="right d-flex mt-3 mt-lg-0">
       <!--    <div class="white-btn d-flex align-items-center pl-2 px-3 rounded-50 mr-2 pr-2 mr-2 py-2 cursor-pointer">
            <span> <i class="fa fa-sliders"></i></span>
            <span class="text-capitalize font-xs-11 font-12 font-xxl-14 ml-2 font-600">Customise View</span>
          </div>
          <div class="white-btn d-flex align-items-center pl-2 mr-2 rounded-50 px-3 pr-2 py-2 cursor-pointer">
            <span><i class='fa fa-save font-16 mr-2'></i></span>
            <span class="text-capitalize font-12 font-xxl-14 font-600">save view</span>
          </div>
          <div class="white-btn p-1 d-flex align-items-center rounded-50 cursor-pointer">
            <i class="fa fa-ellipsis-v px-2 mx-1"></i>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="secondary-sidebar-icon d-none">
    <i class='fa fa-ellipsis-v fa-1x font-18'></i>
  </div>
  <div class="row no-gutters mt-5">
    <div class="col-sm-3 col-xxl-2 px-1">
      <aside class="fixed-secondary-sidebar position-static" id='sticky-sidebar-demo'>
        <i class="fa fa-times-circle fa-1x d-none"></i>
        <ul class="p-0 list-unstyled inner-wrapper-sticky">
          <li class="links active-white mb-2">
            <a href="#overview-section" class=" text-decoration-none text-capitalize font-13 font-xxl-14 d-block py-2 font-600">overview</a>
          </li>
          <li class="links mb-2">
            <a href="#service-levels-section" class=" text-decoration-none text-capitalize font-13 font-xxl-14 d-block py-2">Service Levels</a>
          </li>
          <li class="links mb-2">
            <a href="#incident-management-service" class=" text-decoration-none text-capitalize font-13 font-xxl-14 d-block py-2">Incident Management Service</a>
          </li>
          <li class="links mb-2">
            <a href="#compound-risk-posture-section" class=" text-decoration-none text-capitalize font-13 font-xxl-14 d-block py-2">Compounded Risk Posture</a>
          </li>
          <li class="links mb-2">
            <a href="#cloud-service-provider-section" class=" text-decoration-none text-capitalize font-13 font-xxl-14 d-block py-2">Cloud Service Providers</a>
          </li>
          <li class="links mb-2">
            <a href="#resilience-issues-section" class=" text-decoration-none text-capitalize font-13 font-xxl-14 d-block py-2">Resilience Issues</a>
          </li>
          <li class="links mb-2">
            <a href="#system-supplier-breakdown-section" class=" text-decoration-none text-capitalize font-13 font-xxl-14 d-block py-2">System & Supplier Breakdown</a>
          </li>
          <li class="links mb-2">
            <a href="#dependency-map-section" class=" text-decoration-none text-capitalize font-13 font-xxl-14 d-block py-2">Dependency Map</a>
          </li>
        </ul>
      </aside>
    </div>
    <div class="col-sm-9 col-xxl-10 px-1">
      <div class="w-100">
        <div class="content-area">
          <div id="overview-section">
            <%= render 'organisation/business_service_lines/subsections/overview'%>
          </div>
          <div id="service-levels-section">
            <%= render 'organisation/business_service_lines/subsections/service_levels' %>
          </div>
          <div id="incident-management-service">
            <%= render 'organisation/business_service_lines/subsections/incident_management_service' %>
          </div>
          <div id="compound-risk-posture-section">
            <%= render 'organisation/business_service_lines/subsections/compound_risk_posture' %>
          </div>
          <div id="cloud-service-provider-section">
            <%= render 'organisation/business_service_lines/subsections/cloud_hosting_provider' %>
          </div>
          <div id="resilience-issues-section">
            <%= render 'organisation/business_service_lines/subsections/resilience_issues' %>
          </div>
          <div id="system-supplier-breakdown-section">
            <%= render 'organisation/business_service_lines/subsections/system_supplier_breakdown' %>
          </div>
          <div id="dependency-map-section">
            <%= render 'organisation/business_service_lines/subsections/dependency_map'%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
