<div class="text-right mb-2">
  <%= link_to 'New Channel', new_admin_channel_path, class: 'btn btn-primary' %>
</div>

<div class="listings">
  <% if @channels.present? %>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Active</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @channels.each do |channel| %>
          <tr>
            <td><%= channel.name %></td>
            <td><%= channel.description %></td>
            <td><%= channel.active ? 'Yes' : 'No' %></td>
            <td>
              <%= link_to 'View', admin_channel_path(channel), class: 'btn btn-secondary btn-sm' %>
              <%= link_to 'Edit', edit_admin_channel_path(channel), class: 'btn btn-secondary btn-sm' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="alert alert-primary" role="alert">
      No channels are created yet!
    </div>
  <% end %>
</div>
