<div class="card border-0 shadow-sm rounded-50 mb-4">
  <div class="card-body px-0">
    <div class="d-flex align-items-center mb-4 px-4">
      <h5 class="text-capitalize text-left w-75 font-600">Incident management service</h5>
    </div>
    <div class="pl-4 table-responsive">
      <table class="table border-0 serverity-table">
        <thead>
          <tr class="border-0">
            <th></th>
            <th class='text-capitalize'><p class='px-0 py-3 font-12 font-xxl-14'>severity 1</p></th>
            <th class='text-capitalize'><p class='px-0 py-3 font-12 font-xxl-14'>severity 2</p></th>
            <th class='text-capitalize'><p class='px-0 py-3 font-12 font-xxl-14'>severity 3</p></th>
            <th class='text-capitalize'><p class='px-0 py-3 font-12 font-xxl-14'>severity 4</p></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class='text-capitalize'><p class='px-2 py-3 font-14 text-black font-600 border-0'>incident notification time</p></td>
            <td class='text-capitalize'>
              <p class='px-2 py-3 font-12 text-black'>
                <%= @bsl.sla&.severity1.present? ? "#{@bsl.sla&.severity1}" : '-' %>
              </p>
            </td>
            <td class='text-capitalize'>
              <p class='px-2 py-3 font-12 text-black'>
                <%= @bsl.sla&.severity2.present? ? "#{@bsl.sla&.severity2}" : '-' %>
              </p>
            </td>
            <td class='text-capitalize'>
              <p class='px-2 py-3 font-12 text-black'>
                <%= @bsl.sla&.severity3.present? ? "#{@bsl.sla&.severity3}" : '-' %>
              </p>
            </td>
            <td class='text-capitalize'>
              <p class='px-2 py-3 font-12 text-black'>
                <%= @bsl.sla&.severity4.present? ? "#{@bsl.sla&.severity4}" : '-' %>
              </p>
            </td>
          </tr>
          <tr>
            <td class='text-capitalize'>
              <p class='px-2 py-3 font-14 text-black font-600 border-0'>
              incident restoration time
              </p>
            </td>
            <td class='text-capitalize'>
              <p class='px-2 py-3 font-12 text-black'>
                <%= @bsl.sla&.severity1_restoration.present? ? "#{@bsl.sla&.severity1_restoration}" : '-' %>
              </p>
            </td>
            <td class='text-capitalize'>
              <p class='px-2 py-3 font-12 text-black'>
                <%= @bsl.sla&.severity2_restoration.present? ? "#{@bsl.sla&.severity2_restoration}" : '-' %>
              </p>
            </td>
            <td class='text-capitalize'>
              <p class='px-2 py-3 font-12 text-black'>
               <%= @bsl.sla&.severity3_restoration.present? ? "#{@bsl.sla&.severity3_restoration}" : '-' %>
              </p>
            </td>
            <td class='text-capitalize'>
              <p class='px-2 py-3 font-12 text-black'>
                <%= @bsl.sla&.severity4_restoration.present? ? "#{@bsl.sla&.severity4_restoration}" : '-' %>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
