<div class="card border-0 shadow-sm rounded-50 mb-4">
  <div class="card-body px-0">
    <div class="d-flex align-items-center mb-4 px-4">
      <h5 class="text-capitalize text-left w-75 font-600">Service Levels</h5>
      <!-- <i class="fa fa-ellipsis-v w-25 text-right" aria-hidden="true"></i> -->
    </div>
      <div class="col-md-12 px-4">
        <p class="text-capitalize font-14 font-400 mb-3">service level targets</p>
      </div>
    <div class="small-boxes row px-4 mb-4">
      <div class="col-lg-3 col-md-6 mb-3">
        <div class="card h-100 border-top-0 border-right-0 border-bottom-0 bg-white border-left-green rounded-0">
          <div class="card-body px-2 py-2 d-flex align-items-center">
            <div class="color-tier d-flex align-items-center">
              <div class="text">
                <span class="font-12 font-400 ml-2 d-block">Target SLA</span>
                <span class="font-12 ml-2 d-block font-600"><%= @bsl.sla&.service_level_agreement.present? ? "#{@bsl.sla&.service_level_agreement} %" : '-' %></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-3">
        <div class="card h-100 border-top-0 border-right-0 border-bottom-0 bg-white border-left-green rounded-0">
          <div class="card-body px-2 py-2 d-flex align-items-center">
            <div class="color-tier d-flex align-items-center">
              <div class="text">
                <span class="font-12 font-400 ml-2 d-block">Target SLO</span>
                <span class="font-12 ml-2 d-block font-600"><%= @bsl.sla&.service_level_objective.present? ? "#{@bsl.sla&.service_level_objective} %" : '-' %></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-3">
        <div class="card h-100 border-top-0 border-right-0 border-bottom-0 bg-white border-left-green rounded-0">
          <div class="card-body px-2 py-2 d-flex align-items-center">
            <div class="color-tier d-flex align-items-center">
              <div class="text">
                <span class="font-12 font-400 ml-2 d-block">Targeted RTO</span>
                <span class="font-12 ml-2 d-block font-600"><%= @bsl.sla&.recovery_time_objective.present? ? "#{@bsl.sla&.recovery_time_objective} Minutes" : '-' %></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-3">
        <div class="card h-100 border-top-0 border-right-0 border-bottom-0 bg-white border-left-green rounded-0">
          <div class="card-body px-2 py-2 d-flex align-items-center">
            <div class="color-tier d-flex align-items-center">
              <div class="text">
                <span class="font-12 font-400 ml-2 d-block">Targeted RPO</span>
                <span class="font-12 ml-2 d-block font-600"><%= @bsl.sla&.recovery_point_objective.present? ? "#{@bsl.sla&.recovery_point_objective} Minutes" : '-' %></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-3">
        <div class="card h-100 border-top-0 border-right-0 border-bottom-0 bg-white border-left-green rounded-0">
          <div class="card-body px-2 py-2 d-flex align-items-center">
            <div class="color-tier d-flex align-items-center">
              <div class="text">
                <span class="font-12 font-400 ml-2 d-block">Target TPS</span>
                <span class="font-12 ml-2 d-block font-600"><%= @bsl.sla&.transactions_per_second.present?  ? @bsl.sla&.transactions_per_second : '-' %></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-3">
        <div class="card h-100 border-top-0 border-right-0 border-bottom-0 bg-white border-left-green rounded-0">
          <div class="card-body px-2 py-2 d-flex align-items-center">
            <div class="color-tier d-flex align-items-center">
              <div class="text">
                <span class="font-12 font-400 ml-2 d-block">Response Time</span>
                <span class="font-12 ml-2 d-block font-600"><%= @bsl.sla&.response_time.present? ? @bsl.sla&.response_time : '-' %></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-3">
        <div class="card h-100 border-top-0 border-right-0 border-bottom-0 bg-white border-left-green rounded-0">
          <div class="card-body px-2 py-2 d-flex align-items-center">
            <div class="color-tier d-flex align-items-center">
              <div class="text">
                <span class="font-12 font-xxl-14 font-400 ml-2 d-block">Support Needs</span>
                <span class="font-12 font-xxl-14 ml-2 d-block font-600"><%= @bsl.sla&.support_hours.present? ? @bsl.sla&.support_hours : '-' %></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <hr> -->
   <!--  <div class="box">
      <div class="d-flex justify-content-between align-items-center my-5 px-4">
        <h5 class="text-capitalize text-left font-600">Service Level Indicators</h5>
      </div>
      <div class="row mt-3 d-flex no-gutters">
        <div class="table-responsive">
          <table class="table mb-0">
            <thead>
              <tr>
                <th class="border-0 px-4 font-14 text-light-grey">Metric</th>
                <th class="border-0 px-4 font-14 text-light-grey"></th>
                <th class="border-0 px-4 font-14 text-light-grey">Value</th>
                <th class="border-0 px-4 font-14 text-light-grey">Value</th>
                <th class="border-0 px-4 font-14 text-light-grey"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="font-14 font-600 px-4">
                  Trafic
                </td>
                <td class="px-4" width='250px' height="100px">
                  <div id="fourth-line-chart" class="h-100"></div>
                </td>
                <td class="font-14 px-4">
                  1031.33
                </td>
                <td class="font-14 px-4">
                  <i class="fa fa-caret-down mr-2 text-red d-inline-block align-middle w-10"></i>
                  <span class="d-inline-block align-middle w-75">-14.32(-1.2%)</span>
                </td>
                <td class="font-14 px-4">
                  <span class="mr-2 d-inline-block align-middle">More</span>
                  <i class="fa fa-arrow-right d-inline-block align-middle"></i>
                </td>
              </tr>
              <tr>
                <td class="font-14 font-600 px-4">
                  Latency
                </td>
                <td class="px-4" width='250px' height="100px">
                  <div id="third-line-chart" class="h-100"></div>
                </td>
                <td class="font-14 px-4">
                  1031.33
                </td>
                <td class="font-14 px-4">
                  <i class="fa fa-caret-down mr-2 text-red d-inline-block align-middle w-10"></i>
                  <span class="d-inline-block align-middle w-75">-14.32(-1.2%)</span>
                </td>
                <td class="font-14 px-4">
                  <span class="mr-2">More</span>
                  <i class="fa fa-arrow-right"></i>
                </td>
              </tr>
              <tr>
                <td class="font-14 font-600 px-4">
                  Saturation
                </td>
                <td class="px-4" width='250px' height="100px">
                  <div id="first-line-chart" class="h-100"></div>
                </td>
                <td class="font-14 px-4">
                  1031.33
                </td>
                <td class="font-14 px-4">
                  <i class="fa fa-caret-up mr-2 text-greend-inline-block align-middle w-10"></i>
                  <span class="d-inline-block align-middle w-75">-14.32(-1.2%)</span>
                </td>
                <td class="font-14 px-4">
                  <span class="mr-2">More</span>
                  <i class="fa fa-arrow-right"></i>
                </td>
              </tr>
              <tr>
                <td class="font-14 font-600 px-4">
                  Errors
                </td>
                <td class="px-4" width='250px' height="100px">
                  <div id="second-line-chart" class="h-100"></div>
                </td>
                <td class="font-14 px-4">
                  1031.33
                </td>
                <td class="font-14 px-4">
                  <i class="fa fa-caret-down mr-2 text-red d-inline-block align-middle w-10"></i>
                  <span class="d-inline-block align-middle w-75">-14.32(-1.2%)</span>
                </td>
                <td class="font-14 px-4">
                  <span class="mr-2">More</span>
                  <i class="fa fa-arrow-right"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div> -->
  </div>
</div>
