<% suppliers&.each do |supplier| %>
  <tr>
    <td class="font-12 font-xxl-14 pl-0 text-black"><%= supplier.name %></td>
    <td class="font-12 font-xxl-14 px-2 font-400 text-capitalize"><%= supplier.unit&.name %></td>
    <td class="font-12 font-xxl-14 px-2 font-400 text-capitalize"><%= supplier.unit&.parent&.name %></td>
    <td class= 'px-1 font-12 d-flex py-4'>
      <%= link_to 'Edit', edit_organisation_supplier_path(supplier), class: 'mx-1 text-black text-uppercase font-600 font-12' %>
      <%= link_to 'View', organisation_supplier_path(supplier), class: 'mx-1 text-black text-uppercase font-600 font-12' %>
    </td>
  </tr>
<% end %>
