<%= form_for admin, url: organisation_admin_path, method: :patch do |f| %>
  <%= render 'layouts/partials/shared/form_errors', instance: admin %>
  <div class="row align-items-center mb-3">
    <div class="col-md-6">
      <%= f.label :first_name, class: 'text-capitalize font-14 font-600 mb-2' %>
      <%= f.text_field :first_name, class: 'w-100 form-control font-12 h-auto py-3 shadow-none', placeholder: 'First Name' %>
    </div>
    <div class="col-md-6">
      <%= f.label :last_name, class: 'text-capitalize font-14 font-600 mb-2' %>
      <%= f.text_field :last_name, class: 'w-100 form-control font-12 h-auto py-3 shadow-none', placeholder: 'Last Name' %>
    </div>
  </div>

  <div class="row align-items-center mb-3">
    <div class="col-md-12">
      <%= f.label :email, class: 'text-capitalize font-14 font-600 mb-2' %>
      <%= f.email_field :email, class: 'w-100 form-control font-12 h-auto py-3 shadow-none', placeholder: 'Email', required: true %>
    </div>
  </div>

  <div class="row align-items-center mb-3">
    <div class="col-md-6">
      <%= f.label :password, class: 'text-capitalize font-14 font-600 mb-2' %>
      <%= f.password_field :password, class: 'w-100 form-control font-12 h-auto py-3 shadow-none', placeholder: 'Password', required: new_or_create %>
    </div>
    <div class="col-md-6">
      <%= f.label :password_confirmation, class: 'text-capitalize font-14 font-600 mb-2' %>
      <%= f.password_field :password_confirmation, class: 'w-100 form-control font-12 h-auto py-3 shadow-none', placeholder: 'Password Confirmation', required: new_or_create %>
    </div>
  </div>

  <div class="d-flex mt-5">
    <%= f.submit class: 'btn btn-md font-600 text-capitalize font-12 ml-auto dark-btn w-25' %>
   </div>
<% end %>
