<div class="row">
  <div class="col-md-12">
    <div class="card border-0 text-center">
      <div class="card-body px-sm-5 p-3">
        <%= form_tag organisation_admins_path, remote: true do %>
          <% index= 0 %>
          <h2 class="text-capitalize font-300 mb-2">Invite administrator</h2>
          <p class="font-12 font-xxl-14">
            Please provide the details for users in this region. Users can be set up as <strong> "Root Users", "Super Users" or "Standard Users"</strong>.
            Root Users have the ability to execute the OpRes Onboarding Wizard. They can also add new, update, amend and delete business service and supplier records across all regions.
            Super Users can add new, update, amend and delete existing business service & supplier records in their region.
            Standard Users can only view existing records in their region.
          </p>
          <ul class="nav nav-tabs d-flex justify-content-even flex-nowrap align-items-center mt-5 custom-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active border-0 p-0 pb-2 bg-transparent text-black font-12 font-xxl-14 px-1" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Name & Email Addresses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link border-0 p-0 px-1 pb-2 bg-transparent text-black font-12 font-xxl-14" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Add Many At Once</a>
            </li>
          </ul>
          <div class="tab-content py-4" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <div class="row no-gutters">
                <div class="col-md-12 px-1 form-group chevron-select">
                  <%= select_tag 'single_regional_unit', options_for_select(managing_units.map { |region| [region.name, region.id] }), prompt: 'Select Region', multiple: false, class: 'form-control w-100 font-12 shadow-none h-auto py-3' %>
                </div>
              </div>
              <div id="user-invitation">
                <%= render 'organisation/journeys/partials/user_invitation', index: index %>
              </div>
              <div class="row mb-4 mt-2 no-gutters">
                <div class="col-md-12 text-left px-1">
                  <%= link_to 'javascript:void(0);', 'data-target': organisation_build_user_invitation_path, class: 'build-user-invitation d-flex align-items-center text-left text-black mt-4' do %>
                    <i class="fa fa-plus-circle font-16"></i>
                    <span class="ml-1 font-12">
                      Add another
                    </span>
                  <% end %>
                </div>
              </div>
              <div class="row no-gutters">
                <div class="col-md-12 px-1">
                  <%= text_area_tag 'users[single][message]', nil, class: 'form-control font-12', placeholder: 'Add a personalised invite message', cols: '30', rows: '4' %>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <div class="row no-gutters">
                <div class="col-md-9 mb-3 px-1">
                  <%= text_area_tag 'users[multiple][csv]', nil, class: 'form-control font-12', placeholder: 'Email Addresses (Seperate emails with a comma)', cols: '30', rows: '6' %>
                </div>
                <div class="col-md-3 px-1">
                  <div class="form-group chevron-select">
                    <%= select_tag 'users[multiple][role]', options_for_select(User.invitiable_users), multiple: false, class: 'form-control w-100 font-12 shadow-none py-3 h-auto mb-2' %>
                  </div>
                  <div class="form-group chevron-select">
                    <%= select_tag 'multiple_regional_unit', options_for_select(managing_units.map{ |region| [region.name, region.id] }), prompt: 'Select Region', multiple: false, class: 'form-control w-100 font-12 shadow-none py-3 h-auto mb-2' %>
                  </div>
                </div>
              </div>
              <div class="row no-gutters">
                <div class="col-md-12 px-1">
                  <%= text_area_tag 'users[multiple][message]', nil, class: 'form-control font-12', placeholder: 'Add a personalised invite message', cols: '30', rows: '4' %>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-md-12 text-left">
                <%= submit_tag 'Send Invitation', class: 'btn dark-btn border-0 py-2 font-12 font-600 px-4 wait-loader'%>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
