<!DOCTYPE html>
<html>
  <head>
    <title>Opres</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="page-content-wrapper">
      <%= render 'layouts/partials/admin/header' %>
      <div class="container-full">
        <div class="row">
          <div class="col-sm-3">
            <%= render 'layouts/partials/admin/sidebar' %>
          </div>
          <div class="col-sm-9">
            <div class="container mt-4">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
