<!DOCTYPE html>
<html>
  <head>
    <title>Opres</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='bg-light'>
    <div id="page-content-wrapper" class="h-100 overflow-hidden">
      <%= render 'layouts/partials/admin/header' %>
      <div class="container-full h-100">
        <div class="row h-100">
          <div class="col-sm-2 pr-0">
            <%= render 'layouts/partials/admin/sidebar' %>
          </div>
          <div class="col-sm-10 pl-0">
            <div class="container p-4">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
