<!DOCTYPE html>
<html>
  <head>
    <title>Opres</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <div style="float:left;height:100%;width:30%">

          <h4>Management Dashboard</h4>
        

          <h4>Administration</h4>

          <a href=/organisational_units>Organisational Units Index</a><br>
          <a href=/products>Product Index</a><br>
          <a href=/channels>Channel Index</a><br>
          <a href=/business_service_lines>Business Service Line Index</a><br>
          <a href=/#>Supplier Index</a><br>
          <a href=/#>System Index</a><br>
        
      </div>

    </div>
    <div>
    <%= yield %>
    </div>
  </body>
</html>
