<!DOCTYPE html>
<html>
  <head>
    <title>Opres</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <div style="float:left">
          <a href=/organisational_units>Organisational Units</a><br>
          <a href=/products>Products</a><br>
          <a href=/channels>Channels</a><br>
          <a href=/business_service_lines>Business Service Lines</a><br>
      </div>

    </div>
    <div>
    <%= yield %>
    </div>
  </body>
</html>
