<div id='cloud-service-provider' class="new-dashboard new-cloud-dashboard">
  <div class="row no-gutters">
    <div class="col-sm-12 px-1">
      <div class="d-flex justify-content-between align-items-center flex-wrap">
        <div class="left d-flex align-items-center flex-wrap">
          <div class="mr-4 back-btn mb-xs-2">
            <%= render 'layouts/partials/shared/redirect_back', path: organisation_dashboard_index_path %>
          </div>
          <h2 class="font-500 font-sm-18 font-25 text-capitalize">Cloud Service Provider Dashboard</h2>
        </div>
        <div class="right d-flex mt-3 mt-lg-0">
          <div class="white-btn d-flex align-items-center pl-2 px-3 rounded-50 mr-2 pr-2 mr-2 py-2 cursor-pointer">
            <span> <i class="fa fa-sliders"></i></span>
            <span class="text-capitalize font-12 font-xxl-14 ml-2 font-600">Customise View</span>
          </div>
          <div class="white-btn d-flex align-items-center pl-2 mr-2 rounded-50 px-3 pr-2 py-2 cursor-pointer">
            <span><i class='fa fa-save font-16 mr-2'></i></span>
            <span class="text-capitalize font-12 font-xxl-14 font-600">save view</span>
          </div>
          <div class="white-btn p-1 d-flex align-items-center rounded-50 cursor-pointer">
            <i class="fa fa-ellipsis-v px-2 mx-1"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="secondary-sidebar-icon d-none">
    <%= image_pack_tag 'media/images/dots.png' %>
    <!-- <i class='fa fa-ellipsis-v fa-1x font-18'></i> -->
  </div>
  <div class="row mt-5 no-gutters">
    <div class="col-sm-3 col-xxl-2 px-1">
      <aside class="fixed-secondary-sidebar position-static" id='sticky-sidebar-demo'>
        <i class="fa fa-times-circle fa-1x d-none font-20"></i>
        <ul class="p-0 list-unstyled inner-wrapper-sticky mb-0 mr-4">
          <li class="links active-white mb-2 mb-sm-3">
            <a href="#section1" class=" text-decoration-none text-capitalize font-13 font-xxl-14 d-block py-2">overview</a>
          </li>
          <li class="links mb-2 mb-sm-3">
            <a href="#section2" class=" text-decoration-none text-capitalize font-13 font-xxl-14 d-block py-2">Provider Breakdown</a>
          </li>
          <li class="links mb-2 mb-sm-3">
            <a href="#section3" class=" text-decoration-none text-capitalize font-13 font-xxl-14 d-block py-2">Provider Resilience Gaps</a>
          </li>
        </ul>
      </aside>
    </div>
    <div class="col-sm-9 col-xxl-10 px-1">
      <div class="w-100">
        <div class="content-area">
          <div id="section1">
            <div class="card border-0 shadow-sm rounded-50 mb-4">
              <div class="card-body px-0">
                <div class="box">
                  <div class="d-flex justify-content-between align-items-center mb-4 px-4">
                    <h5 class="text-capitalize text-left">Overview</h5>
                    <div class="text-right">
                      <a href="#" class="text-black">
                        <i class="fa fa-ellipsis-v text-right" aria-hidden="true"></i>
                      </a>
                    </div>
                  </div>
                  <div class="row custom-high-chart">
                    <div class="col-lg-6 col-md-12">
                      <div class="box">
                        <div id="chp-breakdown" class="order-1 mb-lg-0 mb-4 px-1 custom-high-chart lazy-graph" data-key="chp_breakdown" data-args="<%= {}.to_json %>" data-append-to="chp-breakdown" data-partial-name="v1_chp_breakdown" data-partial-name="v1_chp_breakdown">
                          <%= render 'organisation/graphs/partials/v1_chp_breakdown', data: {} %>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                      <div class="box">
                        <div id="consumption-chp" class="order-1 mb-lg-0 mb-4 px-1 custom-high-chart lazy-graph" data-key="consumption_chp" data-args="<%= {}.to_json %>" data-append-to="consumption-chp" data-partial-name="consumption_chp" data-partial-name="consumption_chp">
                            <%= render 'organisation/graphs/partials/consumption_chp', data: {} %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="section2">
            <div class="card border-0 shadow-sm rounded-50 mb-4">
              <div class="card-body px-0">
                <div class="box">
                  <div class="d-flex align-items-start align-items-md-center justify-content-between flex-column flex-md-row mb-4 px-4">
                    <h5 class="text-capitalize text-left font-16 mb-3 mb-md-0">Cloud Service Provider Dashboard</h5>
                    <div class="icon-btn text-right d-flex align-items-center flex-1 justify-content-md-end justify-content-between w-100">
                      <a href="#" class="btn btn-sm btn-dark px-3 py-2 d-flex align-items-center mr-2">
                        <i class="fa fa-expand mr-2"></i>
                        <span>Expand</span>
                      </a>
                      <a href="#" class="align-items-center text-dark">
                        <i class="fa fa-ellipsis-v text-right" aria-hidden="true"></i>
                      </a>
                    </div>
                  </div>
                  <div class="row directory">
                    <div class="col-lg-3 directory-box">
                      <ul class="first-level list-unstyled px-3">
                        <li>
                          <a href="#" class="w-100">
                            <%= image_pack_tag 'media/images/aws.png', class: 'img-fluid ml-2' %>
                            <span class="font-12 font-400 ml-1">AWS</span>
                          </a>
                          <ul class="second-level list-unstyled pl-4">
                            <li>
                              <a href="#" class="w-100">
                                <span class="font-12 font-400">Iaas</span>
                              </a>
                              <ul class="third-level list-unstyled pl-4">
                                <li>
                                  <a href="#">
                                    <span class="font-10 font-400">Component 1</span>
                                  </a>
                                </li>
                                <li>
                                  <a href="#">
                                    <span class="font-10 font-400">Component 1</span>
                                  </a>
                                </li>
                                <li>
                                  <a href="#">
                                    <span class="font-10 font-400">Component 1</span>
                                  </a>
                                </li>
                                <li>
                                  <a href="#">
                                    <span class="font-10 font-400">+ 14 more</span>
                                  </a>
                                </li>
                              </ul>
                            </li>
                            <li>
                              <a href="#" class="w-100">
                                <span class="font-12 font-400">Paas</span>
                              </a>
                              <ul class="third-level list-unstyled pl-4">
                                <li>
                                  <a href="#">
                                    <span class="font-10 font-400">Component 1</span>
                                  </a>
                                </li>
                                <li>
                                  <a href="#">
                                    <span class="font-10 font-400">Component 1</span>
                                  </a>
                                </li>
                                <li>
                                  <a href="#">
                                    <span class="font-10 font-400">Component 1</span>
                                  </a>
                                </li>
                                <li>
                                  <a href="#">
                                    <span class="font-10 font-400">+ 14 more</span>
                                  </a>
                                </li>
                              </ul>
                            </li>
                            <li>
                              <a href="#" class="w-100">
                                <span class="font-12 font-400">Saas</span>
                              </a>
                              <ul class="third-level list-unstyled pl-4">
                                <li>
                                  <a href="#">
                                    <span class="font-10 font-400">Component 1</span>
                                  </a>
                                </li>
                                <li>
                                  <a href="#">
                                    <span class="font-10 font-400">Component 1</span>
                                  </a>
                                </li>
                                <li>
                                  <a href="#">
                                    <span class="font-10 font-400">Component 1</span>
                                  </a>
                                </li>
                                <li>
                                  <a href="#">
                                    <span class="font-10 font-400">+ 14 more</span>
                                  </a>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                    <div class="col-lg-3 directory-box">
                      <ul class="first-level list-unstyled px-3">
                        <li>
                          <a href="#" class="w-100">
                            <%= image_pack_tag 'media/images/g-cloud.png', class: 'img-fluid ml-2' %>
                            <span class="font-12 font-400 ml-1">GCP</span>
                          </a>
                          <ul class="second-level list-unstyled pl-4">
                            <li>
                              <a href="#" class="w-100">
                                <span class="font-12 font-400">Iaas</span>
                              </a>
                              <ul class="third-level list-unstyled pl-4">
                                <li>
                                  <a href="#">
                                    <span class="font-10 font-400">Component 1</span>
                                  </a>
                                </li>
                                <li>
                                  <a href="#">
                                    <span class="font-10 font-400">Component 1</span>
                                  </a>
                                </li>
                                <li>
                                  <a href="#">
                                    <span class="font-10 font-400">Component 1</span>
                                  </a>
                                </li>
                                <li>
                                  <a href="#">
                                    <span class="font-10 font-400">+ 14 more</span>
                                  </a>
                                </li>
                              </ul>
                            </li>
                            <li>
                              <a href="#" class="w-100">
                                <span class="font-12 font-400">Paas</span>
                              </a>
                              <ul class="third-level list-unstyled pl-4">
                                <li>
                                  <a href="#">
                                    <span class="font-10 font-400">Component 1</span>
                                  </a>
                                </li>
                                <li>
                                  <a href="#">
                                    <span class="font-10 font-400">Component 1</span>
                                  </a>
                                </li>
                                <li>
                                  <a href="#">
                                    <span class="font-10 font-400">Component 1</span>
                                  </a>
                                </li>
                                <li>
                                  <a href="#">
                                    <span class="font-10 font-400">+ 14 more</span>
                                  </a>
                                </li>
                              </ul>
                            </li>
                            <li>
                              <a href="#" class="w-100">
                                <span class="font-12 font-400">Saas</span>
                              </a>
                              <ul class="third-level list-unstyled pl-4">
                                <li>
                                  <a href="#">
                                    <span class="font-10 font-400">Component 1</span>
                                  </a>
                                </li>
                                <li>
                                  <a href="#">
                                    <span class="font-10 font-400">Component 1</span>
                                  </a>
                                </li>
                                <li>
                                  <a href="#">
                                    <span class="font-10 font-400">Component 1</span>
                                  </a>
                                </li>
                                <li>
                                  <a href="#">
                                    <span class="font-10 font-400">+ 14 more</span>
                                  </a>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                    <div class="col-lg-3 directory-box">
                      <ul class="first-level list-unstyled px-3">
                        <li>
                          <a href="#" class="w-100">
                            <%= image_pack_tag 'media/images/azure.png', class: 'img-fluid ml-2' %>
                            <span class="font-12 font-400 ml-1">Azure</span>
                          </a>
                          <ul class="second-level list-unstyled pl-4">
                            <li>
                              <a href="#" class="w-100">
                                <span class="font-12 font-400">Iaas</span>
                              </a>
                              <ul class="third-level list-unstyled pl-4">
                                <li>
                                  <a href="#">
                                    <span class="font-10 font-400">Component 1</span>
                                  </a>
                                </li>
                                <li>
                                  <a href="#">
                                    <span class="font-10 font-400">Component 1</span>
                                  </a>
                                </li>
                                <li>
                                  <a href="#">
                                    <span class="font-10 font-400">Component 1</span>
                                  </a>
                                </li>
                                <li>
                                  <a href="#">
                                    <span class="font-10 font-400">+ 14 more</span>
                                  </a>
                                </li>
                              </ul>
                            </li>
                            <li>
                              <a href="#" class="w-100">
                                <span class="font-12 font-400">Paas</span>
                              </a>
                              <ul class="third-level list-unstyled pl-4">
                                <li>
                                  <a href="#">
                                    <span class="font-10 font-400">Component 1</span>
                                  </a>
                                </li>
                                <li>
                                  <a href="#">
                                    <span class="font-10 font-400">Component 1</span>
                                  </a>
                                </li>
                                <li>
                                  <a href="#">
                                    <span class="font-10 font-400">Component 1</span>
                                  </a>
                                </li>
                                <li>
                                  <a href="#">
                                    <span class="font-10 font-400">+ 14 more</span>
                                  </a>
                                </li>
                              </ul>
                            </li>
                            <li>
                              <a href="#" class="w-100">
                                <span class="font-12 font-400">Saas</span>
                              </a>
                              <ul class="third-level list-unstyled pl-4">
                                <li>
                                  <a href="#">
                                    <span class="font-10 font-400">Component 1</span>
                                  </a>
                                </li>
                                <li>
                                  <a href="#">
                                    <span class="font-10 font-400">Component 1</span>
                                  </a>
                                </li>
                                <li>
                                  <a href="#">
                                    <span class="font-10 font-400">Component 1</span>
                                  </a>
                                </li>
                                <li>
                                  <a href="#">
                                    <span class="font-10 font-400">+ 14 more</span>
                                  </a>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                    <div class="col-lg-3 directory-box">
                      <ul class="first-level list-unstyled px-3">
                        <li>
                          <a href="#" class="w-100">
                            <%= image_pack_tag 'media/images/black-cloud.png', class: 'img-fluid ml-2' %>
                            <span class="font-12 font-400 ml-1">Private Cloud</span>
                          </a>
                          <ul class="second-level list-unstyled pl-4">
                            <li>
                              <a href="#" class="w-100">
                                <span class="font-12 font-400">Iaas</span>
                              </a>
                              <ul class="third-level list-unstyled pl-4">
                                <li>
                                  <a href="#">
                                    <span class="font-10 font-400">Component 1</span>
                                  </a>
                                </li>
                                <li>
                                  <a href="#">
                                    <span class="font-10 font-400">Component 1</span>
                                  </a>
                                </li>
                                <li>
                                  <a href="#">
                                    <span class="font-10 font-400">Component 1</span>
                                  </a>
                                </li>
                                <li>
                                  <a href="#">
                                    <span class="font-10 font-400">+ 14 more</span>
                                  </a>
                                </li>
                              </ul>
                            </li>
                            <li>
                              <a href="#" class="w-100">
                                <span class="font-12 font-400">Paas</span>
                              </a>
                              <ul class="third-level list-unstyled pl-4">
                                <li>
                                  <a href="#">
                                    <span class="font-10 font-400">Component 1</span>
                                  </a>
                                </li>
                                <li>
                                  <a href="#">
                                    <span class="font-10 font-400">Component 1</span>
                                  </a>
                                </li>
                                <li>
                                  <a href="#">
                                    <span class="font-10 font-400">Component 1</span>
                                  </a>
                                </li>
                                <li>
                                  <a href="#" class="w-100">
                                    <span class="font-10 font-400">+ 14 more</span>
                                  </a>
                                </li>
                              </ul>
                            </li>
                            <li>
                              <a href="#">
                                <span class="font-12 font-400">Saas</span>
                              </a>
                              <ul class="third-level list-unstyled pl-4">
                                <li>
                                  <a href="#">
                                    <span class="font-10 font-400">Component 1</span>
                                  </a>
                                </li>
                                <li>
                                  <a href="#">
                                    <span class="font-10 font-400">Component 1</span>
                                  </a>
                                </li>
                                <li>
                                  <a href="#">
                                    <span class="font-10 font-400">Component 1</span>
                                  </a>
                                </li>
                                <li>
                                  <a href="#">
                                    <span class="font-10 font-400">+ 14 more</span>
                                  </a>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="section3">
            <div class="row mt-4 no-gutters">
              <div class="col-md-4 mb-4 mb-lg-0 px-1">
                <div class="card border-0 shadow-sm rounded-50 overflow-hidden">
                  <div class="card-body p-3">
                    <div class="box">
                      <div class="d-flex align-items-center px-1 mb-3">
                        <h5 class="card-heading text-capitalize text-center font-12 w-100">Resilience Gaps - Iaas Summary</h5>
                      </div>
                      <div class="px-1">
                        <div class="">
                          <div class="">
                            <div class="table-responsive mt-0 mt-lg-3">
                              <table class="table custom-table mb-0">
                                <thead>
                                  <tr>
                                    <th class="font-10 font-xxl-14 px-1 text-dark font-400 p-2"></th>
                                    <th class="font-10 font-xxl-14 px text-dark font-400 p-2">
                                      Low
                                      <div class="green-sm-cirle"></div>
                                    </th>
                                    <th class="font-10 font-xxl-14 px text-dark font-400 p-2">
                                      Medium
                                      <div class="yellow-sm-cirle"></div>
                                    </th>
                                    <th class="font-10 font-xxl-14 px text-dark font-400 p-2">
                                      High
                                      <div class="orange-sm-cirle"></div>
                                    </th>
                                    <th class="font-10 font-xxl-14 px text-dark font-400 p-2">
                                      V High
                                      <div class="red-sm-cirle"></div>
                                    </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td class="font-11 font-xxl-14 px-1 text-dark font-600 p-2">AWS</td>
                                    <td class="font-11 font-xxl-14 text-dark font-500 p-2">4</td>
                                    <td class="font-11 font-xxl-14 text-dark font-500 p-2">3</td>
                                    <td class="font-11 font-xxl-14 text-dark font-500 p-2">5</td>
                                    <td class="font-11 font-xxl-14 text-dark font-500 p-2">5</td>
                                  </tr>
                                  <tr>
                                    <td class="font-11 font-xxl-14 px-1 text-dark font-600 p-2">GCP</td>
                                    <td class="font-11 font-xxl-14 text-dark font-500 p-2">4</td>
                                    <td class="font-11 font-xxl-14 text-dark font-500 p-2">3</td>
                                    <td class="font-11 font-xxl-14 text-dark font-500 p-2">5</td>
                                    <td class="font-11 font-xxl-14 text-dark font-500 p-2">5</td>
                                  </tr>
                                  <tr>
                                    <td class="font-11 font-xxl-14 px-1 text-dark font-600 p-2">Azure</td>
                                    <td class="font-11 font-xxl-14 text-dark font-500 p-2">4</td>
                                    <td class="font-11 font-xxl-14 text-dark font-500 p-2">3</td>
                                    <td class="font-11 font-xxl-14 text-dark font-500 p-2">5</td>
                                    <td class="font-11 font-xxl-14 text-dark font-500 p-2">5</td>
                                  </tr>
                                  <tr>
                                    <td class="font-11 font-xxl-14 px-1 text-dark font-600 p-2">Private</td>
                                    <td class="font-11 font-xxl-14 text-dark font-500 p-2">4</td>
                                    <td class="font-11 font-xxl-14 text-dark font-500 p-2">3</td>
                                    <td class="font-11 font-xxl-14 text-dark font-500 p-2">5</td>
                                    <td class="font-11 font-xxl-14 text-dark font-500 p-2">5</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 mb-4 mb-lg-0 px-1">
                <div class="card border-0 shadow-sm rounded-50 overflow-hidden">
                  <div class="card-body p-3">
                    <div class="box">
                      <div class="d-flex align-items-center px-1 mb-3">
                        <h5 class="card-heading text-capitalize text-center font-12 w-100">Resilience Gaps - PaaS Summary</h5>
                      </div>
                      <div class="px-1">
                        <div class="">
                          <div class="">
                            <div class="table-responsive mt-0 mt-lg-3">
                              <table class="table custom-table mb-0">
                                <thead>
                                  <tr>
                                    <th class="font-10 font-xxl-14 px-1 text-dark font-400 p-2"></th>
                                    <th class="font-10 font-xxl-14 px text-dark font-400 p-2">
                                      Low
                                      <div class="green-sm-cirle"></div>
                                    </th>
                                    <th class="font-10 font-xxl-14 px text-dark font-400 p-2">
                                      Medium
                                      <div class="yellow-sm-cirle"></div>
                                    </th>
                                    <th class="font-10 font-xxl-14 px text-dark font-400 p-2">
                                      High
                                      <div class="orange-sm-cirle"></div>
                                    </th>
                                    <th class="font-10 font-xxl-14 px text-dark font-400 p-2">
                                      V High
                                      <div class="red-sm-cirle"></div>
                                    </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td class="font-11 font-xxl-14 px-1 text-dark font-600 p-2">AWS</td>
                                    <td class="font-11 font-xxl-14 text-dark font-500 p-2">4</td>
                                    <td class="font-11 font-xxl-14 text-dark font-500 p-2">3</td>
                                    <td class="font-11 font-xxl-14 text-dark font-500 p-2">5</td>
                                    <td class="font-11 font-xxl-14 text-dark font-500 p-2">5</td>
                                  </tr>
                                  <tr>
                                    <td class="font-11 font-xxl-14 px-1 text-dark font-600 p-2">GCP</td>
                                    <td class="font-11 font-xxl-14 text-dark font-500 p-2">4</td>
                                    <td class="font-11 font-xxl-14 text-dark font-500 p-2">3</td>
                                    <td class="font-11 font-xxl-14 text-dark font-500 p-2">5</td>
                                    <td class="font-11 font-xxl-14 text-dark font-500 p-2">5</td>
                                  </tr>
                                  <tr>
                                    <td class="font-11 font-xxl-14 px-1 text-dark font-600 p-2">Azure</td>
                                    <td class="font-11 font-xxl-14 text-dark font-500 p-2">4</td>
                                    <td class="font-11 font-xxl-14 text-dark font-500 p-2">3</td>
                                    <td class="font-11 font-xxl-14 text-dark font-500 p-2">5</td>
                                    <td class="font-11 font-xxl-14 text-dark font-500 p-2">5</td>
                                  </tr>
                                  <tr>
                                    <td class="font-11 font-xxl-14 px-1 text-dark font-600 p-2">Private</td>
                                    <td class="font-11 font-xxl-14 text-dark font-500 p-2">4</td>
                                    <td class="font-11 font-xxl-14 text-dark font-500 p-2">3</td>
                                    <td class="font-11 font-xxl-14 text-dark font-500 p-2">5</td>
                                    <td class="font-11 font-xxl-14 text-dark font-500 p-2">5</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 mb-4 mb-lg-0 px-1">
                <div class="card border-0 shadow-sm rounded-50 overflow-hidden">
                  <div class="card-body p-3">
                    <div class="box">
                      <div class="d-flex align-items-center px-1 mb-3">
                        <h5 class="card-heading text-capitalize text-center font-12 w-100">Resilience Gaps - SaaS Summary</h5>
                      </div>
                      <div class="px-1">
                        <div class="">
                          <div class="">
                            <div class="table-responsive mt-0 mt-lg-3">
                              <table class="table custom-table mb-0">
                                <thead>
                                  <tr>
                                    <th class="font-10 font-xxl-14 px-1 text-dark font-400 p-2"></th>
                                    <th class="font-10 font-xxl-14 px text-dark font-400 p-2">
                                      Low
                                      <div class="green-sm-cirle"></div>
                                    </th>
                                    <th class="font-10 font-xxl-14 px text-dark font-400 p-2">
                                      Medium
                                      <div class="yellow-sm-cirle"></div>
                                    </th>
                                    <th class="font-10 font-xxl-14 px text-dark font-400 p-2">
                                      High
                                      <div class="orange-sm-cirle"></div>
                                    </th>
                                    <th class="font-10 font-xxl-14 px text-dark font-400 p-2">
                                      V High
                                      <div class="red-sm-cirle"></div>
                                    </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td class="font-11 font-xxl-14 px-1 text-dark font-600 p-2">AWS</td>
                                    <td class="font-11 font-xxl-14 text-dark font-500 p-2">4</td>
                                    <td class="font-11 font-xxl-14 text-dark font-500 p-2">3</td>
                                    <td class="font-11 font-xxl-14 text-dark font-500 p-2">5</td>
                                    <td class="font-11 font-xxl-14 text-dark font-500 p-2">5</td>
                                  </tr>
                                  <tr>
                                    <td class="font-11 font-xxl-14 px-1 text-dark font-600 p-2">GCP</td>
                                    <td class="font-11 font-xxl-14 text-dark font-500 p-2">4</td>
                                    <td class="font-11 font-xxl-14 text-dark font-500 p-2">3</td>
                                    <td class="font-11 font-xxl-14 text-dark font-500 p-2">5</td>
                                    <td class="font-11 font-xxl-14 text-dark font-500 p-2">5</td>
                                  </tr>
                                  <tr>
                                    <td class="font-11 font-xxl-14 px-1 text-dark font-600 p-2">Azure</td>
                                    <td class="font-11 font-xxl-14 text-dark font-500 p-2">4</td>
                                    <td class="font-11 font-xxl-14 text-dark font-500 p-2">3</td>
                                    <td class="font-11 font-xxl-14 text-dark font-500 p-2">5</td>
                                    <td class="font-11 font-xxl-14 text-dark font-500 p-2">5</td>
                                  </tr>
                                  <tr>
                                    <td class="font-11 font-xxl-14 px-1 text-dark font-600 p-2">Private</td>
                                    <td class="font-11 font-xxl-14 text-dark font-500 p-2">4</td>
                                    <td class="font-11 font-xxl-14 text-dark font-500 p-2">3</td>
                                    <td class="font-11 font-xxl-14 text-dark font-500 p-2">5</td>
                                    <td class="font-11 font-xxl-14 text-dark font-500 p-2">5</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
