<div id="cirtical-important-system">
  <div class="row no-gutters">
    <div class="col-sm-12 px-1">
      <div class="d-flex justify-content-between align-items-center flex-wrap">
        <div class="left d-flex align-items-center flex-wrap">
          <div class="mr-4 back-btn mb-2 mb-sm-0 ">
            <%= render 'layouts/partials/shared/redirect_back', path: organisation_dashboard_index_path %>
          </div>
          <h2 class="font-600 font-sm-18 font-25 text-capitalize">total number of critical & important suppliers</h2>
        </div>
        <div class="right d-flex mt-3 mt-lg-0">
          <div class="white-btn d-flex align-items-center pl-2 mr-2 rounded-50 px-3 pr-2 py-2 cursor-pointer">
            <span><i class='fa fa-save font-16 mr-2'></i></span>
            <span class="text-capitalize font-12 font-xxl-14 font-600">save view</span>
          </div>
          <div class="white-btn p-1 d-flex align-items-center rounded-50 cursor-pointer">
            <i class="fa fa-ellipsis-v px-2 mx-1"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="secondary-sidebar-icon d-none">
    <%= image_pack_tag 'media/images/dots.png' %>
  </div>
  <div class="row mt-5 no-gutters">
    <div class="col-sm-3 col-xxl-2 px-1">
      <aside class="fixed-secondary-sidebar position-static" id='sticky-sidebar-demo'>
        <i class="fa fa-times-circle fa-1x d-none font-20"></i>
        <ul class="p-0 list-unstyled inner-wrapper-sticky">
          <li class="links active-white mb-2 mb-sm-3">
            <a href="#section1" class=" text-decoration-none text-capitalize font-13 font-xxl-14 d-block py-2">overview</a>
          </li>
          <li class="links mb-2 mb-sm-3">
            <a href="#section2" class=" text-decoration-none text-capitalize font-13 font-xxl-14 d-block py-2">public cloud critical system/supplier breakdown</a>
          </li>
          <li class="links mb-2 mb-sm-3">
            <a href="#section3" class=" text-decoration-none text-capitalize font-13 font-xxl-14 d-block py-2">private cloud critical system/supplier breakdown</a>
          </li>
          <li class="links mb-2 mb-sm-3">
            <a href="#section4" class=" text-decoration-none text-capitalize font-13 font-xxl-14 d-block py-2">top 10 conformant suppliers</a>
          </li>
          <li class="links mb-2 mb-sm-3">
            <a href="#section5" class=" text-decoration-none text-capitalize font-13 font-xxl-14 d-block py-2">top non-conformant suppliers</a>
          </li>
        </ul>
      </aside>
    </div>
    <div class="col-sm-9 col-xxl-10 px-1">
      <section id="section1" class="section mb-4">
        <div class="card border-0 shadow-sm rounded-50 mb-3">
          <div class="card-body">
            <div class="d-flex align-items-center px-1">
              <i class="fa fa-sliders"></i>
              <h5 class="font-600 text-capitalize ml-2">segmentation options</h5>
            </div>
            <div class="row no-gutters mt-3">
              <%= render 'organisation/dashboard_break_downs/partials/segmentation_options', data: { suppliers: @suppliers } %>
            </div>
          </div>
        </div>

        <div class="card border-0 rounded-50 shadow-sm">
          <div id="cais-overview" class="custom-high-chart custom-high-chart mb-4 lazy-graph" data-key="cais_overview" data-args="<%= {}.to_json %>" data-append-to="cais-overview" data-partial-name="cais_overview">
            <%= render 'organisation/graphs/partials/cais_overview.html.erb', data: {} %>
          </div>
        </div>

      </section>

      <section id="section2" class="section mb-4">
        <%= render 'organisation/dashboard_break_downs/partials/public_cloud_cais.html.erb', data: { suppliers: @suppliers } %>
      </section>

      <section id="section3" class="section mb-4">
        <%= render 'organisation/dashboard_break_downs/partials/private_cloud_cais.html.erb', data: { suppliers: @private_suppliers } %>
      </section>
      <%= render 'organisation/dashboard_break_downs/partials/top_conformant_suppliers', conformant_suppliers: @conformant_suppliers %>
      <%= render 'organisation/dashboard_break_downs/partials/top_non_conformant_suppliers', non_conformant_suppliers: @non_conformant_suppliers %>
    </div>
  </div>
</div>

<!-- Modal -->
