<div id="cirtical-important-system">
  <div class="row no-gutters">
    <div class="col-sm-12 px-1">
      <div class="d-flex justify-content-between align-items-center flex-wrap">
        <div class="left d-flex align-items-center flex-wrap">
          <div class="mr-4 back-btn mb-2 mb-sm-0 ">
            <%= render 'layouts/partials/shared/redirect_back', path: organisation_dashboard_index_path %>
          </div>
          <h2 class="font-600 font-sm-18 font-25 text-capitalize">total number of critical & important suppliers</h2>
        </div>
        <div class="right d-flex mt-3 mt-lg-0">
          <div class="white-btn d-flex align-items-center pl-2 mr-2 rounded-50 px-3 pr-2 py-2 cursor-pointer">
            <span><i class='fa fa-save font-16 mr-2'></i></span>
            <span class="text-capitalize font-12 font-xxl-14 font-600">save view</span>
          </div>
          <div class="white-btn p-1 d-flex align-items-center rounded-50 cursor-pointer">
            <i class="fa fa-ellipsis-v px-2 mx-1"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="secondary-sidebar-icon d-none">
    <%= image_pack_tag 'media/images/dots.png' %>
  </div>
  <div class="row mt-5 no-gutters">
    <div class="col-sm-3 col-xxl-2 px-1">
      <aside class="fixed-secondary-sidebar position-static" id='sticky-sidebar-demo'>
        <i class="fa fa-times-circle fa-1x d-none font-20"></i>
        <ul class="p-0 list-unstyled inner-wrapper-sticky">
          <li class="links active-white mb-2 mb-sm-3">
            <a href="#section1" class=" text-decoration-none text-capitalize font-13 font-xxl-14 d-block py-2">overview</a>
          </li>
          <li class="links mb-2 mb-sm-3">
            <a href="#section2" class=" text-decoration-none text-capitalize font-13 font-xxl-14 d-block py-2">public cloud critical system/supplier breakdown</a>
          </li>
          <li class="links mb-2 mb-sm-3">
            <a href="#section3" class=" text-decoration-none text-capitalize font-13 font-xxl-14 d-block py-2">private cloud critical system/supplier breakdown</a>
          </li>
          <li class="links mb-2 mb-sm-3">
            <a href="#section4" class=" text-decoration-none text-capitalize font-13 font-xxl-14 d-block py-2">top 10 conformant suppliers</a>
          </li>
          <li class="links mb-2 mb-sm-3">
            <a href="#section5" class=" text-decoration-none text-capitalize font-13 font-xxl-14 d-block py-2">top non-conformant suppliers</a>
          </li>
        </ul>
      </aside>
    </div>
    <div class="col-sm-9 col-xxl-10 px-1">
      <section id="section1" class="section mb-4">
        <div class="card border-0 shadow-sm rounded-50 mb-3">
          <div class="card-body">
            <div class="d-flex align-items-center px-1">
              <i class="fa fa-sliders"></i>
              <h5 class="font-600 text-capitalize ml-2">segmentation options</h5>
            </div>
            <div class="row no-gutters mt-3">
              <div class="col-lg px-1 col-md-4 col-sm-6">
                <div class="dropdown custom-dropdown">
                  <button class="border-0 p-3 bg-body-color dropdown-toggle w-100 shadow-none mb-3 rounded" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="d-flex flex-column align-items-start">
                      <h6 class="text-capitalize font-12 font-xxl-14 mb-1">
                        <span class="font-600 text-capitalize">supplier type</span>
                      </h6>
                      <span class="text-capitalize font-12 font-xxl-14 text-light-grey">View all</span>
                    </span>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <div class="form-group dropdown-item pl-3 m-0">
                      <label for="ch39" class="custom-checkbox d-flex m-0">
                        <span class="font-12 text-black text-capitalize">View All</span>
                        <input type="checkbox" class="form-control" id="ch39">
                        <span class="transparent-checkmark"></span>
                      </label>                        
                    </div>
                    <div class="form-group dropdown-item pl-3 m-0">
                      <label for="ch69" class="custom-checkbox d-flex m-0">
                        <span class="font-12 text-black text-capitalize">AMERS</span>
                        <input type="checkbox" class="form-control" id="ch69">
                        <span class="transparent-checkmark"></span>
                      </label>                        
                    </div>
                    <div class="form-group dropdown-item pl-3 m-0">
                      <label for="ch59" class="custom-checkbox d-flex m-0">
                        <span class="font-12 text-black text-capitalize">APAC</span>
                        <input type="checkbox" class="form-control" id="ch59">
                        <span class="transparent-checkmark"></span>
                      </label>                        
                    </div>
                    <div class="form-group dropdown-item pl-3 m-0">
                      <label for="ch79" class="custom-checkbox d-flex m-0">
                        <span class="font-12 text-black text-capitalize">EMEA</span>
                        <input type="checkbox" class="form-control" id="ch79">
                        <span class="transparent-checkmark"></span>
                      </label>                        
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg px-1 col-md-4 col-sm-6">
                <div class="dropdown custom-dropdown">
                  <button class="border-0 rounded mb-3 bg-body-color p-3 dropdown-toggle w-100 shadow-none" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="d-flex flex-column align-items-start">
                      <h6 class="text-capitalize font-12 font-xxl-14 mb-1">
                        <span class="font-600 text-capitalize">Regions</span>
                      </h6>
                      <span class="text-capitalize font-12 font-xxl-14 text-light-grey">View all</span>
                    </span>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <div class="form-group dropdown-item pl-3 m-0 mb-2">
                      <label for="ch319" class="custom-checkbox d-flex m-0">
                        <span class="font-12 text-black text-capitalize">View All</span>
                        <input type="checkbox" class="form-control" id="ch319">
                        <span class="transparent-checkmark"></span>
                      </label>                        
                    </div>
                    <div class="form-group dropdown-item pl-3 m-0 mb-2">
                      <label for="ch619" class="custom-checkbox d-flex m-0">
                        <span class="font-12 text-black text-capitalize">Sub Saharan Africa
                          <span class="text-light-grey">- 3 countries</span>
                        </span>
                        <input type="checkbox" class="form-control" id="ch619">
                        <span class="transparent-checkmark"></span>
                      </label>                        
                    </div>
                    <div class="form-group dropdown-item pl-3 m-0 mb-2">
                      <label for="ch519" class="custom-checkbox d-flex m-0">
                        <span class="font-12 text-black text-capitalize">
                          eastern europe
                          <span class="text-light-grey">- 3 countries</span>
                        </span>
                        <input type="checkbox" class="form-control" id="ch519">
                        <span class="transparent-checkmark"></span>
                      </label>                        
                    </div>
                    <div class="form-group dropdown-item pl-3 m-0 mb-2">
                      <label for="ch719" class="custom-checkbox d-flex m-0">
                        <span class="font-12 text-black text-capitalize">
                          northern europe
                          <span class="text-light-grey">- 3 countries</span>
                        </span>
                        <input type="checkbox" class="form-control" id="ch719">
                        <span class="transparent-checkmark"></span>
                      </label>                        
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg px-1 col-md-4 col-sm-6">
                <div class="dropdown custom-dropdown">
                  <button class="border-0 rounded mb-3 p-3 bg-body-color dropdown-toggle w-100 shadow-none" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="d-flex flex-column align-items-start">
                      <h6 class="text-capitalize font-12 font-xxl-14 mb-1">
                        <span class="font-600 text-capitalize">countries</span>
                      </h6>
                      <span class="text-capitalize font-12 font-xxl-14 text-light-grey">View all</span>
                    </span>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <div class="form-group dropdown-item pl-3 m-0">
                      <label for="ch39" class="custom-checkbox d-flex m-0">
                        <span class="font-12 text-black text-capitalize">View All</span>
                        <input type="checkbox" class="form-control" id="ch39">
                        <span class="transparent-checkmark"></span>
                      </label>                        
                    </div>
                    <div class="form-group dropdown-item pl-3 m-0">
                      <label for="ch69" class="custom-checkbox d-flex m-0">
                        <span class="font-12 text-black text-capitalize">
                        <i class="flag belgium"></i>
                        belgium</span>
                        <input type="checkbox" class="form-control" id="ch69">
                        <span class="transparent-checkmark"></span>
                      </label>                        
                    </div>
                    <div class="form-group dropdown-item pl-3 m-0">
                      <label for="ch59" class="custom-checkbox d-flex m-0">
                        <span class="font-12 text-black text-capitalize">
                        <i class="flag france"></i>
                        france</span>
                        <input type="checkbox" class="form-control" id="ch59">
                        <span class="transparent-checkmark"></span>
                      </label>                        
                    </div>
                    <div class="form-group dropdown-item pl-3 m-0">
                      <label for="ch79" class="custom-checkbox d-flex m-0">
                        <span class="font-12 text-black text-capitalize">
                        <i class="flag germany"></i>
                        germany</span>
                        <input type="checkbox" class="form-control" id="ch79">
                        <span class="transparent-checkmark"></span>
                      </label>                        
                    </div>
                    <div class="form-group dropdown-item pl-3 m-0">
                      <label for="ch79" class="custom-checkbox d-flex m-0">
                        <span class="font-12 text-black text-capitalize">
                        <i class="flag spain"></i>
                        spain</span>
                        <input type="checkbox" class="form-control" id="ch79">
                        <span class="transparent-checkmark"></span>
                      </label>                        
                    </div>
                    <div class="form-group dropdown-item pl-3 m-0">
                      <label for="ch79" class="custom-checkbox d-flex m-0">
                        <span class="font-12 text-black text-capitalize">
                        <i class="flag uk"></i>
                        UK</span>
                        <input type="checkbox" class="form-control" id="ch79">
                        <span class="transparent-checkmark"></span>
                      </label>                        
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg px-1 col-md-4 col-sm-6">
                <div class="dropdown custom-dropdown">
                  <button class="border-0 rounded mb-3 p-3 bg-body-color dropdown-toggle w-100 shadow-none" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="d-flex flex-column align-items-start">
                      <h6 class="text-capitalize font-12 font-xxl-14 mb-1">
                        <span class="font-600 text-capitalize">firms</span>
                      </h6>
                      <span class="text-capitalize font-12 font-xxl-14 text-light-grey">View all</span>
                    </span>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <div class="form-group dropdown-item pl-3 m-0">
                      <label for="ch39" class="custom-checkbox d-flex m-0">
                        <span class="font-12 text-black text-capitalize">View All</span>
                        <input type="checkbox" class="form-control" id="ch39">
                        <span class="transparent-checkmark"></span>
                      </label>                        
                    </div>
                    <div class="form-group dropdown-item pl-3 m-0">
                      <label for="ch69" class="custom-checkbox d-flex m-0">
                        <span class="font-12 text-black text-capitalize">
                        <i class="flag belgium"></i>
                        belgium</span>
                        <input type="checkbox" class="form-control" id="ch69">
                        <span class="transparent-checkmark"></span>
                      </label>                        
                    </div>
                    <div class="form-group dropdown-item pl-3 m-0">
                      <label for="ch59" class="custom-checkbox d-flex m-0">
                        <span class="font-12 text-black text-capitalize">
                        <i class="flag france"></i>
                        france</span>
                        <input type="checkbox" class="form-control" id="ch59">
                        <span class="transparent-checkmark"></span>
                      </label>                        
                    </div>
                    <div class="form-group dropdown-item pl-3 m-0">
                      <label for="ch79" class="custom-checkbox d-flex m-0">
                        <span class="font-12 text-black text-capitalize">
                        <i class="flag germany"></i>
                        germany</span>
                        <input type="checkbox" class="form-control" id="ch79">
                        <span class="transparent-checkmark"></span>
                      </label>                        
                    </div>
                    <div class="form-group dropdown-item pl-3 m-0">
                      <label for="ch79" class="custom-checkbox d-flex m-0">
                        <span class="font-12 text-black text-capitalize">
                        <i class="flag spain"></i>
                        spain</span>
                        <input type="checkbox" class="form-control" id="ch79">
                        <span class="transparent-checkmark"></span>
                      </label>                        
                    </div>
                    <div class="form-group dropdown-item pl-3 m-0">
                      <label for="ch79" class="custom-checkbox d-flex m-0">
                        <span class="font-12 text-black text-capitalize">
                        <i class="flag uk"></i>
                        UK</span>
                        <input type="checkbox" class="form-control" id="ch79">
                        <span class="transparent-checkmark"></span>
                      </label>                        
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg px-1 col-md-4 col-sm-6">
                <div class="dropdown custom-dropdown">
                  <button class="border-0 rounded mb-3 p-3 bg-body-color dropdown-toggle w-100 shadow-none" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="d-flex flex-column align-items-start">
                      <h6 class="text-capitalize font-12 font-xxl-14 mb-1">
                        <span class="font-600 text-capitalize">products</span>
                      </h6>
                      <span class="text-capitalize font-12 font-xxl-14 text-light-grey">View all</span>
                    </span>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <div class="form-group dropdown-item pl-3 m-0">
                      <label for="ch39" class="custom-checkbox d-flex m-0">
                        <span class="font-12 text-black text-capitalize">View All</span>
                        <input type="checkbox" class="form-control" id="ch39">
                        <span class="transparent-checkmark"></span>
                      </label>                        
                    </div>
                    <div class="form-group dropdown-item pl-3 m-0">
                      <label for="ch69" class="custom-checkbox d-flex m-0">
                        <span class="font-12 text-black text-capitalize">AMERS</span>
                        <input type="checkbox" class="form-control" id="ch69">
                        <span class="transparent-checkmark"></span>
                      </label>                        
                    </div>
                    <div class="form-group dropdown-item pl-3 m-0">
                      <label for="ch59" class="custom-checkbox d-flex m-0">
                        <span class="font-12 text-black text-capitalize">APAC</span>
                        <input type="checkbox" class="form-control" id="ch59">
                        <span class="transparent-checkmark"></span>
                      </label>                        
                    </div>
                    <div class="form-group dropdown-item pl-3 m-0">
                      <label for="ch79" class="custom-checkbox d-flex m-0">
                        <span class="font-12 text-black text-capitalize">EMEA</span>
                        <input type="checkbox" class="form-control" id="ch79">
                        <span class="transparent-checkmark"></span>
                      </label>                        
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card border-0 rounded-50">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between">
              <h5 class="font-600 text-capitalize text-capitalize">overview</h5>
              <i class="fa fa-ellipsis-v"></i>
            </div>
            <div class="d-flex bg-body-color px-2 py-3 justify-content-between align-items-center my-4">
              <p class="text-capitalize font-700 font-13 font-xxl-14">total number of critical system/suppliers</p>
              <p class="text-capitalize font-700 font-13 font-xxl-14">32</p>
            </div>
            <div class="row custom-high-chart">
              <div class="col-lg-6 col-md-12">
                <div class="box">
                  <div class="d-flex flex-wrap flex-column flex-sm-row justify-content-between align-items-start align-items-sm-center">
                    <p class="px-2 font-16 text-capitalize font-600 chart-header-title flex-1 mb-3 mb-sm-0">critical supplier by hosting modal</p>
                    <div class="filter-grouped d-flex mr-2">
                      <div class="dropdown body-color-dropdown w-auto mr-2">
                        <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class='dropdown-toggle text-capitalize py-2 pr-5 pl-2 d-flex align-items-center justify-content-start font-12 text-dark font-400 text-decoration-none' id='top-10'>high to low</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item">Action</a>
                          <a class="dropdown-item">Filter top 10</a>
                          <a class="dropdown-item">Filter top 10</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="border-0 pie-high-chart overflow-hidden rounded-50 d-flex justify-content-center align-items-center flex-md-nowrap flex-wrap">
                    <div class="card-header h-auto p-2 bg-white text-center border-0">
                      <div class="donut-content w-150px">
                        <div id="forteen-donut-sm" class="donut"></div>
                        <div class="donut-value font-30 font-700">50</div>
                      </div>
                    </div>
                    <div class="card-body p-3 pm-md-2">
                      <div class="color-tier d-flex align-items-center mb-2 mb-xxl-3">
                        <div class="d-flex align-items-center">
                          <div class="circle green-4"></div>
                          <div class="w-25px w-xxl-40px ml-3 ml-xxl-4">
                            <%= image_pack_tag 'media/images/aws.png', class: 'img-fluid' %>
                          </div>
                        </div>
                        <div class="d-flex flex-1 align-items-center ml-3 ml-xxl-4">
                          <span class="font-12 font-xxl-14 flex-1 font-400">AWS</span>
                          <span class="font-12 font-xxl-14 font-700">24</span>
                        </div>
                      </div>
                      <div class="color-tier d-flex align-items-center mb-2 mb-xxl-3">
                        <div class="d-flex align-items-center">
                          <div class="circle green-4"></div>
                          <div class="w-25px w-xxl-40px ml-3 ml-xxl-4">
                            <%= image_pack_tag 'media/images/g-cloud.png', class: 'img-fluid' %>
                          </div>
                        </div>
                        <div class="d-flex flex-1 align-items-center ml-3 ml-xxl-4">
                          <span class="font-12 font-xxl-14 flex-1 font-400">GCP</span>
                          <span class="font-12 font-xxl-14 font-700">24</span>
                        </div>
                      </div>
                      <div class="color-tier d-flex align-items-center mb-2 mb-xxl-3">
                        <div class="d-flex align-items-center">
                          <div class="circle green-4"></div>
                          <div class="w-25px w-xxl-40px ml-3 ml-xxl-4">
                            <%= image_pack_tag 'media/images/azure.png', class: 'img-fluid' %>
                          </div>
                        </div>
                        <div class="d-flex flex-1 align-items-center ml-3 ml-xxl-4">
                          <span class="font-12 font-xxl-14 flex-1 font-400">Azure</span>
                          <span class="font-12 font-xxl-14 font-700">24</span>
                        </div>
                      </div>
                      <div class="color-tier d-flex align-items-center mb-2 mb-xxl-3">
                        <div class="d-flex align-items-center">
                          <div class="circle green-4"></div>
                          <div class="w-25px w-xxl-40px ml-3 ml-xxl-4">
                            <%= image_pack_tag 'media/images/g-cloud.png', class: 'img-fluid' %>
                          </div>
                        </div>
                        <div class="d-flex flex-1 align-items-center ml-3 ml-xxl-4">
                          <span class="font-12 font-xxl-14 flex-1 font-400">Private Cloud</span>
                          <span class="font-12 font-xxl-14 font-700">24</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="box">
                  <div class="d-flex flex-wrap flex-column flex-sm-row justify-content-between align-items-start align-items-sm-center">
                    <p class="px-2 font-16 text-capitalize font-600 chart-header-title flex-1 mb-3 mb-sm-0">critical/important systems by consumption modal</p>
                    <div class="filter-grouped d-flex mr-2">
                      <div class="dropdown body-color-dropdown w-auto mr-2">
                        <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class='dropdown-toggle text-capitalize py-2 pr-5 pl-2 d-flex align-items-center justify-content-start font-12 text-dark font-400 text-decoration-none' id='top-10'>high to low</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item">Action</a>
                          <a class="dropdown-item">Filter top 10</a>
                          <a class="dropdown-item">Filter top 10</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="border-0 pie-high-chart overflow-hidden rounded-50 d-flex justify-content-center align-items-center flex-md-nowrap flex-wrap">
                    <div class="card-header h-auto p-2 bg-white text-center border-0">
                      <div class="donut-content w-150px">
                        <div id="thirteen-donut-sm" class="donut"></div>
                        <div class="donut-value font-30 font-700">50</div>
                      </div>
                    </div>
                    <div class="card-body p-3 p-md-2">
                      <div class="tiers d-flex justify-content-between align-items-center mb-3">
                        <div class="color-tier d-flex align-items-center">
                          <div class="circle green-1"></div>
                          <span class="font-12 font-xxl-14 font-400 ml-2">Lass</span>
                        </div>
                        <span class="font-12 font-xxl-14 font-700">24</span>
                      </div>
                      <div class="tiers d-flex justify-content-between align-items-center mb-3">
                        <div class="color-tier d-flex align-items-center">
                          <div class="circle green-2"></div>
                          <span class="font-12 font-xxl-14 font-400 ml-2">Saas</span>
                        </div>
                        <span class="font-12 font-xxl-14 font-700">24</span>
                      </div>
                      <div class="tiers d-flex justify-content-between align-items-center mb-3">
                        <div class="color-tier d-flex align-items-center">
                          <div class="circle green-3"></div>
                          <span class="font-12 font-xxl-14 font-400 ml-2">Paas</span>
                        </div>
                        <span class="font-12 font-xxl-14 font-700">24</span>
                      </div>
                      <div class="tiers d-flex justify-content-between align-items-center">
                        <div class="color-tier d-flex align-items-center">
                          <div class="circle green-4"></div>
                          <span class="font-12 font-xxl-14 font-400 ml-2">Private Cloud</span>
                        </div>
                        <span class="font-12 font-xxl-14 font-700">24</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="section2" class="section mb-4">
        <div class="card border-0 rounded-50">
          <div class="card-body">
            <div class="d-flex align-items-start align-items-sm-center justify-content-between flex-wrap flex-sm-row flex-column">
              <h5 class="font-600 text-capitalize text-capitalize flex-1 mb-3 mr-4">Public cloud critical system/supplier breakdown</h5>
              <div class="filter-grouped d-flex mr-2 mb-3 align-items-center justify-content-between">
                <div class="dropdown body-color-dropdown mr-2">
                  <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class='dropdown-toggle text-capitalize py-2 pr-5 pl-2 d-flex align-items-center justify-content-start font-12 text-dark font-400 text-decoration-none' id='top-10'>view top 10</a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item">Action</a>
                    <a class="dropdown-item">Filter top 10</a>
                    <a class="dropdown-item">Filter top 10</a>
                  </div>
                </div>
                <i class="fa fa-ellipsis-v"></i>
              </div>
            </div>
            <ul class="nav nav-tabs border-0 active-green my-4">
              <li class="nav-item mr-3">
                <a href="#home" class="nav-link active text-capitalize font-12 font-xxl-14 border-0 p-0 pb-2 text-light-grey font-500" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">IaaS</a>
              </li>
              <li class="nav-item mr-3">
                <a href="#profile" class="nav-link text-capitalize font-12 font-xxl-14 border-0 p-0 pb-2 text-light-grey font-500" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">SaaS</a>
              </li>
              <li class="nav-item mr-3">
                <a href="#contact" class="nav-link text-capitalize font-12 font-xxl-14 border-0 p-0 pb-2 text-light-grey font-500" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">PaaS</a>
              </li>
            </ul>
            <div class="form-group">
              <div class="my-4">
                <label for="" class="text-light-grey font-12 font-xxl-14 font-500">The following business services contain critical steps and are consuming IaaS/SaaS/PaaS technology components in the public cloud.</label>
                <span class="search-field d-block">
                  <i class="fa fa-search"></i>
                  <input type="text" class="bg-body-color form-control font-12 border-0 shadow-none" placeholder="Cloud System/Supplier" id="country-search-filter">
                </span>
              </div>
            </div>
            <div class="tab-content">
              <div class="tab-pane fade active show" id='home'>
                <div class="table-responsive">
                  <table class="table bg-white">
                    <thead>
                      <tr class="border-top-0">
                        <th class="text-capitalize font-12 text-light-grey border-0">
                          supplier name
                        </th>
                        <th class="text-capitalize font-12 text-light-grey border-0">
                          party type
                        </th>
                        <th class="text-capitalize font-12 text-light-grey border-0">
                          hosting provider
                        </th>
                        <th class="text-capitalize font-12 text-light-grey border-0">
                          total business service
                        </th>
                        <th class="text-capitalize font-12 text-light-grey border-0">
                          total critical steps
                        </th>
                        <th class="border-0"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4"> supplier ABC
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          3rd party
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          <div class="d-flex align-items-center">
                            <div class="w-25px w-xxl-40px">
                              <%= image_pack_tag 'media/images/aws.png', class: 'img-fluid' %>
                            </div>
                            <span class="ml-1">AWS</span>
                          </div>
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          14
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          19
                        </td>
                        <td class="text-capitalize font-12 text-primary font-xxl-14 font-500 py-4" type="button" class="btn white-btn text-capitalize" data-toggle="modal" data-target="#exampleModal">
                          Breakdown
                        </td>
                      </tr>
                      <tr>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4"> supplier ABC
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          3rd party
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          <div class="d-flex align-items-center">
                            <div class="w-25px w-xxl-40px">
                              <%= image_pack_tag 'media/images/azure.png', class: 'img-fluid' %>
                            </div>
                            <p class="ml-1">Azure</p>
                          </div>
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          14
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          19
                        </td>
                        <td class="text-capitalize font-12 text-primary font-xxl-14 font-500 py-4" type="button" class="btn white-btn text-capitalize" data-toggle="modal" data-target="#exampleModal">
                          Breakdown
                        </td>
                      </tr>
                      <tr>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4"> supplier ABC
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          3rd party
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          <div class="d-flex align-items-center">
                            <div class="w-25px w-xxl-40px">
                              <%= image_pack_tag 'media/images/g-cloud.png', class: 'img-fluid' %>
                            </div>
                            <p class="ml-1">AWS</p>
                          </div>
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          14
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          19
                        </td>
                        <td class="text-capitalize font-12 text-primary font-xxl-14 font-500 py-4" type="button" class="btn white-btn text-capitalize" data-toggle="modal" data-target="#exampleModal">
                          Breakdown
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <nav aria-label="Page navigation example">
                  <ul class="pagination pagination-active justify-content-center mb-0">
                    <li class="page-item active"><a class="rounded-0 font-12 font-xxl-14 page-link border-0 text-light-grey shadow-none transition" href="javascript:void(0);">1</a></li>
                    <li class="page-item"><a class="rounded-0 font-12 font-xxl-14 page-link border-0 text-light-grey shadow-none transition" href="javascript:void(0);">2</a></li>
                    <li class="page-item"><a class="rounded-0 font-12 font-xxl-14 page-link border-0 text-light-grey shadow-none transition" href="javascript:void(0);">3</a></li>
                    <li class="page-item"><a class="rounded-0 font-12 font-xxl-14 page-link border-0 text-light-grey shadow-none transition" href="javascript:void(0);">4</a></li>
                  </ul>
                </nav>
              </div>
              <div class="tab-pane fade" id='profile'>
                <div class="table-responsive">
                  <table class="table bg-white">
                    <thead>
                      <tr class="border-top-0">
                        <th class="text-capitalize font-12 text-light-grey border-0">
                          supplier name
                        </th>
                        <th class="text-capitalize font-12 text-light-grey border-0">
                          party type
                        </th>
                        <th class="text-capitalize font-12 text-light-grey border-0">
                          hosting provider
                        </th>
                        <th class="text-capitalize font-12 text-light-grey border-0">
                          total business service
                        </th>
                        <th class="text-capitalize font-12 text-light-grey border-0">
                          total critical steps
                        </th>
                        <th class="border-0"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4"> supplier ABC
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          3rd party
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          <div class="d-flex align-items-center">
                            <div class="w-25px w-xxl-40px">
                              <%= image_pack_tag 'media/images/aws.png', class: 'img-fluid' %>
                            </div>
                            <span class="ml-1">AWS</span>
                          </div>
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          14
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          19
                        </td>
                        <td class="text-capitalize font-12 text-primary font-xxl-14 font-500 py-4" type="button" class="btn white-btn text-capitalize" data-toggle="modal" data-target="#exampleModal">
                          Breakdown
                        </td>
                      </tr>
                      <tr>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4"> supplier ABC
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          3rd party
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          <div class="d-flex align-items-center">
                            <div class="w-25px w-xxl-40px">
                              <%= image_pack_tag 'media/images/azure.png', class: 'img-fluid' %>
                            </div>
                            <p class="ml-1">Azure</p>
                          </div>
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          14
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          19
                        </td>
                        <td class="text-capitalize font-12 text-primary font-xxl-14 font-500 py-4" type="button" class="btn white-btn text-capitalize" data-toggle="modal" data-target="#exampleModal">
                          Breakdown
                        </td>
                      </tr>
                      <tr>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4"> supplier ABC
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          3rd party
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          <div class="d-flex align-items-center">
                            <div class="w-25px w-xxl-40px">
                              <%= image_pack_tag 'media/images/g-cloud.png', class: 'img-fluid' %>
                            </div>
                            <p class="ml-1">AWS</p>
                          </div>
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          14
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          19
                        </td>
                        <td class="text-capitalize font-12 text-primary font-xxl-14 font-500 py-4" type="button" class="btn white-btn text-capitalize" data-toggle="modal" data-target="#exampleModal">
                          Breakdown
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="tab-pane fade" id='contact'>
                <div class="table-responsive">
                  <table class="table bg-white">
                    <thead>
                      <tr class="border-top-0">
                        <th class="text-capitalize font-12 text-light-grey border-0">
                          supplier name
                        </th>
                        <th class="text-capitalize font-12 text-light-grey border-0">
                          party type
                        </th>
                        <th class="text-capitalize font-12 text-light-grey border-0">
                          hosting provider
                        </th>
                        <th class="text-capitalize font-12 text-light-grey border-0">
                          total business service
                        </th>
                        <th class="text-capitalize font-12 text-light-grey border-0">
                          total critical steps
                        </th>
                        <th class="border-0"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4"> supplier ABC
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          3rd party
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          <div class="d-flex align-items-center">
                            <div class="w-25px w-xxl-40px">
                              <%= image_pack_tag 'media/images/aws.png', class: 'img-fluid' %>
                            </div>
                            <span class="ml-1">AWS</span>
                          </div>
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          14
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          19
                        </td>
                        <td class="text-capitalize font-12 text-primary font-xxl-14 font-500 py-4" type="button" class="btn white-btn text-capitalize" data-toggle="modal" data-target="#exampleModal">
                          Breakdown
                        </td>
                      </tr>
                      <tr>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4"> supplier ABC
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          3rd party
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          <div class="d-flex align-items-center">
                            <div class="w-25px w-xxl-40px">
                              <%= image_pack_tag 'media/images/azure.png', class: 'img-fluid' %>
                            </div>
                            <p class="ml-1">Azure</p>
                          </div>
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          14
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          19
                        </td>
                        <td class="text-capitalize font-12 text-primary font-xxl-14 font-500 py-4" type="button" class="btn white-btn text-capitalize" data-toggle="modal" data-target="#exampleModal">
                          Breakdown
                        </td>
                      </tr>
                      <tr>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4"> supplier ABC
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          3rd party
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          <div class="d-flex align-items-center">
                            <div class="w-25px w-xxl-40px">
                              <%= image_pack_tag 'media/images/g-cloud.png', class: 'img-fluid' %>
                            </div>
                            <p class="ml-1">AWS</p>
                          </div>
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          14
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          19
                        </td>
                        <td class="text-capitalize font-12 text-primary font-xxl-14 font-500 py-4" type="button" class="btn white-btn text-capitalize" data-toggle="modal" data-target="#exampleModal">
                          Breakdown
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="section3" class="section mb-4">
        <div class="card border-0 rounded-50">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between flex-wrap">
              <h5 class="font-600 text-capitalize text-capitalize flex-1 mb-3 mr-4">Private cloud critical system/supplier breakdown</h5>
              <div class="filter-grouped d-flex mr-2 mb-3">
                <div class="dropdown body-color-dropdown mr-2">
                  <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class='dropdown-toggle text-capitalize py-2 pr-5 pl-2 d-flex align-items-center justify-content-start font-12 text-dark font-400 text-decoration-none' id='top-10'>10 results</a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item">Action</a>
                    <a class="dropdown-item">Filter top 10</a>
                    <a class="dropdown-item">Filter top 10</a>
                  </div>
                </div>
              </div>
              <i class="fa fa-ellipsis-v mb-3"></i>
            </div>
            <ul class="nav nav-tabs border-0 active-green my-4">
              <li class="nav-item mr-3">
                <a href="#iaas" class="nav-link active text-capitalize font-12 font-xxl-14 border-0 p-0 pb-2 text-light-grey font-500" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">IaaS</a>
              </li>
              <li class="nav-item mr-3">
                <a href="#paas" class="nav-link text-capitalize font-12 font-xxl-14 border-0 p-0 pb-2 text-light-grey font-500" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">PaaS</a>
              </li>
            </ul>
            <div class="form-group">
              <div class="my-4">
                <label for="" class="text-light-grey font-12 font-xxl-14 font-500">The following business services contain critical steps and are consuming IaaS/SaaS/PaaS technology components in the public cloud.</label>
                <span class="search-field d-block">
                  <i class="fa fa-search"></i>
                  <input type="text" class="bg-body-color form-control font-12 border-0 shadow-none" placeholder="Cloud System/Supplier" id="country-search-filter">
                </span>
              </div>
            </div>
            <div class="tab-content">
              <div class="tab-pane fade active show" id='iaas'>
                <div class="table-responsive">
                  <table class="table bg-white">
                    <thead>
                      <tr class="border-top-0">
                        <th class="text-capitalize font-12 text-light-grey border-0">
                          supplier name
                        </th>
                        <th class="text-capitalize font-12 text-light-grey border-0">
                          party type
                        </th>
                        <th class="text-capitalize font-12 text-light-grey border-0">
                          hosting provider
                        </th>
                        <th class="text-capitalize font-12 text-light-grey border-0">
                          total business service
                        </th>
                        <th class="text-capitalize font-12 text-light-grey border-0">
                          total critical steps
                        </th>
                        <th class="border-0"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4"> supplier ABC
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          3rd party
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          <div class="d-flex align-items-center">
                            <div class="w-25px w-xxl-40px">
                              <%= image_pack_tag 'media/images/aws.png', class: 'img-fluid' %>
                            </div>
                            <span class="ml-1">AWS</span>
                          </div>
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          14
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          19
                        </td>
                        <td class="text-capitalize font-12 text-primary font-xxl-14 font-500 py-4" type="button" class="btn white-btn text-capitalize" data-toggle="modal" data-target="#exampleModal">
                          Breakdown
                        </td>
                      </tr>
                      <tr>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4"> supplier ABC
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          3rd party
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          <div class="d-flex align-items-center">
                            <div class="w-25px w-xxl-40px">
                              <%= image_pack_tag 'media/images/azure.png', class: 'img-fluid' %>
                            </div>
                            <p class="ml-1">Azure</p>
                          </div>
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          14
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          19
                        </td>
                        <td class="text-capitalize font-12 text-primary font-xxl-14 font-500 py-4" type="button" class="btn white-btn text-capitalize" data-toggle="modal" data-target="#exampleModal">
                          Breakdown
                        </td>
                      </tr>
                      <tr>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4"> supplier ABC
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          3rd party
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          <div class="d-flex align-items-center">
                            <div class="w-25px w-xxl-40px">
                              <%= image_pack_tag 'media/images/g-cloud.png', class: 'img-fluid' %>
                            </div>
                            <p class="ml-1">AWS</p>
                          </div>
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          14
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          19
                        </td>
                        <td class="text-capitalize font-12 text-primary font-xxl-14 font-500 py-4" type="button" class="btn white-btn text-capitalize" data-toggle="modal" data-target="#exampleModal">
                          Breakdown
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <nav aria-label="Page navigation example">
                  <ul class="pagination pagination-active justify-content-center mb-0">
                    <li class="page-item active"><a class="rounded-0 font-12 font-xxl-14 page-link border-0 text-light-grey shadow-none transition" href="javascript:void(0);">1</a></li>
                    <li class="page-item"><a class="rounded-0 font-12 font-xxl-14 page-link border-0 text-light-grey shadow-none transition" href="javascript:void(0);">2</a></li>
                    <li class="page-item"><a class="rounded-0 font-12 font-xxl-14 page-link border-0 text-light-grey shadow-none transition" href="javascript:void(0);">3</a></li>
                    <li class="page-item"><a class="rounded-0 font-12 font-xxl-14 page-link border-0 text-light-grey shadow-none transition" href="javascript:void(0);">4</a></li>
                  </ul>
                </nav>
              </div>
              <div class="tab-pane fade" id='paas'>
                <div class="table-responsive">
                  <table class="table bg-white">
                    <thead>
                      <tr class="border-top-0">
                        <th class="text-capitalize font-12 text-light-grey border-0">
                          supplier name
                        </th>
                        <th class="text-capitalize font-12 text-light-grey border-0">
                          party type
                        </th>
                        <th class="text-capitalize font-12 text-light-grey border-0">
                          hosting provider
                        </th>
                        <th class="text-capitalize font-12 text-light-grey border-0">
                          total business service
                        </th>
                        <th class="text-capitalize font-12 text-light-grey border-0">
                          total critical steps
                        </th>
                        <th class="border-0"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4"> supplier ABC
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          3rd party
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          <div class="d-flex align-items-center">
                            <div class="w-25px w-xxl-40px">
                              <%= image_pack_tag 'media/images/aws.png', class: 'img-fluid' %>
                            </div>
                            <span class="ml-1">AWS</span>
                          </div>
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          14
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          19
                        </td>
                        <td class="text-capitalize font-12 text-primary font-xxl-14 font-500 py-4" type="button" class="btn white-btn text-capitalize" data-toggle="modal" data-target="#exampleModal">
                          Breakdown
                        </td>
                      </tr>
                      <tr>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4"> supplier ABC
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          3rd party
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          <div class="d-flex align-items-center">
                            <div class="w-25px w-xxl-40px">
                              <%= image_pack_tag 'media/images/azure.png', class: 'img-fluid' %>
                            </div>
                            <p class="ml-1">Azure</p>
                          </div>
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          14
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          19
                        </td>
                        <td class="text-capitalize font-12 text-primary font-xxl-14 font-500 py-4" type="button" class="btn white-btn text-capitalize" data-toggle="modal" data-target="#exampleModal">
                          Breakdown
                        </td>
                      </tr>
                      <tr>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4"> supplier ABC
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          3rd party
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          <div class="d-flex align-items-center">
                            <div class="w-25px w-xxl-40px">
                              <%= image_pack_tag 'media/images/g-cloud.png', class: 'img-fluid' %>
                            </div>
                            <p class="ml-1">AWS</p>
                          </div>
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          14
                        </td>
                        <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">
                          19
                        </td>
                        <td class="text-capitalize font-12 text-primary font-xxl-14 font-500 py-4" type="button" class="btn white-btn text-capitalize" data-toggle="modal" data-target="#exampleModal">
                          Breakdown
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="section4" class="section mb-4">
        <div class="card border-0 rounded-50">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between flex-wrap">
              <h5 class="font-600 text-capitalize text-capitalize flex-1 mb-3 mr-4">top 10 conformant supplier</h5>
              <div class="filter-grouped d-flex mr-2 mb-3">
                <div class="dropdown body-color-dropdown mr-2">
                  <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class='dropdown-toggle text-capitalize py-2 pr-5 pl-2 d-flex align-items-center justify-content-start font-12 text-dark font-400 text-decoration-none' id='top-10'>view top 10</a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item">Action</a>
                    <a class="dropdown-item">Filter top 10</a>
                    <a class="dropdown-item">Filter top 10</a>
                  </div>
                </div>
              </div>
              <i class="fa fa-ellipsis-v mb-3"></i>
            </div>
            <div class="table-responsive bg-body-color">
              <table class="table bg-white m-0">
                <thead>
                  <tr class="border-top-0">
                    <th class="text-capitalize font-12 text-light-grey border-0">
                      supplier name
                    </th>
                    <th class="text-capitalize font-12 text-light-grey border-0">
                      Used by Total Number of Insitutions
                    </th>
                    <th class="text-capitalize font-12 text-light-grey border-0">
                      Used by Total Number of business services
                    </th>
                    <th class="text-capitalize font-12 text-light-grey border-0">
                      critical supplier status total
                    </th>
                    <th class="text-capitalize font-12 text-light-grey border-0">
                      important supplier status total
                    </th>
                    <th class="text-capitalize font-12 text-light-grey border-0">
                      supplier conformance % with impact tolerances
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-uppercase font-12 font-xxl-14 font-700 py-4 w-25">Name here</td>
                    <td class="font-12 font-xxl-14 py-4">
                      <span class="font-500">19</span>
                    </td>
                    <td class="font-12 font-xxl-14 py-4">
                      <span class="font-500">6</span>
                    </td>
                    <td class="font-12 font-xxl-14 py-4">
                      <span class="font-500">13</span>
                    </td>
                    <td class="font-12 font-xxl-14 py-4">
                      <span class="font-500">42</span>
                    </td>
                    <td class="font-12 font-xxl-14 py-4">
                      <span class="font-500">42</span>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">Name here</td>
                    <td class="font-12 font-xxl-14 py-4">
                      <span class="font-500">19</span>
                    </td>
                    <td class="font-12 font-xxl-14 py-4">
                      <span class="font-500">6</span>
                    </td>
                    <td class="font-12 font-xxl-14 py-4">
                      <span class="font-500">13</span>
                    </td>
                    <td class="font-12 font-xxl-14 py-4">
                      <span class="font-500">42</span>
                    </td>
                    <td class="font-12 font-xxl-14 py-4">
                      <span class="font-500">42</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
      <section id="section5" class="section">
        <div class="card border-0 rounded-50">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between flex-wrap">
              <h5 class="font-600 text-capitalize text-capitalize flex-1 mb-3 mr-4">top non-conformant supplier</h5>
              <div class="filter-grouped d-flex mr-2 mb-3">
                <div class="dropdown body-color-dropdown mr-2">
                  <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class='dropdown-toggle text-capitalize py-2 pr-5 pl-2 d-flex align-items-center justify-content-start font-12 text-dark font-400 text-decoration-none' id='top-10'>view top 10</a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item">Action</a>
                    <a class="dropdown-item">Filter top 10</a>
                    <a class="dropdown-item">Filter top 10</a>
                  </div>
                </div>
              </div>
              <i class="fa fa-ellipsis-v mb-3"></i>
            </div>
            <div class="table-responsive bg-body-color">
              <table class="table bg-white m-0">
                <thead>
                  <tr class="border-top-0">
                    <th class="text-capitalize font-12 text-light-grey border-0">
                      supplier name
                    </th>
                    <th class="text-capitalize font-12 text-light-grey border-0">
                      Used by Total Number of Insitutions
                    </th>
                    <th class="text-capitalize font-12 text-light-grey border-0">
                      Used by Total Number of business services
                    </th>
                    <th class="text-capitalize font-12 text-light-grey border-0">
                      critical supplier status total
                    </th>
                    <th class="text-capitalize font-12 text-light-grey border-0">
                      important supplier status total
                    </th>
                    <th class="text-capitalize font-12 text-light-grey border-0">
                      supplier conformance % with impact tolerances
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-uppercase font-12 font-xxl-14 font-700 py-4 w-25">Name here</td>
                    <td class="font-12 font-xxl-14 py-4">
                      <span class="font-500">19</span>
                    </td>
                    <td class="font-12 font-xxl-14 py-4">
                      <span class="font-500">6</span>
                    </td>
                    <td class="font-12 font-xxl-14 py-4">
                      <span class="font-500">13</span>
                    </td>
                    <td class="font-12 font-xxl-14 py-4">
                      <span class="font-500">42</span>
                    </td>
                    <td class="font-12 font-xxl-14 py-4">
                      <span class="font-500">42</span>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">Name here</td>
                    <td class="font-12 font-xxl-14 py-4">
                      <span class="font-500">19</span>
                    </td>
                    <td class="font-12 font-xxl-14 py-4">
                      <span class="font-500">6</span>
                    </td>
                    <td class="font-12 font-xxl-14 py-4">
                      <span class="font-500">13</span>
                    </td>
                    <td class="font-12 font-xxl-14 py-4">
                      <span class="font-500">42</span>
                    </td>
                    <td class="font-12 font-xxl-14 py-4">
                      <span class="font-500">42</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal px-2 fade mt-5 pt-5" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog max-width-100 w-100 w-sm-75 mx-auto">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h5 class="modal-title text-capitalize font-600 mt-4" id="exampleModalLabel">"supplier ABC" critical & important steps across business services.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-3">
        <div class="filter d-flex justify-content-between mb-4 flex-wrap">
          <div class="left d-flex align-items-center mb-3">
            <div class="dropdown mr-3">
              <a class="text-black text-decoration-none dropdown-toggle font-12 font-500 font-xxl-14 text-capitalize text-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All party types
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
            <div class="dropdown">
              <a class="text-black text-decoration-none dropdown-toggle font-12 font-400 font-xxl-14 text-capitalize text-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All service tiers
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
          <div class="right d-flex mb-3">
            <div class="dropdown body-color-dropdown w-auto mr-2">
              <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class='dropdown-toggle text-capitalize py-2 pr-5 pl-2 d-flex align-items-center justify-content-start font-12 text-dark font-400 text-decoration-none' id='top-10'>10 per page</a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item">Action</a>
                <a class="dropdown-item">Filter top 10</a>
                <a class="dropdown-item">Filter top 10</a>
              </div>
            </div>
            <div class="dropdown body-color-dropdown w-auto mr-2">
              <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class='dropdown-toggle text-capitalize py-2 pr-5 pl-2 d-flex align-items-center justify-content-start font-12 text-dark font-400 text-decoration-none' id='top-10'>high to low</a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item">Action</a>
                <a class="dropdown-item">Filter top 10</a>
                <a class="dropdown-item">Filter top 10</a>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table bg-white">
            <thead>
              <tr class="border-top-0">
                <th class="text-capitalize font-12 text-light-grey border-0">
                  supplier name
                </th>
                <th class="text-capitalize font-12 text-light-grey border-0">
                  party type
                </th>
                <th class="text-capitalize font-12 text-light-grey border-0">
                  business services
                </th>
                <th class="text-capitalize font-12 text-light-grey border-0">
                  service tier
                </th>
                <th class="text-capitalize font-12 text-light-grey border-0">
                  total number of critical steps underpinned
                </th>
                <th class="text-capitalize font-12 text-light-grey border-0">
                  total number of important steps underpinned
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-uppercase font-12 font-xxl-14 font-700 py-4 w-25">Name here</td>
                <td class="font-12 font-xxl-14 py-4">
                  <span class="font-500">19</span>
                </td>
                <td class="font-12 font-xxl-14 py-4">
                  <span class="font-500">6</span>
                </td>
                <td class="font-12 font-xxl-14 py-4">
                  <span class="font-500">13</span>
                </td>
                <td class="font-12 font-xxl-14 py-4">
                  <span class="font-500">42</span>
                </td>
                <td class="font-12 font-xxl-14 py-4">
                  <span class="font-500">42</span>
                </td>
              </tr>
              <tr>
                <td class="text-uppercase font-12 font-xxl-14 font-700 py-4">Name here</td>
                <td class="font-12 font-xxl-14 py-4">
                  <span class="font-500">19</span>
                </td>
                <td class="font-12 font-xxl-14 py-4">
                  <span class="font-500">6</span>
                </td>
                <td class="font-12 font-xxl-14 py-4">
                  <span class="font-500">13</span>
                </td>
                <td class="font-12 font-xxl-14 py-4">
                  <span class="font-500">42</span>
                </td>
                <td class="font-12 font-xxl-14 py-4">
                  <span class="font-500">42</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
