<div class="row no-gutters">
  <div class="col-sm-12 px-1">
    <div class="d-flex justify-content-between align-items-center flex-wrap">
      <div class="left d-flex align-items-center flex-wrap">
        <div class="mr-4 back-btn mb-3 mb-lg-0">
          <%= render 'layouts/partials/shared/redirect_back', path: organisation_dashboard_index_path %>
        </div>
        <h2 class="font-600 font-sm-18 font-25 text-capitalize">global resilience gaps for <%= @tier.titleize %> business services</h2>
      </div>
      <div class="right d-flex mt-3 mt-lg-0">
        <!-- <div class="white-btn d-flex align-items-center pl-2 mr-2 rounded-50 px-3 pr-2 py-2 cursor-pointer">
          <span><i class='fa fa-save font-16 mr-2'></i></span>
          <span class="text-capitalize font-12 font-xxl-14 font-600">save view</span>
        </div>
        <div class="white-btn p-1 d-flex align-items-center rounded-50 cursor-pointer">
          <i class="fa fa-ellipsis-v px-2 mx-1"></i>
        </div> -->
      </div>
    </div>
  </div>
</div>
<div class="row mt-5">
  <div class="col-md-12">
    <div class="card border-0 shadow-sm rounded-50 overflow-hidden">
      <div class="card-body">
        <%= form_tag impact_tolerance_appetite_organisation_dashboard_break_downs_path({tier: @tier }), remote: true, method: :get do %>
          <div class="tb-header align-items-center flex-wrap d-flex justify-content-between flex-lg-row flex-column">
            <%= hidden_field_tag 'tier', @tier %>
            <div class="form-group mb-lg-0 mb-3 flex-1 mr-0 mr-lg-2 w-100">
              <span class="search-field d-block">
                <i class="fa fa-search"></i>
                <%= text_field_tag 'filters[query]', params.dig("filters", "query"), placeholder: 'Search Global Resilience Gaps', class: "bg-body-color h-auto form-control font-12 border-0 shadow-none py-3", id: "search-filter", autocomplete: 'off', onkeyup: 'RailsUJS.fire(this.form, "submit")' %>
              </span>
            </div>
            <div class="filter-grouped d-flex flex-sm-nowrap flex-wrap flex-half w-100">
              <!-- <div class="dropdown body-color-dropdown mb-sm-0 mb-3 mr-0 mr-sm-2 w-100 rounded">
                <div class="select-arrow position-relative">
                  <%#= select_tag "filters[sort]", options_for_select([["Sort By: Risk High to Low",'asc'], ["Sort By: Risk Low to High",'desc']]), class: "form-control w-100 font-12 h-auto py-3 border-0 shadow-none pr-4 bg-body-color bg-light", onchange: 'RailsUJS.fire(this.form, "submit")' %>
                  <i class="fa fa-sort-desc position-absolute" aria-hidden="true"></i>
                </div>
              </div> -->
              <div class="dropdown body-color-dropdown w-100 rounded">
                <div class="select-arrow position-relative">
                  <%= select_tag "per", options_for_select([["Filter Top 5",5], ["Filter Top 10",10], ["Filter Top 20",20], ["Filter Top 30",30]]), class: "form-control w-100 font-12 h-auto py-3 border-0 shadow-none pr-4 bg-body-color bg-light", onchange: 'RailsUJS.fire(this.form, "submit")' %>
                  <i class="fa fa-sort-desc position-absolute" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="filter-header">
            <div class="table-filter-field d-flex mt-4 mb-2 flex-wrap">
              <div class="filter mr-3 flex-1" id="segmentation-regions">
                <%= render 'organisation/dashboard/partials/regions_option_render', regions: organisational_regions %>
              </div>
              <div class="filter mr-3 flex-1" id="segmentation-countries">
                <%= render 'organisation/dashboard/partials/countries_option_render', countries: organisational_countries %>
              </div>
              <div class="filter mr-3 flex-1" id="segmentation-institutions">
                <%= render 'organisation/dashboard/partials/institutions_option_render', institutions: organisational_institutions %>
              </div>
              <div class="filter mr-3 flex-1" id="institution-products">
                <%= render 'organisation/dashboard/partials/products_option_render', products: organisational_products %>
              </div>
              <div class="filter mr-3 flex-1" id="segmentation-bsls">
                <%= render 'organisation/dashboard_break_downs/partials/bsl_option_render', bsls: @bsls %>
              </div>
              <!-- <div class="filter mr-3 flex-1">
                <div class="dropdown body-color-dropdown w-100 rounded">
                  <div class="select-arrow position-relative">
                    <%#= select_tag "filters[resilience_risk_level]", options_for_select(ResilienceTicket.risk_levels.map {|key,value| [key.titleize, value]}), prompt: 'Select Risk Levels', class: "form-control w-100 font-12 h-auto py-3 border-0 shadow-none pr-4 bg-body-color bg-light", onchange: 'RailsUJS.fire(this.form, "submit")' %>
                    <i class="fa fa-sort-desc position-absolute" aria-hidden="true"></i>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        <% end %>

        <div id="resilience-gap-table" class="table-responsive mt-0 mt-lg-3">
          <%= render 'organisation/dashboard_break_downs/partials/resilience_gap_table', resilience_gaps: @resilience_gaps %>
        </div>
      </div>
    </div>
    <!-- <div class="row mt-4">
      <div class="col-sm-12 text-center">
        <nav aria-label="Page navigation example">
          <ul class="pagination pagination-active justify-content-center mb-0">
            <li class="page-item active"><a class="rounded-0 font-12 font-xxl-14 page-link border-0 text-light-grey shadow-none transition bg-white" href="javascript:void(0);">1</a></li>
            <li class="page-item"><a class="rounded-0 font-12 font-xxl-14 page-link border-0 text-light-grey shadow-none transition bg-transparent" href="javascript:void(0);">2</a></li>
            <li class="page-item"><a class="rounded-0 font-12 font-xxl-14 page-link border-0 text-light-grey shadow-none transition bg-transparent" href="javascript:void(0);">3</a></li>
            <li class="page-item"><a class="rounded-0 font-12 font-xxl-14 page-link border-0 text-light-grey shadow-none transition bg-transparent" href="javascript:void(0);">4</a></li>
          </ul>
        </nav>
      </div>
    </div> -->
  </div>
</div>
