<div class="card border-0 shadow-sm rounded-50 mb-4">
  <div class="card-body px-0">
    <div class="box">
      <div class="d-flex justify-content-between align-items-center mb-4 px-4">
        <h5 class="text-capitalize text-left">Aggregated Risk Posture</h5>
        <div class="text-right">
          <a href="#" class="text-black">
            <i class="fa fa-ellipsis-v text-right" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div class="mb-4 px-4">
        <div class="row">
          <div id="supplier-conformance-impact-tolerance" class="custom-high-chart col-sm-6 px-md-3 lazy-graph" data-key="supplier_conformance_impact_tolerance" data-args="<%= { supplier: @supplier.id }.to_json %>" data-append-to="supplier-conformance-impact-tolerance" data-partial-name="supplier_conformance_impact_tolerance">
            <%= render 'organisation/graphs/partials/supplier_conformance_impact_tolerance', data: {} %>
          </div>
          <div class="col-md-6 d-flex align-items-center justify-content-center">
            <div class="card border-0 pie-high-chart">
              <div class="card-header border-0 bg-white text-center">
                <div class="donut-content">
                  <div class="align-items-center justify-content-center">
                    <div class="round p-5 bg-pink">
                      <i class="fa fa-exclamation-triangle font-40 text-red"></i>
                    </div>
                  </div>
                </div>
                <div class="text text-center mt-3">
                  <p class="font-13 font-400">Open Resilience Gaps</p>
                  <h6 class="font-13 font-600">10</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div id="supplier-critical-important-bsl" class="lazy-graph col-md-6 col-lg-4" data-key="supplier_critical_important_bsl" data-args="<%= { supplier: @supplier.id }.to_json %>" data-append-to="supplier-critical-important-bsl" data-partial-name="supplier_critical_important_bsl">
          <%= render 'organisation/graphs/partials/supplier_critical_important_bsl', data: {} %>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card border-0 pie-high-chart rounded-50">
            <div class="card-header border-0 bg-white text-center">
              <p class="font-14 font-600 chart-header-title text-left mb-2 h-70px">Conformance with Business Service Impact Tolerances</p>
              <%= link_to compound_resilience_organisation_business_service_lines_path do %>
                <div class="donut-content mb-2">
                  <div id="two-colored-donut-1" class="donut"></div>
                  <div class="donut-value font-50 font-700 text-black">0</div>
                </div>
              <% end %>
            </div>
            <div class="card-body">
              <div class="tiers d-flex justify-content-between align-items-center mb-3">
                <div class="color-tier d-flex align-items-center">
                  <div class="circle green-1"></div>
                  <span class="font-12 font-400 ml-2">Matches Impact Tolerances</span>
                </div>
                <span class="font-12 font-700">0</span>
              </div>
              <div class="tiers d-flex justify-content-between align-items-center mb-3">
                <div class="color-tier d-flex align-items-center">
                  <div class="circle green-2"></div>
                  <span class="font-12 font-400 ml-2">Meets Impact Tolerances</span>
                </div>
                <span class="font-12 font-700">0</span>
              </div>
              <div class="tiers d-flex justify-content-between align-items-center mb-3">
                <div class="color-tier d-flex align-items-center">
                  <div class="circle green-2"></div>
                  <span class="font-12 font-400 ml-2">Exceeds Impact Tolerances</span>
                </div>
                <span class="font-12 font-700">0</span>
              </div>
            </div>
          </div>
        </div>
        <div id="supplier-third-fourth-party-bsl" class="lazy-graph col-md-6 col-lg-4" data-key="supplier_third_fourth_party_bsl" data-args="<%= { supplier: @supplier.id }.to_json %>" data-append-to="supplier-third-fourth-party-bsl" data-partial-name="supplier_third_fourth_party_bsl">
          <%= render 'organisation/graphs/partials/supplier_third_fourth_party_bsl', data: {} %>
        </div>
      </div>
    </div>
  </div>
</div>
