<div class="card border-0 shadow-sm rounded-50 mb-4">
  <div class="card-body px-0">
    <div class="box">
      <div class="d-flex justify-content-between align-items-center mb-4 px-4">
        <h5 class="text-capitalize text-left">AWS Services Used By Supplier</h5>
        <div class="text-right">
          <a href="#" class="text-black">
            <i class="fa fa-ellipsis-v text-right" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div class="row mt-3 d-flex no-gutters">
        <div class="col-md-12">
          <div class="card border-0 px-2">
            <div class="card-header bg-transparent d-flex justify-content-between align-items-center border-0 pt-4">
              <h3 class="font-14 font-600">Resilience Risk Indicator</h3>
              <div class="dropdown body-color-dropdown mr-2">
                <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class='dropdown-toggle text-capitalize py-2 pr-5 pl-2 d-flex align-items-center justify-content-start font-12 text-dark font-600' id='top-10'>Last 6 Months</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item">Action</a>
                  <a class="dropdown-item">Filter top 10</a>
                  <a class="dropdown-item">Filter top 10</a>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-striped mb-0">
                <thead>
                  <tr>
                    <th class="border-0 px-4 font-500 font-12">AWS Service</th>
                    <th class="border-0 px-4 font-500 font-12">20th</th>
                    <th class="border-0 px-4 font-500 font-12">21st</th>
                    <th class="border-0 px-4 font-500 font-12">22nd</th>
                    <th class="border-0 px-4 font-500 font-12">23rd</th>
                    <th class="border-0 px-4 font-500 font-12">24th</th>
                    <th class="border-0 px-4 font-500 font-12">25th</th>
                    <th class="border-0 px-4 font-500 font-12">26th</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td width='200px' class="font-12 px-4 align-middle">
                      Fargate
                    </td>
                    <td class="font-12 px-4 align-middle">
                      <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                    </td>
                    <td class="font-12 px-4 align-middle">
                      <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                    </td>
                    <td class="font-12 px-4 align-middle">
                      <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                    </td>
                    <td class="font-12 px-4 align-middle">
                      <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                    </td>
                    <td class="font-12 px-4 align-middle">
                      <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                    </td>
                    <td class="font-12 px-4 align-middle">
                      <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                    </td>
                    <td class="font-12 px-4 align-middle">
                      <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                    </td>
                  </tr>
                  <tr>
                    <td width='200px' class="font-12 px-4 align-middle">
                      Code Pipeline
                    </td>
                    <td class="font-12 px-4 align-middle">
                      <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                    </td>
                    <td class="font-12 px-4 align-middle">
                      <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                    </td>
                    <td class="font-12 px-4 align-middle">
                      <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                    </td>
                    <td class="font-12 px-4 align-middle">
                      <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                    </td>
                    <td class="font-12 px-4 align-middle">
                      <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                    </td>
                    <td class="font-12 px-4 align-middle">
                      <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                    </td>
                    <td class="font-12 px-4 align-middle">
                      <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                    </td>
                  </tr>
                  <tr>
                    <td width='200px' class="font-12 px-4 align-middle">
                      Code Deploy
                    </td>
                    <td class="font-12 px-4 align-middle">
                      <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                    </td>
                    <td class="font-12 px-4 align-middle">
                      <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                    </td>
                    <td class="font-12 px-4 align-middle">
                      <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                    </td>
                    <td class="font-12 px-4 align-middle">
                      <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                    </td>
                    <td class="font-12 px-4 align-middle">
                      <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                    </td>
                    <td class="font-12 px-4 align-middle">
                      <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                    </td>
                    <td class="font-12 px-4 align-middle">
                      <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                    </td>
                  </tr>
                  <tr>
                    <td width='200px' class="font-12 px-4 align-middle">
                      ELB
                    </td>
                    <td class="font-12 px-4 align-middle">
                      <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                    </td>
                    <td class="font-12 px-4 align-middle">
                      <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                    </td>
                    <td class="font-12 px-4 align-middle">
                      <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                    </td>
                    <td class="font-12 px-4 align-middle">
                      <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                    </td>
                    <td class="font-12 px-4 align-middle">
                      <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                    </td>
                    <td class="font-12 px-4 align-middle">
                      <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                    </td>
                    <td class="font-12 px-4 align-middle">
                      <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                    </td>
                  </tr>
                  <tr>
                    <td width='200px' class="font-12 px-4 align-middle">
                      ALB
                    </td>
                    <td class="font-12 px-4 align-middle">
                      <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                    </td>
                    <td class="font-12 px-4 align-middle">
                      <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                    </td>
                    <td class="font-12 px-4 align-middle">
                      <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                    </td>
                    <td class="font-12 px-4 align-middle">
                      <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                    </td>
                    <td class="font-12 px-4 align-middle">
                      <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                    </td>
                    <td class="font-12 px-4 align-middle">
                      <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                    </td>
                    <td class="font-12 px-4 align-middle">
                      <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                    </td>
                  </tr>
                  <tr>
                    <td width='200px' class="font-12 px-4 align-middle">
                      RDS
                    </td>
                    <td class="font-12 px-4 align-middle">
                      <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                    </td>
                    <td class="font-12 px-4 align-middle">
                      <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                    </td>
                    <td class="font-12 px-4 align-middle">
                      <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                    </td>
                    <td class="font-12 px-4 align-middle">
                      <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                    </td>
                    <td class="font-12 px-4 align-middle">
                      <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                    </td>
                    <td class="font-12 px-4 align-middle">
                      <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                    </td>
                    <td class="font-12 px-4 align-middle">
                      <%= image_pack_tag 'media/images/tick.png', class: 'img-fluid w-100' %>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
