<div class="card border-0 shadow-sm rounded-50 mb-4">
  <div class="card-body">
    <div class="box">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h5 class="text-capitalize text-left">supplier compliance documentation</h5>
        <div class="text-right">
          <a href="#" class="text-black">
            <i class="fa fa-ellipsis-v text-right" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <%= form_tag search_and_filter_organisation_supplier_path(supplier), method: :get, remote: true do %>
        <div class="row no-gutters">
          <div class="form-group col-lg-12 px-1">
            <span class="search-field d-block">
              <i class="fa fa-search"></i>
              <%= text_field_tag 'query', nil, placeholder: 'Search Global Resilience Gaps', class: "bg-light h-auto form-control font-12 border-0 shadow-none", id: "country-search-filter", onfocusout: 'RailsUJS.fire(this.form, "submit")' %>
            </span>
          </div>
          <div class="col-lg-4 px-1 mb-2 mb-lg-0">
            <div class="dropdown bg-body-color rounded">
              <div class="select-arrow position-relative">
                <%= select_tag "sort", options_for_select([["Green","green"], ["Amber","amber"], ["Red", "red"]]), include_blank: "Sort By: RAG Status", class: "form-control w-100 font-12 border-0 h-auto py-3 shadow-none pr-4 bg-body-color bg-light", onchange: 'RailsUJS.fire(this.form, "submit")' %>
                <i class="fa fa-sort-desc position-absolute" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="col-lg-4 px-1 mb-2 mb-lg-0">
            <div class="dropdown bg-body-color rounded">
              <div class="select-arrow position-relative">
                <%= select_tag "filter", options_for_select([["10 results per page",10], ["20 results per page",20], ["30 results per page",30]]), class: "form-control w-100 font-12 h-auto py-3 border-0 shadow-none pr-4 bg-body-color bg-light", onchange: 'RailsUJS.fire(this.form, "submit")' %>
                <i class="fa fa-sort-desc position-absolute" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="col-lg-4 px-1">
            <div class="dropdown bg-black rounded">
              <%= link_to new_organisation_supplier_compliance_evidence_path(supplier), class: "btn btn-lg font-20 w-auto text-decoration-none dark-btn d-flex align-items-center align-items-center", remote: true do %>
                <i class="fa fa-plus-circle mr-1 font-18"></i>
                <span class="font-12 mr-4 ml-1">Add New</span>
                <i class="fa fa-caret-down font-12 ml-auto" aria-hidden="true"></i>
              <% end %>
              <div class="dropdown-menu py-0 px-0" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item font-12 px-3 py-3 border-bottom rounded-0 text-capitalize font-700" href="#">service line</a>
                <a class="dropdown-item font-12 px-3 py-3 border-bottom rounded-0 text-capitalize font-700" href="#">service line via upload</a>
                <a class="dropdown-item font-12 px-3 py-3 border-bottom rounded-0 text-capitalize font-700" href="#">Supplier</a>
                <a class="dropdown-item font-12 px-3 py-3 rounded-0 text-capitalize font-700" href="#">Supplier via upload</a>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="table-responsive mt-0 mt-lg-3">
        <div id='compliance-evidence-table-render'>
          <%= render "organisation/compliance_evidences/compliance_evidence_table", supplier: supplier, compliance_evidences: compliance_evidences %>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="compliance_evidence_modal"></div>
